.quests {

    .new-quest {
        h2 {
            font-weight: bolder !important;
        }

        i {
            color: $theme-3 !important;
        }
    }

    .badge_new {
        max-width: 35px;
        @include rotate(-15deg);
        position: absolute;
        left: -20px;
        top: -20px;
        z-index: 100;
    }

    .relative {
        position: relative;
    }

}

.quest_detail{

}
