<ion-view view-title="{{'titles.messages' | translate}}" class="messages">

    <ion-nav-buttons side="right">
        <!--<button class="button button-icon button-clear nav-button ion-search" ng-click="toggleSearch()"></button>-->
        <!--<button class="button button-icon button-clear nav-button ion-compose" ng-click="selectContact()"></button>-->
        <button class="button button-icon button-clear nav-button ion-navicon-round" menu-toggle="right" ng-show="isLoggedIn()"></button>
    </ion-nav-buttons>

    <ion-content>

        <div class="cb-search" ng-show="showSearch">
            <input class="cb-input" ng-model="search.term" focus-me="showSearch">
            <button ng-click="search.term = ''">
                <i class="ion-backspace"></i>
            </button>
        </div>

        <ion-list class="cb-message-list" show-delete="false" ng-show="board.length == 0">
            <ion-item class="cb-message item" href="#">
                <div class=" item-icon-left">
                    <i class="icon ion-information-circled"></i>
                    You have not created a message yet! <br>
                    Go to a group to create the first one.
                </div>
            </ion-item>
        </ion-list>

        <div class="cb-message-list" ng-hide="board.length == 0">
            <div class="cb-message item" ng-repeat="message in board | orderBy:'-preview.dateQueued' | filter:filterMessage"
                 ng-click="goTo('app.messagesDetail', '{{message.from._id}}', '{{message.to._id}}')" ng-if="!isMe(message.user)">

                <div class="avatar">
                    <svg width="100%" height="100%">
                        <defs>
                            <clipPath id="cp1" clipPathUnits="objectBoundingBox">
                                <circle cx="0.5" cy="0.5" r="0.5" id="circleClip" />
                            </clipPath>
                        </defs>
                        <foreignObject clip-path="url(#cp1)" width="100%" height="100%">
                            <img ng-attr-src="{{message.user.avatarURL}}" width="100%" height="100%" id="avatar" />        
                        </foreignObject>
                    </svg>
                </div>

                <p>{{message.preview.body}}</p>

                <h3>
                    Asunto: {{message.user.firstName}} {{message.user.lastName}}
                </h3>

                <div class="status" ng-if="contact.student.parents[0].hasAppAccess">MOBILE</div>
                <div class="status" ng-if="!contact.student.parents[0].hasAppAccess">MAIL</div>

                <span class="timestamp" ng-if="message.preview.status == 'ready'"> {{fromNow(message.preview.dateQueued)}} </span>
                <span class="timestamp" ng-if="message.preview.status == 'sent'"> {{fromNow(message.preview.dateSent)}} </span>
                <span class="timestamp" ng-if="message.preview.status == 'received'"> {{fromNow(message.preview.dateReceived)}} </span>
                <span class="timestamp" ng-if="message.preview.status == 'read'"> {{fromNow(message.preview.dateRead)}} </span>

            </div>
        </div>

    </ion-content>

</ion-view>





