<ion-view view-title="{{'titles.messages' | translate}}" class="messages">

    <div class="cb-chat-interlocutor">

        <div class="cb-chat-interlocutor-back">
            <button class="button button-icon button-clear ion-android-arrow-back" ng-click="goBack()"></button>
        </div>

        <div class="cb-chat-interlocutor-avatar">
            <svg width="100%" height="100%">
                <defs>
                    <clipPath id="cp1" clipPathUnits="objectBoundingBox">
                        <circle cx="0.5" cy="0.5" r="0.5" id="circleClip" />
                    </clipPath>
                </defs>
                <foreignObject clip-path="url(#cp1)" width="100%" height="100%">
                    <img ng-attr-src="{{interlocutor.avatarURL}}" width="100%" height="100%" id="avatar" />        
                </foreignObject>
            </svg>
        </div>
        <div class="cb-chat-interlocutor-name">
            {{interlocutor.firstName}} {{interlocutor.lastName}}
        </div>
        <!--<div class="cb-chat-interlocutor-status">
            {{interlocutorStatus}}
        </div>-->
    </div>

    <ion-content>

        <div class="cb-chat" scroll-glue>

            <div class="cb-chat-block" ng-repeat="message in conversation | orderBy:'dateQueued' track by $index">
                <div class="cb-chat-aside-left" ng-if="!messageIsOwn(message) && (conversation[$index-1].from._id.toString() != message.from._id.toString() || $index == 0)">
                    <!--<div class="cb-chat-avatar">
                        <div class="avatar">
                            <svg width="100%" height="100%">
                                <defs>
                                    <clipPath id="cp1" clipPathUnits="objectBoundingBox">
                                        <circle cx="0.5" cy="0.5" r="0.5" id="circleClip" />
                                    </clipPath>
                                </defs>
                                <foreignObject clip-path="url(#cp1)" width="100%" height="100%">
                                    <img ng-attr-src="{{message.from.avatarURL}}" width="100%" height="100%" id="avatar" />        
                                </foreignObject>
                            </svg>
                        </div>
                    </div>-->
                </div>

                <!--<div class="cb-chat-main" ng-class="{right:messageIsOwn(message)}">-->
                    <div class="cb-chat-main">

                    <div class="cb-chat-bubble" ng-class="message.type">
                        <div class="title" ng-if="message.type == 'statusMail'">{{"phrase.status_mail" | translate}}:</div>

                        <div class='editBtn' ng-if="message.type == 'statusMail' && messageIsOwn(message) && message.dateSent == null"> 
                            <button class="button button-icon button-clear ion-android-clipboard" ng-click="editMessage(message)"></button>
                        </div>

                        <div class='trashBtn' ng-if="message.type == 'statusMail' && messageIsOwn(message) && message.dateSent == null"> 
                            <button class="button button-icon button-clear ion-android-cancel" ng-click="trashMessage(message)"></button>
                        </div>
                        
                        {{message.body}}
                        
                        <div class="status ready" ng-if="message.dateSent == null">
                            <i class="ion-android-done"></i>
                        </div>
                        <div class="status sent" ng-if="message.dateSent != null && message.dateReceived == null">
                            <i class="ion-android-done-all"></i>
                        </div>
                        <div class="status received" ng-if="message.dateSent != null && message.dateReceived != null && message.dateRead == null">
                            <i class="ion-android-done-all"></i>
                        </div>
                        <div class="status read" ng-if="message.dateSent != null && message.dateReceived != null && message.dateRead != null">
                            <i class="ion-android-done-all"></i>
                        </div>

                        <div class="timestamp" ng-if="message.type == 'statusMail'">{{humanizeDate(message.dateQueued)}}</div>
                    </div>
                </div>

                <!--<div class="cb-chat-aside-right" ng-if="messageIsOwn(message) && (conversation[$index-1].from._id.toString() != message.from._id.toString() || $index == 0)">
                    <div class="cb-chat-avatar">
                        <div class="avatar">
                        <svg width="100%" height="100%">
                            <defs>
                                <clipPath id="cp1" clipPathUnits="objectBoundingBox">
                                    <circle cx="0.5" cy="0.5" r="0.5" id="circleClip" />
                                </clipPath>
                            </defs>
                            <foreignObject clip-path="url(#cp1)" width="100%" height="100%">
                                <img ng-attr-src="{{message.from.avatarURL}}" width="100%" height="100%" id="avatar" />        
                            </foreignObject>
                        </svg>
                </div>
                    </div>
                </div>-->
            </div>

            <!--<div class="cb-chat-input" ng-show="hasRole('teacher')">
                <input class="cb-input" ng-keyup="$event.keyCode == 13 && send(newMsg)" ng-keydown="processWriting()" ng-model="newMsg">
                <button class="cb-button cb-button-pink" ng-click="send(newMsg)">Send</button>
            </div>-->

        </div>

    </ion-content>
</ion-view>





