<ion-modal-view class="messages">
    <ion-header-bar class="bar-cbuzz">
        <button class="button button-clear" ng-click="modal.hide()">
            <i class="ion-android-arrow-back"></i> {{ "phrase.back" | translate }}
        </button>
        <h1>{{"titles.select_contact" | translate}}</h1>
    </ion-header-bar>

    <ion-content class="cb-modal-form">
        <ion-item ng-repeat="contact in contacts" ng-click="newConversation(contact)">
            <div class="avatar">
                <svg width="100%" height="100%">
                    <defs>
                        <clipPath id="cp1" clipPathUnits="objectBoundingBox">
                            <circle cx="0.5" cy="0.5" r="0.5" id="circleClip" />
                        </clipPath>
                    </defs>
                    <foreignObject clip-path="url(#cp1)" width="100%" height="100%">
                        <img ng-attr-src="{{contact.avatarURL}}" width="100%" height="100%" id="avatar" />        
                    </foreignObject>
                </svg>
            </div>
            <div class="main-content">
                <div class="name">{{contact.student.parents[0].firstName}} {{contact.student.parents[0].lastName}}</div>
                <div class="child">{{contact.firstName}} {{contact.lastName}}'s parent</div>
                <div class="status" ng-if="contact.student.parents[0].hasAppAccess">MOBILE</div>
                <div class="status" ng-if="!contact.student.parents[0].hasAppAccess">MAIL</div>
            </div>

        </ion-item>
    </ion-content>

</ion-modal-view>
