.achievements {
    @extend %achievements-background;

    .main-info {
        $avatar-height: 20vh;
        $avatar-bottom: 5vh;
        $margin: 4vw;

        position: relative;
        width: 100vw;
        height: 38vh;

        .name {
            position: absolute;
            @include site-font(4vw, 500, $first-color);
            left: $margin;
            bottom: $avatar-height;
        }

        .unlocked {
            @include site-font(4vw, 500, $first-color);
            @include xy-align(50%, 70%);
            @include bullet-image(7vw, '/achievements/badge_candado.svg');
            line-height: 4vw;
            width: 15vw;
        }

        .avatar {
            position: absolute;
            height: $avatar-height;
            right: $margin;
            bottom: $avatar-bottom;

            img {
                height: 100%;
            }
        }
    }

    .grid-item {
        position: relative;

        img {
            width: 90%;
        }

        .name {
            width: 100%;
            @include site-font(8px, 500, $white);
            @include horizontal-center();
            bottom: -10px;
        }

        &.locked {

            img {
                @include css3-prefix('filter', grayscale(100%));
            }

            @include lockify('/achievements/badge_candado.svg', 35%);
        }

    }
}
