.popup-container{
    @include site-font(14px, 300, $white);

    .popup {
        background-color: $third-color;
        @include border-radius(15px);
        padding: 10px;
    }

    .popup-title {
        color: $white;
        font-weight: 900;
    }

    .popup-body {
        text-align: center;
    }

    .popup-buttons {

        .button{

            &.button-default {
                font-size: 3.5vw;
                @extend .cb-button;
            }

            &.button-positive {
                font-size: 3.5vw;
                @extend .cb-button;
                @extend .cb-button-light;
            }
        }

    }
}

.loading-container {


    .loading {
        min-height: 15vh;
        width: 40vw;
        position: absolute;
        background-color: $third-color;
        @include site-font(13px, 600, $white);

        .spinner svg {
            @include xy-align(50%, 70%);
            width: 25px;
            height: 25px;
            stroke: rgba($white, 0.9);
            fill: rgba($white, 0.9);
        }
    }

}

.separator-bar-80 {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-bottom: 1px solid #d9dadc;
}
