.se-ribbon {
    position: absolute;
    top: -20px;
    left: 5%;
    width: 40vw;
    height: 40vw;
    z-index: 10;

    @include section-background($transparent, 'livefeed/ribbon_boss01-01.svg', $position: center bottom);

    .name {
        @include site-font(12px, 600, $white);
        @include transform(rotate(-90deg));
        text-transform: uppercase;
        position: absolute;
        right: -7vw;
        bottom: 18vw;
        text-overflow: ellipsis;
    }

    &.easy {
        background-image: url( '#{$path-to-assets}/livefeed/ribbon_boss01-01.svg');
    }

    &.medium {
        background-image: url( '#{$path-to-assets}/livefeed/ribbon_boss02-01.svg');
    }

    &.hard {
        background-image: url( '#{$path-to-assets}/livefeed/ribbon_boss03-01.svg');
    }
}