.games {
    @extend %plain-background;

    ion-list {
        position: relative;
        top: 20px;
    }   

    input {
        text-align: center;
    }

    .countdown {
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        @include site-font(80px, 700, $theme-1);
        z-index: 99;
    }

    .pulser {
        button {
            width: 70vw;
            height: 70vw;
            @include xy-align();
            @include remove-button-style();
            @include border-radius(50%);
            background-color: $theme-1;
            @include site-font(50px, 700, $white);
            border: 8px solid $theme-2;
            z-index: 101;
        }
    }

    .evaluate {
        height: $viewport-height;
        width: 100vw;

        button {

            @include y-align(40%);
            @include remove-button-style();
            @include border-radius(50%);
            @include site-font(50px, 700, $white);
            position: absolute;
            left: 15vw;
            width: 30vw;
            height: 30vw;
            

            &.correct {
                @include x-align(70%);
                background-color: $green;
                border: 8px solid darken($green,15%);
            }

            &.incorrect {
                @include x-align(30%);
                background-color: $red;
                border: 8px solid darken($red,15%);
            }
           
        }
    }
    

    .session-info {
        height: calc(100vh - #{$footer-bar-height} - #{$header-bar-height});
        @include x-align();
        width:  90vw;

        position: relative;

        .pin {
            height: 70px;

            p {
                @include site-font(25px, 500, $first-color);
                @include xy-align(50%, 50%);
            }
        }

        .owner {
            background-color: lighten($theme-3,40%);
        }

        .name {
            @include site-font(18px, 700);
            color: $theme-6;
            font-size: 14px;
            font-weight: 500;

            .score {
                padding-left: 2px;
                font-weight: 200;
            }
        }

        .status {
            @include xy-align(90%, 50%);
            @include site-font(10px, 700, $theme-5);

            &.ready {
                color: $green;
            }
        }

    }


}

