.groups {
    @extend %honey-background;
    @include custom-ion-item();
    padding-top: 15%;



    .item-content {
        padding: 10px;
        margin: 20px;;
        min-height: 85px;
        line-height: 15px;
        background-color: $white;
        color: $theme-6;
        @include triple-borders($white, $theme-3, $theme-2, 2px, 3px, 7px, 10px);


        .groups-header-container {
            min-height: 35px;
            padding: 0;
        }

        .clickable-group {
            position: absolute;
            width: 35%;
            height: 100%;
        }

        .group-title {
            display: inline-block;
        }

        .group-card-item {
            color: $theme-6;
            text-decoration: none;
        }

        .group-data-students, .group-data-score {
            display: inline-block;
            border-left: 1px solid #d9dadc;
            position: relative;

            img {
                width: 35px;
                @include xy-align(50%, 20%);
            }
        }

        .score, .students {
            @include xy-align(50%, 70%);
        }

        h1, h3 {
            @include site-font(18px, 700);
            color: $theme-6;
            text-transform: uppercase;
            margin: 0;
        }

        .edit-btns-group {
            text-align: right;
            width: 100%;
            margin-top: 12px;


            .groups-below-bar-link {
                height: 100%;
                width: 40%;
                content: "";
                display: inline-block;
                float: left;

                a {
                    display: block;
                    height: 100%;
                    width: 100%;
                    content: "";
                }
            }

            button {
                background-color: $theme-6;
                font-size: 12px;
                min-height: 27px;
                z-index: 999;
            }
        }

        h1 {
            font-size: 17px;
            font-weight: 700;
        }

        h3 {
            font-size: 12px;
            font-weight: 400;
        }

    }

    .group-seach-wrapper {
        position: inherit;
        margin-top: 55px;
    }
}

.new-group-modal, .edit-group-modal, .add-student-modal, .attendance-group-modal, .new-message-modal {
    background: $theme-6;
    padding: 5vw;
    width: 100vw;
    text-align: center;
    position: absolute;

    form {
        min-height: 50%;
        padding: 20px;

        button {
            min-height: 35px;
            @include xy-align(50%, 90%);
            background-color: $theme-5;
            font-size: 3vw;

            &:before {
                @include xy-align(50%, -40%);
                content: "";
                width: 100%;
            }
        }
    }

    .title, .buttons button {
        font-family: AmsiPro, sans-serif;
    }
}

.group-detail-header .buttons button {
    color: $white;
    font-family: AmsiPro, sans-serif;
}

.group-detail {
    position: relative;
    background-color: $white;
    @include custom-ion-item();
    @include site-font();

    .selected {
        .item-content {
            background-color: lighten($theme-5, 45%);
        }
    }    

    .group-actions-buttons-cointainer {
        position: absolute;
        bottom:0;
        width: 100%;
        background-color: $white;
    }

    .group-student-stats {
        text-align: center;
        margin-top: 20%;
    }

    .score, .students {
        display: inline-block;
        position: relative;
        margin: 0 30px;
        @include site-font(18px, 500);
    }
    
    .item.item-avatar .item-content{
        border-bottom: 1px solid #d9dadc;
    }

    .score:before, .students:before {
        @include xy-align(50%, -85%);
        content: "";
        width: 55px;
        height: 55px;
    }

    .score:before {
        @include section-background($transparent, 'ranking/icon_three_stars.svg', center, no-repeat, contain);
    }

    .students:before {
        @include section-background($transparent, 'icons/icon_people.svg', center, no-repeat, contain);
    }

    .side-btn-option {
        @include site-font(12px, 300, $white);
        background-color: $theme-5;
        position: relative;

        .edit-btns {
            @include xy-align();
        }
    }

    .group-students-subheader {
        margin-top: 25px;

        button {
            font-size: 14px;
            font-weight: 400;

            &:before {
                margin-right: 2px;
            }
        }
    }

    .avatar-title, .avatar-house {
        @include site-font(18px, 700);
        color: $theme-6;
        font-size: 14px;
        font-weight: 500;

        .annotation {
            padding-left: 2px;
            font-weight: 200;
        }
    }

    .avatar-house {
        color: $theme-4;
    }

    .item-avatar  {
        .group-avatar {
            @include avatarify(12vw, 1vw);
            @include xy-align(10%, 50%);
        }
    }

    .group-title, .group-students-subheader {
        margin-left: auto;
        margin-right: auto;
        width:80%;
        text-align: center;
        margin-top: 5px;
        padding: 10px 0;
        border-bottom: 1px solid #d9dadc;

        h1, h3 {
            @include site-font(18px, 700);
            color: $theme-6;
            text-transform: uppercase;
            margin: 0;
        }

        h1 {
            font-size: 20px;
            font-weight: 700;
        }

        h3 {
            font-size: 15px;
            font-weight: 400;
        }

        .actions-container {
            width: 100%;
            margin: 10px 0;
            text-align: center;

            button {
                background-color: $theme-6;
                font-size: 12px;
                min-height: 27px;
            }
        }
    }

    .badge.badge-positive {
        right:22px;
        top:20px;
        font-size: 12px;
        font-weight: 500;
        vertical-align: middle;
        padding: 5px 9px;
        min-width: 10px;
        border-radius: 50%;
        background-color: $theme-5;
        border: 1px solid $theme-6;
    }
}

.attendance-group-modal {
    @include site-font();
    color: $theme-6;

    .item-avatar {
        .item-content {
            padding: 16px 49px 16px 16px;
            padding-left: 72px;
            min-height: 72px;
        }
    }

    .bar-cbuzz-modal {
        background-color: $theme-6;
        margin: 0;
        padding: 0;
        border: 0;

        button, h1 {
            color: $white;
        }
    }

    .date-picker {

            font-size: 12px;
            font-weight: 400;
            border-radius: 20px;

    }

    p {
        font-size: 12px;

        &.info-text {
            width: 100%;
            @include xy-align();
        }
    }

    .filters-container {
        min-height: 47px;
        margin: 10px 0;
    }

    .attendance-filter {
        position: relative;

        .button-royal, .button-balanced, .button-assertive {
            width: 90%;
            font-size: 11px;
            font-weight: 600;
            padding:0;
            margin:0;
            border-radius: 20px;
            border:none;
            @include xy-align();
        }

        .button-royal {
            background-color: $theme-6;
        }

        .button-balanced {
            background-color: $green;
        }

        .button-assertive {
            background-color: $theme-4;
        }
    }

    .attendance-list-container {
        padding: 0;
    }

    .students-attendance-list {
        width: 100%;
        margin-bottom: 10px;

        .item {
            color: $theme-6;
            margin:0;
            border-radius: 0;
            border-bottom: 1px solid #d9dadc;
            padding: 0;

            p {
                color: $theme-6;
                font-size: 14px;
                font-weight: 500;
                text-align: left;

                &.attendance-status {
                    color: $theme-4;
                }
            }

            .energized {
                color: $theme-3;
            }

            .balanced {
                color: $green;
            }

            .royal {
                color: $theme-6;
            }

            .assertive {
                color: $theme-4;
            }
        }
    }

    .cb-modal-form {
        padding-top: 5px;
        background-color: $white;
    }

    .cb-button {
        border-radius: 20px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        font-size: 12px;
        min-height: 27px;
    }

    .item-avatar  {

        .group-avatar {
            position: absolute;
            top: 16px;
            left: 16px;
            width: 100%;
            height: 100%;
            background-color: white;
            clip-path: circle(50% at center);
            -webkit-clip-path: circle(50% at center);
            width: 12vw;
            height: 12vw;

            &:after {
                content: "";
                width: 12vw;
                height: 12vw;
                background-color: rgba(255, 255, 255, 0);
                border-radius: 50%;
                border: 1vw solid $theme-6;
                clip-path: circle(50% at center);
                -webkit-clip-path: circle(50% at center);
                position: absolute;
                top: 0;
                left: 0;
            }

            img {
                width: 150%;
                height: 150%;
                position: absolute;
                left: 48%;
                top: 55%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

.add-student-modal {
    .bar.bar-header {
        top:0;
        position: inherit;
    }

    .scroll-content.ionic-scroll.has-header {
        top: 44px;
        padding:0px;
    }

    .item-avatar  {
        .group-avatar {
            position: absolute;
            top: 16px;
            left: 16px;
            width: 100%;
            height: 100%;
            background-color: white;
            clip-path: circle(50% at center);
            -webkit-clip-path: circle(50% at center);
            width: 12vw;
            height: 12vw;

            &:after {
                content: "";
                width: 12vw;
                height: 12vw;
                background-color: rgba(255, 255, 255, 0);
                border-radius: 50%;
                border: 1vw solid $theme-6;
                clip-path: circle(50% at center);
                -webkit-clip-path: circle(50% at center);
                position: absolute;
                top: 0;
                left: 0;
            }

            img {
                width: 150%;
                height: 150%;
                position: absolute;
                left: 48%;
                top: 55%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .bar {
        color: $white;
        background: $theme-6;

        h1, button {
            font-size: 17px;
            font-weight: 300;
            color: $white;
        }
    }

    .item-content {
        font-size: 14px;
        font-weight: 500;
        text-align: left;
        padding: 16px 49px 16px 16px;
        padding-left: 72px;
        min-height: 72px;
    }

    .item {
        color: $theme-6;
        margin: 0;
        border-radius: 0;
        border-bottom: 1px solid #d9dadc;
        padding: 0;
        font-size: 14px;
        font-weight: 500;

        button {
            font-size: 12px;
            font-weight: 400;

            &.cb-button-pink {
                min-height:25px;
                min-width:0;
                top: 35%;
                right: 16px;
                position: absolute;
            }
        }

        p {
            color: $theme-6;
            font-size: 14px;
            font-weight: 500;

            &.house {
                color: $theme-4;
            }
        }
    }
}

.students-feedback {
    @extend %achievements-background;
    @include site-font();
    color: $theme-6;
    background-size: 100% 120%;
    background-position: 150% -80%;
    background-repeat: no-repeat;
    background-color: $white;

    .bar-header {
        background: $white;

        .item-input-wrapper {
            margin-top: 10px;
        }

        h1 {
            @include site-font();
        }
    }

    .row {
        padding: 0;
    }

    .slider {
        top: 50px;
        overflow: visible;
    }

    .slider-slides {
        position: relative;
        height: auto;
    }

    .slider-slide {
        height: auto;
    }

    .slide-title {
        min-height: 50px;
        text-align: center;
        position: relative;
        margin: 5px 20px 5px 20px;
        background-color: $transparent;

        h1 {
            @include xy-align(50%, 45%);
            @include site-font(18px, 700);
            width:90%;
        }
    }

    .slide-filters {
        text-align: center;
        width: 100%;

        $size: 100vw / 8;

        .skill-filter {
            @include grayscale();
            @include circle-border(3px, $gray);

            display: inline-block;
            width: $size;
            height: $size;
            margin-right: 5px;
            max-width: 60px;
            max-height: 60px;    

            &.active {
                @include circle-border(3px, $first-color);    
                @include remove-grayscale();
            }
        }

        img {    
            width: 100%;
            height: 100%;   
        }
    }

    .item-avatar {
        margin-top: 15px;
        margin-bottom: 20px;
        padding: 0;
        border: none;
        background-color: transparent;
    }

    .item-content {
        padding: 10px;
        margin: 0 20px;
        background-color: $white;
        color: $theme-6;

        &.reward {
            @include triple-borders($theme-6, $green, $theme-6, 2px, 3px, 7px, 10px);
        }

        &.penalty {
            @include triple-borders($theme-6, $theme-5, $theme-6, 2px, 3px, 7px, 10px);
        }

        &.active-quests {
            @include triple-borders($theme-6, $theme-3, $theme-6, 2px, 3px, 7px, 10px);
        }

        &.recent-activites {
            @include triple-borders($theme-6, $theme-1, $theme-6, 2px, 3px, 7px, 10px);
        }

        .activity-title {
            width: 65%;
        }

        .activity-data-container {
            position: relative;
            width: 20%;
            text-align: center;
            height: 100%;
            border-left: 1px solid #d9dadc;
            min-height: 60px;

            img {
                width: 20px;
                @include xy-align(50%, 30%);
            }
        }

        .activity-xp, .activity-gold {
            @include xy-align(50%, 65%);
            font-size: 13px;
            font-weight: 400;
            width:100%;
        }

        .activity-header-container {
            min-height: 35px;
            padding: 0;
        }

        .skills-container {
            padding-top: 5px;
            min-height: 30px;
            width: 100%;
        }

        .group-card-item {
            color: $theme-6;
            text-decoration: none;
        }

        .skill-icon-wrapper {
            display: inline-block;
            margin-right: 5px;

            img {
                width: 25px
            }
        }

        .activity-name {
            font-size: 16px;
            font-weight: 600;
            color: $theme-6;
        }

        .time-assigned-container {
            position: relative;
            border-left: 1px solid #d9dadc;
        }

        .time-assigned {
            @include site-font(14px, 200);
            @include  xy-align(50%, 55%);
            width: 100%;
            text-align: center;
            height: 100%;
        }
    }

    .bar-cbuzz-modal {
        color: $white;
        background-color: $theme-6;

        h1, button {
            color: $white;
        }
    }
}

.new-message-modal {
    .bar-cbuzz-modal {
        background-color: $theme-6;
        margin: 0;
        padding: 0;
        border: 0;

        button, h1 {
            color: $white;
        }
    }
}
