.home {
  @extend %honey-background;

  .content {
    display: block;
    @include viewport-height(relative);
    @include section-background($transparent, 'splashscreen/splash_screen_logo_.svg', 50% 30%, no-repeat, 50%);
  }

  .login {
    @include xy-align(50%, 70%);
    width: 50%;
    position: absolute;
    bottom: 0px;
  }

  a {
    @include remove-anchor-style();
    @include site-font(12px, 600, $white);
    margin-top: 10px;
  }

}