$first-place-width: 25%;
$second-place-width: 22.5%;
$third-place-width: 20%;
$podium-height: 45vw;
$rank-item-height: 35px;

.leaderboards {
    @extend %honey-background;
    @include custom-ion-item();

    .title-wrapper {
        margin: 20px 20px 20px 20px;
    }

    h1 {
        @include site-font(25px, 700);
        margin: 0;
    }

    h3 {
        @include site-font(15px, 500);
        margin: 0;
    }

    .slider-tabs {
        .slider-tab-item {
            color: $white;
            background-color: $theme-5;
            border: 1px solid $theme-6;
            border-radius: 2px;
        }
    }

    .podium-wrapper {
        width: 100vw;
        text-align: center;
        position: relative;
        padding: 0px 5px 0px 5px;
        min-height: $podium-height;
        margin-bottom: 10px;

        .podium-item {

            width: 20%;

            @include section-background($transparent, 'ranking/avatar_place_holder.svg', center, no-repeat, contain);

            .avatar {

                img {
                    @include horizontal-center();
                    width: 110%;
                    height: auto;
                    top: -4px;
                    position: relative;
                    clip-path: polygon(25% 20%, 75% 20%, 80% 50%, 75% 80%, 25% 80%, 0% 50%);
                    -webkit-clip-path: polygon(25% 20%, 75% 20%, 80% 50%, 75% 80%, 25% 80%, 0% 50%)
                }
            }

            .name {
                position: absolute;
                bottom: -25px;
                width: 100%;
                min-height: 40px;
                text-align: justify;
                left: 25%;
                line-height: 16px;

                &.first-place:before {
                    @include section-background($transparent, 'ranking/icon_number_1.svg', center, no-repeat, contain);
                    @include rank-number($first-place-width * 3);
                }

                &.second-place:before {
                    @include section-background($transparent, 'ranking/icon_number_2.svg', center, no-repeat, contain);
                    @include rank-number($second-place-width * 3)
                }

                &.third-place:before {
                    @include section-background($transparent, 'ranking/icon_number_3.svg', center, no-repeat, contain);
                    @include rank-number($third-place-width * 3);
                }
            }

            .score {
                @include site-font(16px, 500);
            }

            .score:before {
                @include section-background($transparent, 'ranking/icon_three_stars.svg', center, no-repeat, contain);
                @include horizontal-center();
                content: "";
                width: 50%;
                height: 45px;
                position: absolute;
                top: -35px;
            }

            .house {
                position: absolute;
                @include circle-border(3px);

                width: 10vw;
                height: 10vw;
                right: -10%;
                bottom: 12%;
                background-color: $white;

                img {
                    width: 80%;
                    @include round-clip();
                    @include block-absolute-center();
                }

            }

            &.first-place {
                width: $first-place-width;
                @include xy-align(50%, 50%);
            };

            &.second-place {
                width: $second-place-width;
                @include xy-align(80%, 50%);

                .house {
                    @include scale(0.9);
                }
            };

            &.third-place {
                width: $third-place-width;
                @include xy-align(20%, 50%);

                .house {
                    @include scale(0.8);
                }
            };

        }

    }

    .list {
        margin-left: 20px;
        margin-right: 20px;
        background-color: rgba($white, 0.35);
    }

    .rank-item {
        margin-top: 5px;
        max-height: $rank-item-height;
        position: relative;
        @include site-font(15px, 500, $first-color);

        &.you {
            border-bottom: 1px solid $third-color;
        }

        .rank {
            @include section-background($transparent, 'ranking/placeholder_numbers.svg', center, no-repeat, contain);
            @include font-border(2px, $theme-1);
            @include site-font(20px, 500, $white);
            @include xy-align(10%, 50%);

            height: $rank-item-height;
            width: $rank-item-height;
            text-align: center;
            line-height: $rank-item-height;
            vertical-align: middle;
        }

        .name {
            @include xy-align(45%, 50%);
            text-align: left;
            width: 45%;
        }

        .points {
            @include xy-align(84%, 50%);
            text-align: left;
            padding-left: 30px;
            width: 30%;
        }

        .points:before {
            @include section-background($transparent, 'livefeed/icon_star.svg', center, no-repeat, contain);
            @include xy-align(15%, 45%);
            content: "";
            width: $rank-item-height * 0.6;
            height: $rank-item-height* 0.6;
            position: absolute;
        }

    }

    .house-rank-wrapper {
        width: 100%;
        text-align: center;
    }

    .rank-house {
        $border-width: 6px;
        $rank-height: 48vh;
        $rank-width: 12vh;
        $beehive-height: 9vh;
        $beehive-width: $rank-width * 0.95;
        $house-logo-size: $rank-width * 0.95;
        $rank-bottom-margin: 7vh;

        $first-place-height: 12vh;
        $second-place-height: 9vh;
        $third-place-height: 6vh;
        $fourth-place-height: 3vh;

        position: relative;
        display: inline-block;

        height: $rank-height;
        width: $rank-width;

        &.your-house {
            @include border-radius(5px);
            border: 2px solid $third-color;
            background-color: rgba($white, 0.6);
        }


        @mixin rank-bar ($height) {
            content: "";
            position: absolute;
            width: $border-width + 2px;
            background-color: $first-color;
            @include block-absolute-center();
            height: $height;
            bottom: $height + $house-logo-size;
        }

        .house-logo {
            position: absolute;
            bottom: $rank-bottom-margin;
            right: 0;
            left: 0;
            margin: auto;

            @include circle-border($border-width);

            width: $house-logo-size;
            height: $house-logo-size;

            background-color: white;

            img {
                width: 80%;
                @include round-clip();
                @include block-absolute-center();
            }

            &.first-place:before {
                @include rank-bar($first-place-height);
            }

            &.second-place:before {
                @include rank-bar($second-place-height);
            }

            &.third-place:before {
                @include rank-bar($third-place-height);
            }

            &.fourth-place:before {
                @include rank-bar($fourth-place-height);
            }
        }


        @mixin ranking-number($rank_position:1) {
            @include section-background($transparent, 'ranking/icon_number_#{$rank_position}.svg', center, no-repeat, contain);
            content: "";
            width: $beehive-width;
            height: $beehive-width/2;
            position: absolute;
            bottom: $beehive-height + 0.6;
            left: 0;
        }

        .beehive {
            position: absolute;
            height: $beehive-height;
            width: $beehive-width;
            right: 0;
            left: 0;
            margin: auto;

            @include section-background($transparent, 'ranking/icon_beehive.svg', center, no-repeat, contain);

            &.first-place {
                bottom: $first-place-height + $house-logo-size + $rank-bottom-margin;
            }

            &.second-place {
                bottom: $second-place-height + $house-logo-size + $rank-bottom-margin;
            }

            &.third-place {
                bottom: $third-place-height + $house-logo-size + $rank-bottom-margin;
            }

            &.fourth-place {
                bottom: $fourth-place-height + $house-logo-size + $rank-bottom-margin;
            }

            &.first-place:before {
                @include ranking-number(1);
            }

            &.second-place:before {
                @include ranking-number(2);
            }

            &.third-place:before {
                @include ranking-number(3);
            }

            &.fourth-place:before {
                @include ranking-number(4);
            }
        }

        .house-points {
            position: absolute;
            bottom: -60px;
            text-align: center;
            width: $rank-width;
        }

        .house-name, .house-score {
            $name-min-height: 35px;
            position: absolute;
            @include site-font(11px, 500);
            min-height: $name-min-height;
            vertical-align: text-top;
            line-height: 15px;
            width: $rank-width;
            text-align: center;
        }

        .house-name {
            padding:0 2px;
            bottom: -5px;
        }

        .house-score {
            bottom: 10px;
            @include site-font(11px, 600);
            color: $theme-1;
        }

    }

}
