.livefeed {
  @extend %honey-background;
  @include custom-ion-item();

  .content {
        padding-top: $header-bar-height;
    }
  
  .item-content:before {
    @include section-background($transparent, 'livefeed/copy_award.svg', center, no-repeat, contain);
    content: "";
    width: 100px;
    height: 45px;
    display: inline-block;
    position: absolute;
    top: -28px;
  }

  .item-content {

    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 30px 100px 10px 15px;
    min-height: 135px;
    line-height: 15px;
    @include card-text();

    @include triple-borders($white, $theme-4, $theme-6, 2px, 3px, 7px, 10px);
    @include section-background($white, 'livefeed/background_no_border.svg', center, no-repeat, cover);

    .avatar {
      max-height: 100px;
      @include xy-align(80%, 50%);
    }

    .house-award {
      position: absolute;
      top: 0px;
      left: 73px;
      color: $white;
      font-size: 13px;
      font-weight: 600;
      @include font-border(2px, $first-color);

    }

    .from-now {
      //font-size: 10px;
      //font-weight: 500;
      position: absolute;
      bottom: 22px;
    }

    .user-points {
      position: absolute;
      font-size: 13px;
      font-weight: 400;
      top: 5px;
      right: 5px;
    }

    .user-points:before {
      @include section-background($transparent, 'livefeed/icon_star.svg', center, no-repeat, contain);
      content: "";
      width: 18px;
      height: 18px;
      display: inline-block;
      position: absolute;
      top: -3px;
      left: -18px;
    }

  }
}
