.messages {

    @extend %plain-background;

    ion-content {
        top: $header-bar-height;
        position: relative;
    }

    .cb-message-list {
        height: $viewport-height;
        overflow: scroll;
        overflow-x: hidden;
    }

    .cb-search{
        position: absolute;
        bottom: 10px;
        width: 90vw;
        height: 35px;
        left: 5vw;

        input {
            background-color: $white;
            @include border-radius(15px);
            width: 100%;
            height: 100%;
        }

        button {
            @include remove-button-style();
            @include y-align();
            height: 100%;
            right: 0;
            bottom: 0;
            width: 40px;
            color: $gray;
            font-size: 16px;
            border-left: 1px solid $gray;
        }

        i {
            @include xy-align();
        }

    }

    .cb-message {
        @include cardify($min-height: 10vh, $margin: 5px);
        position: relative;
        $card-size: 21vw;
        $avatar-size: 12vw;
        $border-width: 1vw;
        height: $card-size;
        padding: 3vw;

        border-bottom: 1px solid $smoke;


        .status-badge {
            position: absolute;
            top: 0px;
            right: 4px;
            width: 12px;
            @include section-background($transparent, '/notifications/notification_unchecked.svg', $position:center, $size:contain);

            &.read {
                background-image: url('#{$path-to-assets}/notifications/notification_checked.svg');
            }

        }

        .avatar {
            @include avatarify($avatar-size, $border-width);
            @include y-align(50%);
        }

        h1 {
            @include site-font(15px, 800, $first-color);
            width: 60vw;
            position: absolute;
            left: $avatar-size + 6vw;
            text-align: left;
            line-height: 13px;
            margin: 0;
            top: 10px;
            text-overflow: ellipsis;
            overflow:hidden;
            white-space:nowrap;
        }


        h2 {
            @include site-font(13px, 500, $first-color);
            width: 60vw;
            position: absolute;
            left: $avatar-size + 6vw;
            text-align: left;
            line-height: 13px;
            margin: 0;
            top: 26px;
            text-overflow: ellipsis;
            overflow:hidden;
            white-space:nowrap;
        }

        h3 {
            @include site-font(13px, 600, $first-color);
            width: 60vw;
            position: absolute;
            left: $avatar-size + 6vw;
            text-align: left;
            line-height: 13px;
            margin: 0;
            bottom: 20px;
            text-overflow: ellipsis;
            overflow:hidden;
            white-space:nowrap;
        }

        p {
            @include site-font(12px, 300, $gray-light);
            position: absolute;
            top: 20px;
            left: $avatar-size + 6vw;
            text-align: left;
            line-height: 13px;
            margin: 0;
            height: 24px;
            text-overflow: ellipsis;
            overflow:hidden;
            //white-space:nowrap;
            width: 60vw;

            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        // .timestamp {
        //     position:  absolute;
        //     right: 10px;
        //     bottom: 15px;
        //     @include site-font(11px, 300, $gray-light);
        // }

        .status-icon {
            position: absolute;
            right: 20px;
            @include y-align(40%);

            //$ionicon-var-checkmark-round: "\f121";

            display: inline-block;
            @include icon-font();

            &.status-ready {
                color: $gray-light;
                &:before {
                    content: $ionicon-var-checkmark-round;
                }
            }

            &.status-sent {
                color: $gray-light;
                &:before {
                    content: $ionicon-var-checkmark-round + $ionicon-var-checkmark-round;
                }
            }

            &.status-received{
                color: $green;
                &:before {
                    content: $ionicon-var-checkmark-round + $ionicon-var-checkmark-round;
                }
            }

            &.status-read{
                color: $first-color-light;
                &:before {
                    content: $ionicon-var-checkmark-round + $ionicon-var-checkmark-round;
                }
            }
        }


    }

    .cb-chat {
        background-color: $white;
        height: $viewport-height;

        padding-top: 20px;
        padding-bottom: 20px;
        overflow: scroll;
        overflow-x: hidden;

        .cb-chat-block {
            width: 100vw;
            min-height: 10vh;
            position: relative;
        }

        .cb-chat-aside-left {
            position: absolute;
            top: 0;
            left: 0;
            width: 14vw;
                text-align: center;
        }

        .cb-chat-aside-right {
            position: absolute;
            top: 0;
            right: 0;
            width: 14vw;
            text-align: center;
        }

        .cb-chat-main{
            width: 70vw;
            display: inline-block;
            position: relative;
            left: 15vw;
            height: 100%;
            text-align: left;

            &.right {
                text-align: right;

                .cb-chat-bubble {
                    background-color: $chat-bubble-alt;

                    &.statusMail {
                        background-color: #ffdbe9;
                        border: 1px solid $first-color;
                    }
                }
            }
        }

        .cb-chat-avatar {
            $avatar-size: 10vw;
            $border-width: 0.8vw;
            display: inline-block;
            @include avatarify($avatar-size, $border-width);
            position: relative;
            top: 0;
        }

        .cb-chat-bubble {
            @include border-radius(10px);
            display: inline-block;
            background-color: $chat-bubble;
            padding: 20px;
            @include site-font(13px, 400, $black);
            margin-top: 5px;
            position: relative;
            min-width: 50%;

            .status {

                position: absolute;
                font-size: 12px;
                bottom: 20px;
                right: 10px;

                &.received {
                    color: $green;
                }

                &.read {
                    color: $blue;
                }
            }

            .title {
                font-weight: 800;
            }

            .timestamp {
                color: $first-color;
                position: absolute;
                font-size: 10px;
                font-weight: 300;
                bottom: 5px;
                right: 10px;
            }

            .editBtn {
                position: absolute;
                top: -5px;
                right: 0px;
                
                button {
                    color: $first-color;
                    font-size: 14px;
                }
            }

            .trashBtn {
                position: absolute;
                top: -5px;
                left: 0px;
                
                button {
                    color: $first-color;
                    font-size: 14px;
                }
            }

            &.statusMail {
                background-color: #ffdbe9;
                border: 1px solid $first-color;
                width: 100%;
            }
    
        }

        .cb-chat-input {
            position: fixed;
            bottom: 0px;
            width: 100vw;
            @include box-shadow(0px, -10px, 50px);
            padding: 5px 10px;
            background-color: $white;

            .cb-input {
                background-color: $chat-bubble-alt;
                @include border-radius(10px);
                border: none;
                width: 85vw;
                height: 30px;
            }

            .cb-button {
                position: absolute;
                right: 10px;
                height: 30px;
                width: 20vw;
                @include border-radius(17px);
                @include y-align();
            }
        }
    }

    .cb-chat-interlocutor {
        position: absolute;
        height: $header-bar-height;
        top: 0;
        width: 50vw;

        .cb-chat-interlocutor-back {
            @include y-align();
            left: 2px;

            .button {
                color: $white;
                font-size: 25px;
                font-weight: bolder;
            }
        }

        .cb-chat-interlocutor-avatar {
            $avatar-size: 9vw;
            $border-width: 0.8vw;
            display: inline-block;
            @include avatarify($avatar-size, $border-width);
            @include y-align();
            left: 8vw;
        }

        .cb-chat-interlocutor-name {
            @include site-font(15px, 600, $white);
            @include y-align(35%);
            left: 20vw;
            text-overflow: ellipsis;
            overflow:hidden;
            white-space:nowrap;
            width: 30vw;
        }

        .cb-chat-interlocutor-status {
            @include site-font(12px, 300, $white);
            @include y-align(70%);
            font-style: italic;
            left: 20vw;
            width: 35vw;
            text-align: left;
        }
    }

    .item {

        .main-content {
            width: 65vw;
        }

        .name {
            font-weight: 600;
        }

        .child {
            font-style: italic;
        }

        .status {
            @include y-align();
            right: 10px;
        }
    }

}
