.notifications {
    @extend %plain-background;

    .content {
        top: $header-bar-height;
        position: relative;
    }

    .item-complex {
        @include cardify($min-height: 10vh, $margin: 5px);

        .status-badge {
            position: absolute;
            top: 0px;
            right: 4px;
            width: 12px;
            @include section-background($transparent, '/notifications/notification_unchecked.svg', $position:center, $size:contain);

            &.read {
                background-image: url('#{$path-to-assets}/notifications/notification_checked.svg');
            }

        }

    }

    .header-actions {
        position: absolute;
        top: 10px;
        left: 20px;

        .btn-clear {
            @include site-font(13px, 400, $white);
            color: $white;
            background-color: $theme-5;
            border: 2px solid $theme-5;
            border-radius: 10px;
        }

    }

}
