.parents {
    @extend .user-profile;
    background-image: none;


    .cb-card {
        padding: 25px 10px;
        @include triple-borders(transparent, $theme-3, $theme-2, 2px, 3px, 7px, 10px);
        h1 {
            @include site-font(20px, 700);
        }
    }

    .base-info {

        width: 100%;
        height: 100px;
        position: relative;

        .avatar {
            @include avatarify(80px, 5px);
            @include xy-align(20%, 50%);
        }

        .name {
            @include xy-align(50%, 50%);
            font-size: 16px;
            font-weight: 600;
            text-align: center;
            width: 30vw;
            text-transform: uppercase;
        }
    }

    .skills-info {
        .skill {
            .name {
                color: $first-color;
            }
        }
    }

    .cb-list-item {
        @include triple-borders(transparent , $theme-3, $theme-2, 2px, 3px, 7px, 10px);
        margin: 25px 20px;
    }

}
