.user-profile {
    @extend %profile-background;
    text-align: center;


    .profile-wrapper {
        position: relative;
        padding-top: $header-bar-height;
        background-attachment: scroll;
        height: calc(100vh - #{$header-bar-height} - #{$footer-bar-height});
        top: $header-bar-height;
    }

    .base-info {
        position: relative;
        height: 45vh;
        width: 100vw;


        .rank-info {
            @include xy-align(20%, 65%);
            @include site-font(11px, 500);
        }

        .house-info {
            @include xy-align(80%, 65%);
            @include site-font(11px, 500);
        }

        .xp {
            @include xy-align(50%, 70%);
            @include site-font(6vw, 500, $first-color);
        }

        .gold {
            @include xy-align(50%, 85%);
            @include site-font(4.5vw, 400, $first-color);
            @include bullet-image($size:6.5vw, $img:'profile/coin_.png')
        }

        .name {
            @include site-font(5vw, 600, $first-color);
            @include xy-align(50%, 65%);
        }

        .customer {
            @include site-font(3vw, 500, $first-color);
            @include xy-align(50%, 73%);
        }

        &.teacher {
            height: 40vh;
        }
    }

    .extra-info {

        width: 90px;
        height: 90px;

        max-height: 15vh;
        max-width: 15vh;
        position: relative;

        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;

        @include site-font(25px, 400, $white);

        .number {
            font-weight: 600;
            @include xy-align(50%, 35%);
        }

        .detail {
            font-size: 13px;
            @include xy-align(50%, 60%);
        }

        &.blue {
            @include section-background($transparent, '/profile/prof_info-02.png');
        }

        &.yellow {
            @include section-background($transparent, '/profile/prof_info-03.png');
        }

        &.red {
            @include section-background($transparent, '/profile/prof_info-04.png');
        }
    }

    #round_clip {
        @include xy-align();
    }

    .badge {
        $badge-size: 33vw;
        // @include round-clip();

        width: $badge-size;
        height: $badge-size;
        // background-color: $smoke-light;

        img {
            // @include block-absolute-center();
        }

        &.left {
            @include xy-align(20%, 48%);
        }

        &.center {
            @include xy-align(50%, 33%);
        }

        &.right {
            @include xy-align(80%, 48%);
        }

        &.mayor {
            $border-width: 2vw;

            img {
                background-color: $white;
                width: 200%;
                height: auto;
                margin-left: -53%;
                margin-top: -20%;
            }

            //This is to show border on top of avatar
            &:after {
                content: "";
                width: $badge-size;
                height: $badge-size;
                background-color: $transparent;
                @include circle-border($border-width);
                // @include round-clip();
                position: absolute;
                top: 0;
                left: 0;

            }
        }

        &.minor {
            $scale-factor: 0.55;
            $border-width: calc(1.7vw * 1.3 * #{$scale-factor});

            width: calc(#{$badge-size} * #{$scale-factor});
            height: calc(#{$badge-size} * #{$scale-factor});
            background-color: $white;
            @include border-radius(50%);

            img {
                // width: calc(#{$badge-size} * 0.75 * #{$scale-factor});
                // width: calc(#{$badge-size} * 0.75 * #{$scale-factor});
                @include round-clip();
                @include xy-align();
                max-width: 70%;
                max-height: 70%;
                // margin-left: 0%;
                // margin-top: 10%;
            }

            //This is to show border on top of avatar
            &:after {
                content: "";
                width: calc(#{$badge-size} * #{$scale-factor});
                height: calc(#{$badge-size} * #{$scale-factor});
                background-color: $transparent;
                @include circle-border($border-width);
                // @include round-clip();
                position: absolute;
                top: 0;
                left: 0;

            }
        }
    }


    .skills-info {
        text-align: center;

        .skill {
            position: relative;
            min-height: 10vh;

            .image {
                @include xy-align(15%, 50%);
                width: 13vw;
                height: 13vw;

                & > img {
                    height: 100%;
                    @include xy-align();
                }
            }


            .rank {
                @include badgify(30px, 2px);
                @include xy-align(90%,85%);
            }

            .name {
                @include site-font(10px, 500, $white);
                @include x-align(55%);
                top: 62%;
            }

            .pbar {
                @include xy-align(55%, 50%);
            }
        }
    }

    .personal-info {
        padding: 5vw;
        background-color: $white;
        width: 80vw;
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
        padding-bottom: 7vh;
        @include triple-borders(transparent, $theme-3, $theme-2, 2px, 3px, 7px, 10px);
        @include border-radius(10px);
        @include horizontal-center();

        .credentials {
            width: 100%;
            position: relative;
            text-align: center;
            border-bottom: 1px solid $smoke-dark;
            margin-bottom: 25px;

            input {
                margin-bottom: 0;
            }

            button {
                margin: 10px 0;
            }
        }

        .gender {
            width: 100%;
            height: 80px;
            position: relative;
            text-align: center;
            margin-bottom: 10px;

            %badge {
                display: inline-block;
                width: 50px;
                height: 50px;
                margin-top: 10px;
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    @include circle-border(1px, $smoke);
                    @include xy-align(50%, 120%);
                }

                &.selected {

                    &:after {
                        background-color: $smoke;
                        border-color: $smoke-dark;

                    }
                }


            }

            .male {
                @extend %badge;
                @include section-background($transparent, 'profile/badge_male.svg', $size:contain);

                &.selected {
                    background-image: url('#{$path-to-assets}/profile/badge_male_selected.svg');
                }
            }

            .female {
                @extend %badge;
                @include section-background($transparent, 'profile/badge_female.svg', $size:contain);

                &.selected {
                    background-image: url('#{$path-to-assets}/profile/badge_female_selected.svg');
                }
            }
        }


        input {
            display: inline-block;
            @include site-font(10px, 500, $gray-light);
            @include placeholder-style($smoke-dark, 0px, 500, 10px);
            height: 22px;

            border-bottom: 1px solid $smoke-dark;
            width: 100%;
            margin-bottom: 10px;
        }

        h1 {
            margin-top: 5px;
            margin-bottom: 10px;
            text-align: left;
            padding-left: 3vw;
            @include site-font(12px, 500, $first-color);
            border-bottom: 1px solid $smoke-dark;
            padding-bottom: 10px;
        }

    }

    .backdrop-spin {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: rgba($first-color, 0.5);

        .action {
            @include xy-align(50%, 50%);
            z-index: 20;
        }

        .spin {
            width: 30px;
            height: 30px;
            @include xy-align(50%, 55%);
            z-index: 20;
        }
    }


    .level-progress {
        width: 37.5vw;
        height: 37.5vw;
        @include xy-align(50%, 33%);
    }

}
