@mixin special-event-item ($image) {
    height: 90%;
    width: 96%;
    @include xy-align();
    @include border-radius(8px);
    @include section-background($white, $image, bottom, no-repeat, 101%)
}

@mixin boss ($image) {
    content: '';
    width: 12vw;
    height: 12vw;
    @include xy-align(26%, 30%);
    @include section-background($transparent, $image);
    z-index: 10;
}

.quests {

    @extend %plain-background;

    .skills {
        position: absolute;
        width: 100%;
        bottom: 0px;
        text-align: right;
        height: 10vh;
        padding-right: 30px;

        .skill {
            position: relative;
            display: inline-block;
            width: 13vw;
            height: 10vw;

            img {
                width: 10vw;
                @include xy-align();
            }

            .skill-name {
                position: absolute;
                bottom: -25px;
                width: 100%;
                line-height: 14px;
                text-align: center;
                @include site-font(10px, 600);
            }
        }
    }

    .slider-tab-item {
        color: $white;
        background-color: #ff0066;
        border: 1px solid #202145;
        border-radius: 2px;

    }

    .rating {
        @include xy-align(25%, 63%);
    }

    .name {
        text-align: center;
        text-transform: uppercase;
        @include site-font(13px, 700);
        line-height: 14px;
        width: 35vw;

        overflow-wrap: break-word;
        word-wrap: break-word;

        @include css3-prefix(word-break, break-all);
        @include css3-prefix(hyphens, auto);
        display: inline-block;
    }

    .reward {
        @include site-font(10px, 600);
        position: absolute;
        text-align: center;
        width: 100%;
        bottom: -16px;
    }

    .coin {
        @include section-background($transparent, '/quests/coin_.png');
        width: 8vw;
        min-height: 8vw;
    }

    .item-complex {
        @include cardify();
        width: 90vw;
        height: 20vh;

        .more-info {
            @include remove-button-style();
            @include section-background($transparent, '/quests/button_more_blue.svg');
            width: 4.5vw;
            height: 4.5vw;
            position: absolute;
            right: 5px;
            top: 5px;
        }

        &.quest {

            .item-content {
                height: 100%;
                padding: 10px;
            }

            .name {
                @include xy-align(25%, 75%);
            }

            .coin {
                @include xy-align(25%, 40%);
            }

            .goals {
                text-align: center;
                @include xy-align(75%, 50%);
                width: 35vw;

                .goal {
                    position: relative;
                    width: 100%;
                    @include site-font(14px, 600);


                    &:before {
                        @include section-background($transparent, 'quests/checkbox_1.svg', $size:contain);
                        content: '';
                        width: 14px;
                        height: 14px;
                        @include xy-align(0%, 50%);
                    }


                    &.fulfilled:before {
                        background-image: url('#{$path-to-assets}/quests/checkbox_2.svg');
                    }

                    padding-bottom: 5px;
                    padding-top: 5px;
                    border-bottom: 1px solid $first-color;

                    &:last-child {
                        border-bottom: none;
                    }

                }
            }
        }

        &.special-event {

            .timestamp {
                position: absolute;
                @include site-font(11px, 600);
                right: 0px;
                top: 10px;
                width: 100%;
                text-align: center;
            }

            .name {
                @include xy-align(25%, 80%);
            }

            .chest {
                width: 12vw;
                height: 12vw;
                @include xy-align(65%, 50%);

                .reward {
                    bottom: -9px;
                }
            }

            .coin {
                @include xy-align(80%, 51%);
            }

            .more-info {
                background-image: url('#{$path-to-assets}/quests/button_more.svg');
            }

            &.easy {
                @include gradient-horizontal-three-colors(#FD0065, #DC005B, 50%, #B70F4A);

                .item-content {
                    @include special-event-item('quests/card_bg_noborder_3.svg');
                }

                &:after {
                    @include boss('quests/mascot_1_alive.svg');
                }

                &.completed:after {
                    @include boss('quests/mascot_1.svg');
                }

                .chest {
                    @include section-background($transparent, 'quests/chest_.png');
                }

            }

            &.medium {
                @include gradient-horizontal-three-colors(#D96527, #D3522E, 50%, #B7064C);

                .item-content {
                    @include special-event-item('quests/card_bg_noborder_1.svg');
                }

                &:after {
                    @include boss('quests/mascot_2_alive.svg');
                }

                &.completed:after {
                    @include boss('quests/mascot_2.svg');
                }

                .chest {
                    @include section-background($transparent, 'quests/chest_silver_.png');
                }
            }

            &.hard {
                @include gradient-horizontal-three-colors(#CCB419, #CB7629, 50%, #B6064D);

                .item-content {
                    @include special-event-item('quests/card_bg_noborder_2.svg');
                }

                &:after {
                    @include boss('quests/mascot_3_alive.svg');
                }

                &.completed:after {
                    @include boss('quests/mascot_3.svg');
                }

                .chest {
                    @include section-background($transparent, 'quests/chest_gold_.png');
                }
            }
        }

    }

    &.info-modal-wrapper.special-event {
        background-image: url('#{$path-to-assets}/quests/modal_window_SQ_1.svg');

        &.easy {
            .boss {
                width: 20vw;
                height: 20vw;
                @include section-background($transparent, 'quests/mascot_1_alive.svg');
                @include xy-align(50%, 20%);
            }

            .chest {
                width: 15vw;
                height: 15vw;
                @include xy-align(40%, 55%);
                @include section-background($transparent, 'quests/chest_bronce.png');
            }
        }

        &.medium {
            .boss {
                width: 20vw;
                height: 20vw;
                @include section-background($transparent, 'quests/mascot_2_alive.svg');
                @include xy-align(50%, 20%);
            }

            .chest {
                width: 15vw;
                height: 15vw;
                @include xy-align(40%, 55%);
                @include section-background($transparent, 'quests/chest_silver.png');
            }
        }

        &.hard {
            .boss {
                width: 20vw;
                height: 20vw;
                @include section-background($transparent, 'quests/mascot_3_alive.svg');
                @include xy-align(50%, 20%);
            }

            .chest {
                width: 15vw;
                height: 15vw;
                @include xy-align(40%, 55%);
                @include section-background($transparent, 'quests/chest_gold_.png');
            }
        }

        .rating {
            @include xy-align(50%, 33%);
        }

        .name {
            @include xy-align(50%, 37%);
        }

        .coin {
            width: 15vw;
            height: 15vw;
            @include xy-align(60%, 55%);
        }

        .close {
            background-image: url('#{$path-to-assets}/quests/button_close_red.svg');
        }
    }

    &.info-modal-wrapper {
        height: 70vh;
        width: 100vw;
        @include xy-align();
        @include section-background($transparent, 'quests/modal_window_quests.svg');

        .coin {
            @include xy-align(50%, 15%);
        }

        .rating {
            @include xy-align(50%, 25%);
        }

        .name {
            @include xy-align(50%, 25%);
        }

        .close {
            @include remove-button-style();
            @include section-background($transparent, '/quests/button_close.svg');
            width: 4.5vw;
            height: 4.5vw;
            position: absolute;
            right: 25px;
            top: 25px;
        }

        text-align: left;

        .skills {
            position: absolute;
            width: 100%;
            bottom: 0px;
            text-align: right;
            height: 20%;
            padding-right: 30px;

            .skill {
                position: relative;
                display: inline-block;
                width: 13vw;
                height: 10vw;

                img {
                    width: 10vw;
                    @include xy-align();
                }

                .skill-name {
                    position: absolute;
                    bottom: -25px;
                    width: 100%;
                    line-height: 14px;
                    text-align: center;
                    @include site-font(10px, 600);
                }
            }
        }

        .goals-wrapper{
            height: 60%;
            position: absolute;
            bottom: 0;
            //background-color: green;
            width: 90vw;
            z-index: 10;
            @include horizontal-center();

            .goal {
                text-align: left;
                display: inline-block;
                height: 20vw;
                width: 45vw;

                .goal-name {
                    position: relative;
                    padding-left: 25%;

                    &:before {
                        @include section-background($transparent, 'quests/checkbox_1.svg', $size:contain);
                        content: '';
                        width: 14px;
                        height: 14px;
                        @include xy-align(15%, 50%);
                    }


                    &.fulfilled:before {
                        background-image: url('#{$path-to-assets}/quests/checkbox_2.svg');
                    }
                }

                .goal-progress {
                    padding-left: 25%;
                    @include site-font(10px, 300);
                }
            }
        }

    }
}

