.register {

    .role-selection {
        $role_badge_height: 90px;

        width: 140px;
        height: 270px;
        padding: 20px 10px;
        top: -10px;
        right: 30px;
        position: absolute;
        @include section-background($transparent, 'general/ribbonend_long.svg', $size:contain);
        transition: top .2s ease-in-out;


        .pull-me {
            display: none;
        }        

        &.hidden {
            top: -215px;

            .pull-me {
                text-align: center;
                position: absolute;
                left: 50px;
                bottom: 33px;
                transform: rotate(-2deg);
                @include site-font(12px, 600, $white);
                text-transform: uppercase;
                display: block;
            }
        }

        z-index: 100;

        .cb-role-select {
            width: 100%;
            height: 100%;
            text-align: center;

            .role {
                @extend %badge;
                display: inline-block;
                height: $role_badge_height;
                width: $role_badge_height;
                position: relative;

                .detail {
                    @include site-font(12px, 600, $white);
                    @include xy-align(50%, 102%);
                }

                &.parent {
                    @include section-background($transparent, 'general/rolebadge_parent_noborder.png', $size:contain);

                    &.selected {
                        background-image: url('#{$path-to-assets}/general/rolebadge_parent.png');
                    }
                }


                &.student {
                    @include section-background($transparent, 'general/rolebadge_student_noborder.png', $size:contain);
                    left: 4px;

                    &.selected {
                        background-image: url('#{$path-to-assets}/general/rolebadge_student.png');
                    }
                }
            }
        }
    }
}