.store {
  @extend %store-background;

    background-position: 0 -49px;

    .store-side-item {
        background: none;
        border: none;

        img {
            width: 100%;
        }
    }

    .avatar-info-wrapper {
        $sidebar-height: 80vh;
        width: 90px;
        position: absolute;
        top:4vh;
        left: calc(#{$sidebar-height} * 0.15);
        font-size: 11px;

        .money {
            img {
                width: 24px;
                height: 24px;
                vertical-align: middle;
            }
        }
        .xp {
            text-align: center;
            color: white;
            display: inline-block;
            background-color: #ff0066;
            width: 22px;
            height: 22px;
            clip-path: circle(50% at 50% 50%);
            -webkit-clip-path: circle(50% at 50% 50%);
            border-radius: 50%;
            border: 2px solid #202145;
        }
    }

    .store-side-wrapper {
        $sidebar-height: 80vh;

        @include section-background($transparent, 'store/store_menu_bar.svg', $position: center bottom);
        position: absolute;
        top:2vh;
        left: 0;
        width: calc(#{$sidebar-height} * 0.13);
        height: $sidebar-height;

        .store-side-btn {
            $height: calc(#{$sidebar-height} * 0.1);

            height: $height;
            position: absolute;
            width: 100%;
            background: $transparent;
            border: none;
            text-align: center;

            img {
                max-width: 65%;
                max-height: 75%;
                @include block-absolute-center();
            }

        }

        .store-nav-top {
            @extend .store-side-btn;
            top: 0;
        }

        .store-nav-bot {
            @extend .store-side-btn;
            bottom: calc(#{$sidebar-height} * 0.08);
        }

        .store-traits-list-side {
            width: 100%;
            position: relative;
            top: calc(#{$sidebar-height} * 0.09);
            height: calc(#{$sidebar-height} * 0.73);
            overflow-y:scroll;
            overflow-x: hidden;
        }

        .store-side-item {
            $height: calc(#{$sidebar-height} * 0.1);

            @extend .store-side-btn;
            position: relative;


            &.active {
                &:before{
                    content: '';
                    width: 110%;
                    height: $height;
                    border: .5vh solid $theme-2;
                    @include border-radius(3vh);
                    @include xy-align(33%, 50%);
                }
            }
        }

        .traits-separator {
            margin: 0 10px;
        }
    }

    .store-top-wrapper {
        $topbar-width: 85vw;

        width: $topbar-width;
        position: absolute;
        height: 12vh;
        background: $transparent;
        border: none;
        text-align: center;
        right: -15px;
        top: 15vh;

        .store-traits-list-top {
            width: 100%;
            position: relative;
            height: 100%;
            //top: calc(#{$sidebar-height} * 0.09);
            //height: calc(#{$sidebar-height} * 0.73);
        }

        .top-nav-btn {
            //@include
            display: inline-block;
            width:15%;
            height:45%;

            &.left {
                @include section-background($transparent, 'store/icon_arrow_blue_left.png', $size: contain)
            }

            &.right {
                @include section-background($transparent, 'store/icon_arrow_blue_right.png', $size: contain)
            }
            //img {
            //    height: 50%;
            //    vertical-align: middle;
            //}
        }

        .top-nav-traits-container {
            height: 85%;
            width: 60%;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            display: inline-block;
            //vertical-align: middle;

            .top-nav-scroll {
                width: 100%;
                height:100%
            }

            .scroll {
                height:100%;
            }

            .store-top-item {
                display: inline-block;
                height: 85%;
                width: 32%;
                position: relative;

                &.locked {
                    &:after {
                        content: '';
                        @include section-background($transparent, '/achievements/badge_candado.svg', $size: contain);
                        width: 18px;
                        height: 18px;
                        @include xy-align(15%, 70%);
                    }
                }

                &.active {
                    .trait-top-container {
                        @include section-background($transparent, 'store/store_place_holder.svg', $position: center bottom);
                    }
                }

                &.remove-cross img {
                    max-width: 65%;
                    max-height: 65%
                }

                .buy-trait-container {
                    display: none;
                    @include xy-align();
                }

                &.locked.active .buy-trait-container {
                    display: block;
                }
            }

            .trait-top-container {
                width: 90%;
                height: 85%;
                padding: 5px;
                margin-left: auto;
                margin-right: auto;
                position: relative;

                .cb-badge.trait-badge {
                    $size: 18px;
                    color: $white;
                    @include badgify($size, 2px, $first-color, $theme-5);
                    @include xy-align(85%, 85%);
                    .trait-level {
                        @include xy-align();
                        font-size: 9px;
                        font-weight: 400;
                    }
                }

                .trait-price {
                    @include x-align();
                    bottom: -15px;

                    .trait-price-text {
                        @include font-border(2px, $first-color);
                        color: $white;
                        font-size: 12px;
                        font-weight: 600;
                    }
                }

                img {
                    max-width: 65%;
                    max-height: 65%;
                    @include xy-align()
                }
            }
        }
    }

    .equip-btn-container {
        width: 88%;
        position: absolute;
        bottom: 12vh;
        right: 0;
        text-align: center;

        button {
            width: 70px;
            height: 30px;
            font-size: 13px;
        }
    }

    .store-avatar {
        width: 88%;
        position: absolute;
        bottom: 17vh;
        right: 0;
        z-index: -999;

        &.avatar-spinner {
            text-align: center;
            right: initial;
            bottom: 50%;

            img {
                width: 20%;
            }
        }
    }
}
