.users {
    .chart-container {

        text-align: center;
        margin-top: 20px;

        .legend {
            font-size: 80%;
            opacity: 0.8;
            filter: alpha(opacity=80);
            padding-top: 10px;
            text-align: center;
        }

    }
}
