//.wall {
//
//    .full-image {
//        max-height: 200px;
//        width: auto;
//        margin-right: 20px;
//        margin-bottom: 20px;
//        float: left;
//    }
//
//    .post-actions {
//      position: absolute;
//      top: 10px;
//      right: 10px;
//    }
//
//    .text {
//        margin-top: 0;
//        text-align: justify;
//    }
//
//    .footer {
//        padding-top: 20px;
//        clear: both;
//    }
//
//    .likes {
//      position: relative;
//      font-weight: 400;
//    }
//
//    .i-like-it {
//        color: $theme-5;
//    }
//
//    .social-fb {
//        i {
//          color: $fb-blue;
//        }
//    }
//
//    .social-tw {
//
//        i {
//          color: $tw-blue;
//        }
//
//    }
//
//}
