.app {
    color: $theme-1;

    .field-feedback {
        background-color: $color-good;
        color: $theme-white;
        text-align: center;
    }

    .field-error {
        background-color: lighten($theme-a2, 40%);
        color: $theme-1;
        text-align: center;
    }

    .item-divider {
        background-color: $theme-3;
        border: $theme-1 1px solid;
        color: $theme-white;
    }

    i.icon{
        font-size: 20px;
        color: $theme-1;
    }

    .has-error {
        background-color: lighten($theme-a2, 40%);
    }
}
