// Color Palette
// -----------------------------------------------------------------------------

// Base Palette ----------------------------------------------------------------
$theme-1:                    rgb(238,115,16);
$theme-2:                    rgb(255,150,0);
$theme-3:                    rgb(255,200,0);
$theme-4:                    rgb(180,1,79);
$theme-5:                    rgb(255,0,102);
$theme-6:                    rgb(32,33,69);
$theme-7:                    rgb(34,27,21);
$theme-8:                    rgb(55, 56, 81);
$theme-9:                    rgb(178, 30, 81);

$chat-bubble: rgba($theme-3, 0.35);
$chat-bubble-alt: #EEEEEE;


$green: rgb(37, 211, 102);
$red: #FF4850;
$blue: rgb(52, 183, 241);

// Grayscale -------------------------------------------------------------------
$black:                      rgb(0, 0, 0);

$gray:                       rgb(99, 100, 102);
$gray-dark:                  darken($gray, 20%);
$gray-light:                 lighten($gray, 20%);

$smoke:                      rgb(230, 231, 232);
$smoke-dark:                 darken($smoke, 5%);
$smoke-light:                lighten($smoke, 5%);
$smoke-very-light:           lighten($smoke, 15%);

$white:                      rgb(255, 255, 255);
$transparent:                rgba(255,255,255,0);

// Primary ---------------------------------------------------------------------
$first-color:                $theme-6;
$first-color-dark:           darken($first-color, 15%);
$first-color-light:          lighten($first-color, 15%);

// Secondary -------------------------------------------------------------------
$second-color:               $theme-3;
$second-color-dark:          darken($second-color, 15%);
$second-color-light:         lighten($second-color, 15%);

$third-color:                $theme-4;
$third-color-dark:           darken($third-color, 15%);
$third-color-light:          lighten($third-color, 15%);

$fourth-color:                $theme-1;
$fourth-color-dark:           darken($fourth-color, 15%);
$fourth-color-light:          lighten($fourth-color, 15%);