// Import the site fonts
// -----------------------------------------------------------------------------

// AMSI PRO --------------------------------------------------------------------
$weights: (XLight:100, Light:200, Regular:300, SemiBold:400, Bold:500, Black:600, Ultra:700 );

@each $slug, $weight in $weights {
  @font-face {
    font-family: $first-font;
    src: url('#{$path-to-font}/amsi/#{$first-font}-#{$slug}.eot'); /* IE9 Compat Modes */
    src: url('#{$path-to-font}/amsi/#{$first-font}-#{$slug}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('#{$path-to-font}/amsi/#{$first-font}-#{$slug}.woff') format('woff'), /* Pretty Modern Browsers */
    url('#{$path-to-font}/amsi/#{$first-font}-#{$slug}.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('#{$path-to-font}/amsi/#{$first-font}-#{$slug}.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: $weight;
    font-style: normal;
  }
}

