html, body {
  @include site-font(13px, 500);
}


.card-footer {
  text-align: right;
}

.pull-bottom {
    @include xy-align(50%, 99%);
}

.cb-upper-left-menu{
    position: absolute;
    top: 0;
    left: 0;
}

.circle-mask {
    clip-path: url("img/assets/general/round_mask.svg");
}

.tooltip {
    background-color: $theme-5;
    width: 100vw;
    position: absolute;
    bottom: -10px;
    z-index: 1000;
    padding: 25px 10px 50px 10px;

    text-align: center;

    & > i {
        font-size: 10vw;
        color: $white;
        margin-bottom: 2vh;
    }

    & > .text {
        @include site-font(5vw, 600, $white);
        margin-top: 5vw;
        margin-bottom: 5vw;
    }

    & > .title {
        @include site-font(6.5vw, 600, $white);
        margin-top: 5vw;
        margin-bottom: 7vw;
    }

}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.star-rating {
    margin: 0;
    padding: 0;
    display: inline-block;

    .star {
        margin: 1px;
        width: 4.5vw;
        height: 4.5vw;
        list-style-type: none;
        display: inline-block;
        @include section-background($transparent, '/quests/star_grey.svg');

        &.filled {
            background-image: url('#{$path-to-assets}/quests/star_yellow.svg');
        }
    }
}


.cloak {
    display: none !important;
}

.cb-notification-badge {
    @include site-font(9px, 900, $white);
    background-color: $third-color;
    @include circle-border(1px, $third-color);
    position: absolute;
    width: 5vw;
    height: 5vw;
    line-height: 5vw;
    left: 25px;
    top: 10px;
    text-align: center;
}

.has-header {
    top: $header-bar-height;
}

.floating-nav-bar {
    top: 0;
}

button.button-icon.button-clear.cb-go-back-btn {

    &:before {
        color: $white;
        font-size: 20px;
        font-weight: 100;
    }
}

.bar.bar-cbuzz-modal {
    background: $theme-6;

    .title {
        color: $white;
        font-size: 17px;
        font-weight: 300;
    }
}

@media (min-width: 680px) {
    .modal {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        min-height: 240px;
        width: 100%;
    }

    .popup-container.popup-showing.active {
        .popup-buttons button.button, .button.button-default {
            font-size: 2vw;
        }
    }

    .store.pane {
        .avatar-info-wrapper {
            width: 200px;

            .money  {
                font-size: 2vw;
                img {
                    width: 50px;
                    height: 50px;
                }

                .xp {
                    width: 34px;
                    height:34px;
                }
            }
        }

    }

    .cb-menu {
        .cb-menu-content{
            .cb-menu-info {

                .name {
                    left: 70%;
                    font-size: 2.5vw;
                }

                .money {
                    top: 65%;
                    left: 40%;
                    font-size: 2.5vw;

                    &:before {
                        width: 4vw;
                        height: 4vw;
                    }
                }

                .avatar-wrapper {
                    .avatar {
                        margin: 10px;
                        width: 8vw;
                        height: 8vw;

                        &:after {
                            display: none;
                        }
                    }

                    .house {
                        left: 100%;
                        top: 70%;
                        width: 5vw;
                        height: 5vw;
                    }
                }

            }
        }
    }

    .item-avatar.item-complex, .item-avatar-left.item-complex, .item-thumbnail-left.item-complex {
        overflow: hidden;
    }

    .item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content {
        padding-left: 15vw;
    }

    .attendance-list-container {
        p {
            padding-left: 15vw;
        }
    }

    .group-detail, .add-student-list  {
        .item-avatar.item-complex, .item-avatar.complex {
            .group-avatar {
                width: 5vw;
                height: 5vw;
            }
        }

        .item-avatar .group-avatar:after {
            display: none;
        }
    }
}
