@mixin section-background($color, $image:null, $position:center, $repeat:no-repeat, $size:cover) {

  @if ($image) {
    background-image: url('#{$path-to-assets}/#{$image}');
    background-position: $position;
    background-repeat: $repeat;
  }

  background-color: $color;
  background-size: $size;
}

@mixin section-header-background($color, $image:null, $position:center, $repeat:no-repeat, $size:cover) {

  @if ($image) {
    background-image: url('#{$path-to-assets}/#{$image}');
    background-repeat: no-repeat;
    background-position: left center;
  }

  background-size: auto $header-bar-height;
  background-color: $color;
}

@mixin vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin absolute-center {
  @include xy-align();
}

@mixin xy-align ($x:50%, $y:50%) {
  position: absolute;
  left: $x;
  top: $y;
  transform: translate(-50%, -50%);
}

@mixin x-align ($x:50%) {
    position: absolute;
    left: $x;
    transform: translateX(-50%);
}

@mixin y-align ($y:50%) {
    position: absolute;
    top: $y;
    transform: translateY(-50%);
}

@mixin viewport-height ($position:relative, $margin-top:0px) {
  position: $position;
  top: $margin-top;
  height: calc(100vh - #{$footer-bar-height} - #{$margin-top});
}

@mixin classbuzz-icon($icon-name) {
  background-image: url('#{$path-to-icons}/#{$icon-name}');
}


@mixin classbuzz-icon($icon-name, $color:$transparent, $position:center, $repeat:no-repeat, $size:contain) {
  background-image: url('#{$path-to-icons}/icon_#{$icon-name}.svg');
  background-repeat: no-repeat;
  background-size: $size;
  background-position: center center;
  background-color: $color;
}


@mixin rectangle($width, $height, $color) {
  width: $width;
  height: $height;
  background: $color;
}

@mixin square($size, $color) {
  @include rectangle($size, $size, $color);
}

@mixin circle($size, $color) {
  @include square($size, $color);
  border-radius: $size / 2;
}

@mixin card-text () {

  @include site-font(12px, 300);

  h1 {
    @include site-font(13px, 500);
  }

  .from-now {
    font-size: 10px;
    font-weight: 500;
  }
}


@mixin custom-ion-item () {
  ion-item {
    background-color: $transparent;
    border: none;
  }
}

@mixin site-font ($size:15px, $weight:400, $color:$first-color) {
  color: $color;
  font-family: $site-font;
  font-size: $size;
  font-weight: $weight;
}

@mixin rank-number($size:80%){
    content: "";
    width: 30%;
    height: $size;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-110%);
}

@mixin font-border($size:2px, $color:$first-color) {
    text-shadow:
    $size 0 0 $color,
    -$size 0 0 $color,
    0 $size 0 $color,
    0 -$size 0 $color,
    $size/2 $size/2 $color,
    -$size/2 -$size/2 0 $color,
    $size/2 -$size/2 0 $color,
    -$size/2 $size/2 0 $color;
}

@mixin block-absolute-center() {
    display:block;
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
    margin:auto;
}

@mixin circle-border ($width:3px, $color:$first-color) {
    border-radius: 50%;
    border: $width solid $color;
}

@mixin round-clip ($pj:50%) {
    clip-path: circle($pj at 50% 50%);
    -webkit-clip-path: circle($pj at 50% 50%);
}

@mixin bullet-image ($size, $img) {
    &:before {
        @include section-background($transparent, #{$img}, $size:contain);
        content: '';
        width: $size;
        height: $size;
        @include xy-align(-$size/1.7, 50%);
    }
}

@mixin remove-button-style {
    background:none;
    border:none;
    font-size:1em;
    color:blue;
}

@mixin remove-anchor-style {
    &:link {
        text-decoration: inherit;
    }

    &:visited {
        text-decoration: inherit;
    }
}


@mixin placeholder-style($color:$smoke-dark, $text-indent: 0, $weight:400, $size:10px) {
    &::-moz-placeholder { // Firefox 19+
        @include site-font($size, $weight, $color);
    }
    &:-ms-input-placeholder {
        @include site-font($size, $weight, $color);
    }
    &::-webkit-input-placeholder {
        @include site-font($size, $weight, $color);
        // Safari placeholder margin issue
        text-indent: $text-indent;
    }
}


@mixin badgify($size, $border-width, $border-color:$first-color, $bgColor:$smoke-light) {
    position: relative;
    background-color: $bgColor;
    width: $size;
    height: $size;
    @include round-clip();
    @include circle-border($border-width, $border-color);

    & > img {
        @include xy-align();
        width: 90%;
        height: 90%;
    }
}


@mixin lockify($image, $size:10%) {

    position: relative;

    &:after {
        content: "";
        @include section-background($transparent, $image, center, no-repeat, contain);
        @include xy-align(75%, 75%);
        width: $size;
        height: $size;
    }

}

@mixin cardify($background-color:$white, $min-height:18vh, $border-radius:8px, $margin:10px) {

    background-color: $background-color;

    @include border-radius($border-radius);
    @include card-text();
    border: none;
    min-height: $min-height;
    margin: $margin 20px $margin 20px;

    .item-content {
        background-color: $transparent;
        padding: 10px;
    }
}


@mixin debug ($color:red, $border:true) {
    background-color: rgba($color, 0.5);

    @if $border {
        border: 4px solid $color;
    }
}

@mixin avatarify ($avatar-size, $border-width) {

    position: relative;
    background-color: $white;
    @include round-clip();
    width: $avatar-size;
    height: $avatar-size;

    img {
        width: 160%;
        height: 160%;
        @include xy-align(50%, 60%);
    }

    //This is to show border on top of avatar
    &:after {
        content: "";
        width: $avatar-size;
        height: $avatar-size;
        background-color: $transparent;
        @include circle-border($border-width, $third-color);
        @include round-clip();
        position: absolute;
        top: 0;
        left: 0;
    }
}

@mixin icon-font () {
    font-family: "Ionicons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    font-size: 15px;
}


@mixin grayscale () {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

@mixin remove-grayscale () {
    -webkit-filter: grayscale(0);
    filter: none;
}
