
$header-bar-height: 7vh;
$footer-bar-height: 7vh;
$menu-bar-height: 16vh;
$bar-height: 0px;
//$top-bar-margin: 60px;
$top-bar-margin: 20vw;

$viewport-height: calc(100vh - #{$footer-bar-height} - #{$header-bar-height});

//Paths -----------------------
$path-to-font: "../font";
$path-to-img: "../img";
$path-to-assets: "#{$path-to-img}/assets";
$path-to-icons: "#{$path-to-assets}/icons";


//Fonts -----------------------
$first-font: AmsiPro;
$site-font: $first-font, sans-serif;

//Tabs ------------------------
$tab-cbuzz-bg-color: $first-color;
$tab-cbuzz-border-color: $first-color;
$tab-cbuzz-text-color: $white;
