<ion-modal-view>

    <ion-header-bar align-title="center" class="bar-cbuzz-modal">
        <h1 class="title">{{"titles.edit_profile" | translate}}</h1>
        <div class="buttons" ng-include src="'modules/core/snippets/modalHeaderButtons.html'"></div>
    </ion-header-bar>

    <ion-content>

        <div class="list">
            <div class="item item-divider positive">
                {{"forms.personal_info" | translate}}
            </div>

            <label class="item item-input">
                <span class="input-label">
                    <i class="icon ion-person positive"></i>
                    {{"forms.first_name" | translate}}
                </span>
                <input type="text" ng-model="userProfile.firstName">
            </label>

            <label class="item item-input">
                <span class="input-label">
                    <i class="icon ion-person positive"></i>
                    {{"forms.last_name" | translate}}
                </span>
                <input type="text" ng-model="userProfile.lastName">
            </label>

            <label class="item item-input">
                <span class="input-label">
                    <i class="icon ion-ios-email positive"></i>
                    {{"forms.email" | translate}}
                </span>
                <input type="text" ng-model="userProfile.email">
            </label>

            <label class="item item-input">
                <span class="input-label">
                    <i class="icon ion-ios-telephone positive"></i>
                    {{"forms.phone" | translate}}
                </span>
                <input type="text" ng-model="userProfile.phoneNumber">
            </label>

            <div id="parentInfo" ng-show="hasRole('student')">

                <div class="item item-divider royal">
                    {{"forms.parent_info" | translate}}
                </div>

                <label class="item item-input">
                    <span class="input-label">
                        <i class="icon ion-person royal"></i>
                        {{"forms.first_name" | translate}}
                    </span>
                    <input type="text" ng-model="userProfile.student.parent.firstName">
                </label>

                <label class="item item-input">
                    <span class="input-label">
                        <i class="icon ion-person royal"></i>
                        {{"forms.last_name" | translate}}
                    </span>
                    <input type="text" ng-model="userProfile.student.parent.lastName">
                </label>

                <label class="item item-input">
                    <span class="input-label">
                        <i class="icon ion-ios-email royal"></i>
                        {{"forms.email" | translate}}
                    </span>
                    <input type="text" ng-model="userProfile.student.parent.email">
                </label>

                <label class="item item-input">
                    <span class="input-label">
                        <i class="icon ion-ios-telephone royal"></i>
                        {{"forms.phone" | translate}}
                    </span>
                    <input type="text" ng-model="userProfile.student.parent.phoneNumber">
                </label>

                <label class="item item-input">
                    <span class="input-label">
                        <i class="icon ion-clipboard royal"></i>
                        {{"forms.details" | translate}}
                    </span>
                    <input type="text" ng-model="userProfile.student.parent.contactDetails">
                </label>


            </div>

            <div class="item">
                <button class="button button-block button-cbuzz" ng-click="saveProfile()">
                    {{"buttons.save" | translate}}
                </button>
            </div>
        </div>

    </ion-content>
</ion-modal-view>
