<ion-view cache-view="false" view-title="{{'titles.profile' | translate}}" class="user-profile floating-nav-bar">

    <ion-content class="profile-wrapper">
        <div class="base-info" ng-class="{'teacher': hasRole('teacher')}">

            <span class="rank-info" ng-if="hasRole('student')">{{lowestRank.name}}</span>
            <span class="house-info" ng-if="hasRole('student')">{{userProfile.student.house.name}}</span>
            <div class="badge left minor" ng-click="tooltips.overallRank()" ng-if="hasRole('student')">
                <img ng-src="{{lowestRank.icon}}">
            </div>

            <div class="badge center mayor">
                <svg width="100%" height="100%">
                    <defs>
                        <clipPath id="cp1" clipPathUnits="objectBoundingBox">
                            <circle cx="0.5" cy="0.5" r="0.5" id="circleClip" />
                        </clipPath>
                    </defs>
                    <foreignObject clip-path="url(#cp1)" width="100%" height="100%">
                        <img ng-attr-src="{{ avatarURI }}" width="100%" height="100%" id="avatar" />
                    </foreignObject>
                </svg>
            </div>

            <div class="badge right minor" ng-if="hasRole('student')">
                <img ng-src="{{userProfile.houseLogo}}">
            </div>

            <div class="badge right minor" ng-if="!hasRole('student')">
                <img ng-src="{{userProfile.customer.logoURL}}">
            </div>

            <div class="level-progress" ng-if="hasRole('student')">
                <div id="progress" round-progress
                     max="userProfile.student.character.levelInfo.xpToNext"
                     current="userProfile.student.character.levelInfo.xp"
                     color="rgb(180,1,79)"
                     bgcolor="rgba(255,255,255,0.6)"
                     radius="15"
                     stroke="2"
                     semi="false"
                     rounded="false"
                     clockwise="true"
                     responsive="true"
                     duration="800"
                     animation="easeInOutQuart">
                </div>
            </div>


            <div class="xp" ng-if="hasRole('student')">{{userProfile.student.character.levelInfo.xp}} XP</div>
            <div class="gold" ng-if="hasRole('student')">{{userProfile.student.character.money}}</div>

            <div class="name" ng-if="!hasRole('student')"> {{userProfile.firstName}} {{userProfile.lastName}} </div>
            <div class="customer" ng-if="!hasRole('student')"> {{userProfile.customer.name}} </div>

        </div>

        <div class="extra-info yellow animated zoomIn" ng-if="hasRole('teacher')">
            <div class="number">{{groupCount}}</div>
            <div class="detail">Groups</div>
        </div>

        <div class="extra-info blue animated zoomIn" ng-if="hasRole('teacher')">
            <div class="number">{{studentCount}}</div>
            <div class="detail">Students</div>
        </div>

        <div class="skills-info" ng-if="hasRole('student')">
            <div class="skill" ng-repeat="skill in userProfile.student.character.skills">
                <div class="image">
                    <img ng-src="{{skill.skill.icon}}">

                    <div class="rank">
                        <img ng-src="{{rankByOrdinal(skill.rankInfo.rank).icon}}">
                    </div>
                </div>

                <div class="name">{{rankByOrdinal(skill.rankInfo.rank).name +' '+ skill.skill.name}}</div>

                <div class="pbar" cb-progress-bar
                        width="{{60}}vw"
                        height="{{2}}vh"
                        max="{{skill.rankInfo.xpToNext}}"
                        current="{{skill.xp}}"
                        bg-color="rgb(255,255,255)"
                        bar-color="{{skill.skill.color}}"
                        caption="20%">
                </div>
            </div>
        </div>

        <!--<div class="personal-info" ng-if="hasRole('student')">-->
        <div class="personal-info" ng-if="hasRole('student')">
            <div class="gender">
                <div class="male" ng-class="{'selected': userProfile.gender == 'M'}" ng-click="userProfile.gender = 'M'"></div>
                <div class="female" ng-class="{'selected': userProfile.gender == 'F'}" ng-click="userProfile.gender = 'F'"></div>
            </div>
            <div class="credentials">
                <h1>Username</h1>
                <input type="text" Disabled="true" ng-model="userProfile.credentials.username">
                <button ng-if="!isMyProfile()" class="cb-button cb-button-pink separated" ng-click="changePassword()"> {{"forms.change_password" | translate}} </button>
            </div>

            <input type="text" placeholder="Doc" ng-model="userProfile.doc">
            <input type="text" placeholder="First Name" ng-model="userProfile.firstName">
            <input type="text" placeholder="Last Name" ng-model="userProfile.lastName">

            <!--<div class="cb-complex-input">
                <button class="cb-button cb-button-input" ng-click="openDatePicker()"> <i class="icon ion-calendar"> </i> </button>
                <input type="date" placeholder="Birthday" ng-model="userProfile.birthday">
            </div>-->

            <div class="cb-complex-input">
                <input type="text" placeholder="Birthday" ng-model="userProfile.humanBirthday">
                <button class="cb-button cb-button-input" ng-click="openDatePicker()"> <i class="icon ion-calendar"> </i> </button>
             </div>

            <input type="text" placeholder="Email" ng-model="userProfile.email">
            <input type="text" placeholder="Phone Number" ng-model="userProfile.phoneNumber">

            <h1>Parent #1</h1>
            <input type="text" placeholder="Document" ng-model="userProfile.student.parents[0].doc">
            <input type="text" placeholder="First Name" ng-model="userProfile.student.parents[0].firstName">
            <input type="text" placeholder="Last Name" ng-model="userProfile.student.parents[0].lastName">
            <input type="text" placeholder="Email" ng-model="userProfile.student.parents[0].email">
            <input type="text" placeholder="Phone Number" ng-model="userProfile.student.parents[0].phoneNumber">

            <h1>Parent #2 (optional)</h1>
            <input type="text" placeholder="Document" ng-model="userProfile.student.parents[1].doc">
            <input type="text" placeholder="First Name" ng-model="userProfile.student.parents[1].firstName">
            <input type="text" placeholder="Last Name" ng-model="userProfile.student.parents[1].lastName">
            <input type="text" placeholder="Email" ng-model="userProfile.student.parents[1].email">
            <input type="text" placeholder="Phone Number" ng-model="userProfile.student.parents[1].phoneNumber">

            <div class="backdrop-spin" ng-if="saving">
                <span class="action">Saving profile...</span>
                <img class="spin" src="img/assets/general/spinner-alt.gif">
            </div>

            <button class="cb-button pull-right" ng-click="saveProfile()">Save</button>
        </div>

        <div class="personal-info" ng-if="hasRole('teacher') || hasRole('parent')">
            <div class="gender">
                <div class="male" ng-class="{'selected': userProfile.gender == 'M'}" ng-click="userProfile.gender = 'M'"></div>
                <div class="female" ng-class="{'selected': userProfile.gender == 'F'}" ng-click="userProfile.gender = 'F'"></div>
            </div>

            <input type="text" placeholder="Doc" ng-model="userProfile.doc">
            <input type="text" placeholder="First Name" ng-model="userProfile.firstName">
            <input type="text" placeholder="Last Name" ng-model="userProfile.lastName">
            <input type="text" placeholder="Email" ng-model="userProfile.email">
            <input type="text" placeholder="Phone Number" ng-model="userProfile.phoneNumber">

            <h1>Address</h1>
            <input type="text" placeholder="Street" ng-model="userProfile.address.street">
            <input type="text" placeholder="Number" ng-model="userProfile.address.number">
            <input type="text" placeholder="City" ng-model="userProfile.address.city">
            <input type="text" placeholder="ZIP" ng-model="userProfile.address.zip">
            <input type="text" placeholder="Country" ng-model="userProfile.address.country">

            <div class="backdrop-spin" ng-if="saving">
                <span class="action">Saving profile...</span>
                <img class="spin" src="img/assets/general/spinner-alt.gif">
            </div>

            <button class="cb-button pull-right" ng-click="saveProfile()">Save</button>
        </div>



    </ion-content>
</ion-view>
