<ion-modal-view class="new-message-modal">

    <ion-header-bar align-title="center" class="bar-cbuzz-modal">
        <div class="buttons" ng-include src="'modules/core/snippets/modalHeaderButtons.html'"></div>
        <h1 class="title">{{"titles.queue_message" | translate}}</h1>
    </ion-header-bar>

    <ion-content>
        <div class="cb-modal-form">
            <div class="list cb-form ">
                <div class="cb-field">
                    <textarea placeholder="Message" style="height: 200px" ng-model="newMessage.body"></textarea>
                </div>
                <button class="cb-submit-btn" ng-click="queueMessage()">
                    {{"buttons.queue" | translate}}
                </button>
            </div>
        </div>

    </ion-content>
</ion-modal-view>

