<div class="chart-container"
     ng-if="userProfile.id"
     ng-controller="StudentDetailStatisticsCtrl as studentDetailCtrl"
     ng-init="studentDetailCtrl.getStdDetailedStatistics(userProfile.id)">

    <ion-item class="item-divider text-left royal">
        {{"forms.achievements_detail" | translate}}
    </ion-item>

    <canvas
        ng-if="studentDetailCtrl.showChart"
        id="std-detail"
        class="chart chart-pie"
        chart-legend="false"
        chart-data="studentDetailCtrl.pieData"
        chart-labels="studentDetailCtrl.pieLabels"
        chart-colours="studentDetailCtrl.pieColours"
        chart-options="{responsive: false}">
    </canvas>

    <div class="legend">{{"phrase.touch_to_display_achievement" | translate}} </div>
</div>
<div class="clearfix"></div>

<div class="chart-container"
    ng-if="userProfile.id"
    ng-controller="StudentReceivedStatisticsCtrl as studentReceivedCtrl"
    ng-init="studentReceivedCtrl.getStudentReceivedSts(userProfile.id)">

    <ion-item class="item-divider text-left royal">
        {{"phrase.yearly_achievements" | translate}}
    </ion-item>
    <canvas
        ng-if="studentReceivedCtrl.showChart"
        id="std-yearly"
        class="chart chart-line"
        chart-legend="false"
        chart-data="studentReceivedCtrl.data"
        chart-labels="studentReceivedCtrl.labels"
        chart-series="studentReceivedCtrl.series"
        chart-colours="['#1ab394', '#ed5565']"
        chart-options="{responsive: false}">

    </canvas>
    <ul class="line-legend">
        <li>
            <span style="background-color:rgba(26,179,148,1)"></span>
            <p>{{"phrase.rewards" | translate}}</p>
        </li>
        <li>
            <span style="background-color:rgba(237,85,101,1);"></span>
            <p>{{"phrase.penalties" | translate}}</p>
        </li>
    </ul>
</div>
<div class="clearfix"></div>


<div class="chart-container"
    ng-if="userProfile.id"
    ng-controller="StudentAttendanceStatisticsCtrl as studentAttCtrl"
    ng-init="studentAttCtrl.getStudentAttendanceStats(userProfile.id)">

    <ion-item class="item-divider text-left royal">
        <p>{{"phrase.attendance" | translate}}</p>
    </ion-item>
    <canvas
        ng-if="studentAttCtrl.showChart"
        id="std-attendance"
        class="chart chart-bar"
        chart-legend="true"
        chart-data="studentAttCtrl.chartData"
        chart-labels="studentAttCtrl.chartLabels"
        chart-series="studentAttCtrl.chartSeries"
        chart-options="{responsive: false}"
        chart-colours="['#1ab394', '#ed5565']"
    ></canvas>

</div>
<div class="clearfix"></div>


