<div
    ng-controller="TeacherStatsCtrl as tsyCtrl"
    ng-init="tsyCtrl.getTeacherStatistics(userProfile.id)">

    <h3 class="text-navy">{{"forms.yearly_activities" | translate}} {{tsyCtrl.currentYear}}</h3>
    <canvas
        class="chart chart-radar"
        chart-data="tsyCtrl.data"
        chart-labels="tsyCtrl.labels"
        chart-colors="['#ed5565']">
    </canvas>
</div>

<div class="clearfix"></div>
