<ion-view view-title="Group">

    <ion-nav-buttons side="right">
        <!--<button class="button button-icon button-clear ion-ios-plus-outline" ng-click="addStudent()"></button>-->
        <!--<button class="button button-icon button-clear ion-android-more-vertical" ng-click="openPopover($event)"></button>-->
    </ion-nav-buttons>

    <ion-content>
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>

        <div class="bar bar-header item-input-inset">
            <div class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" ng-model="searchField.value" placeholder="Search">
                <button ng-show="searchField.value.length" class="button button-clear" ng-click="searchField.value = ''">
                    <i class="ion-close-circled"></i>
                </button>
            </div>
        </div>

        <ion-list show-delete="false" class="cb-group-container" ng-if="students.length == 0">
            <ion-item class="item-text-wrap" href="#" ng-hide="">
                <div class=" item-icon-left">
                    <i class="icon ion-information-circled"></i>
                    Sorry...no students yet.
                </div>
            </ion-item>
        </ion-list>

        <ion-list show-delete="false" can-swipe="true" ng-repeat="student in students | orderBy:'groups[0].level' | filter: searchField.value">
            <ion-item class="item item-avatar item-text-wrap" ng-click="showUserProfile(student)">

                <img ng-src="{{student.avatarURL}}">

                <div
                     round-progress
                     max="student.student.character.levelInfo.xpToNext - student.student.character.levelInfo.xpToCurrent"
                     current="student.student.character.levelInfo.xp - student.student.character.levelInfo.xpToCurrent"
                     color="#2F4050"
                     bgcolor="#eaeaea"
                     radius="30"
                     stroke="6"
                     semi="false"
                     rounded="true"
                     clockwise="true"
                     responsive="true"
                     duration="800"
                     animation="easeInOutQuart">
                </div>

                <strong>{{student.firstName}} {{student.lastName}}</strong>
                <p>{{student.student.house.name}}</p>
                <span class="badge badge-positive">{{student.groups[0].level}}</span>


                <!--<ion-option-button class="button-light icon ion-person" ng-click="showUserProfile(student)"></ion-option-button>-->

            </ion-item>
        </ion-list>
    </ion-content>

</ion-view>
