<ion-view view-title="{{'titles.notifications' | translate}}" class="notifications">

    <div class="header-actions">
        <button class="btn-clear" ng-click="markAllAsRead()"> {{'phrase.mark_as_read' | translate}} </button>
    </div>

    <ion-content class="content">
        <ion-refresher
            pulling-text="{{'phrase.pull_refresh' | translate}}..."
            on-refresh="doRefresh()">
        </ion-refresher>

        <ion-list show-delete="false" ng-show="notifications.length == 0">
            <ion-item class="item-text-wrap" href="#">
                <div class=" item-icon-left">
                    <i class="icon ion-information-circled"></i>
                    {{"phrase.no_notifications" | translate}}.
                </div>
            </ion-item>
        </ion-list>

        <ion-list show-delete="false" can-swipe="true" ng-repeat="notification in notifications | orderBy:'-timestamp'" ng-show="notifications.length > 0">
            <ion-item href="#" ng-click="markAsRead(notification)" class="animated slideInRight">

                <div>
                    <div class="item-text-wrap">
                        <h1>{{notification.title}}</h1>
                        {{notification.message}}
                    </div>
                </div>

                <i class="status-badge" ng-class="{'read': notification.isRead}">&nbsp;</i>

                <div class="from-now">
                    <i class="icon ion-clock"></i> {{fromNow(notification.timestamp)}}
                </div>

            </ion-item>
        </ion-list>

        <!--<ion-infinite-scroll ng-if="moreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>-->

    </ion-content>
</ion-view>
