.messages {

    .mail {
        width: 35px;
        height: 35px;

        border-radius: 50%;
        font-size: 12px;
        position: absolute;
        right: 10px;

        display: table;
        overflow: hidden;

        text-align: center;
    }

    .ready {
        background-color: $color-sky;
        color: $theme-white;
    }

    .sent {
        background-color: $color-navy;
        color: $theme-white;
    }

    .read {
        background-color: $color-good;
        color: $theme-white;
    }

    .received {
        background-color: $color-ocre;
        color: $theme-white;
    }
}
