.groups {
    .badge {
        position: absolute;
        top: 25px;
        right: 15px;
    }
}

.feedback {

    .slide-title {
        height: 25px;
        color: #ffffff;
        text-align: center;
        font-weight: 500;
        font-size: 20px;
    }

    //To mantain the header in place when sliding the panels
    .bar-subheader {
        position: static;
        background-color: beige;
    }

    .quest-trophy-icon {
        color: $color-trophy !IMPORTANT;
        font-size: 36px !IMPORTANT;
        text-shadow: 1px 2px 2px #BCBCBA;
    }

    .skill-icon-wrapper {
      img {
        float: right;
        max-height: 25px;
        width: auto;
        position: relative;
        right: 0px;
        bottom: 30px;
        margin-left: 5px;
      }
    }

    .quest-progress {
      background-color: $theme-white;
      height: 15px;
      text-align: left;
      margin-top: 5px;
      top: 10px;
      z-index: -10;

      .progress {
        background-color: $theme-a2;
        height: 100%;
      }

    }

}
