<ion-view view-title="{{'titles.quest_detail' | translate}}" class="quest_detail">

    <ion-content>
        <ion-refresher
            pulling-text="{{'phrase.pull_refresh' | translate}}..."
            on-refresh="doRefresh()">
        </ion-refresher>

        <div class="title">
            {{questInfo.quest.name}}
        </div>

        <ion-list show-delete="false" can-swipe="true" ng-repeat="goal in questInfo.goals">
            <ion-item href="#">

                <div class=" item-icon-left">
                    <i class="icon ion-pinpoint"></i>
                    <div class="item-text-wrap">
                        <p>{{goal.goal.name}}</p>
                        <div class="annotation">{{goal.completedSteps}} / {{goal.totalSteps}}</div>
                    </div>
                </div>

            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>

