<ion-view view-title="{{'titles.quests' | translate}}" class="quests">

    <ion-content class="floating-nav-bar">
        <div class="slider-tabs">
            <button class="slider-tab-item" ng-class="{'active': sliderIdx == 1}" ng-click="setSlider(1)">Completed</button>
            <button class="slider-tab-item" ng-class="{'active': sliderIdx == 0}" ng-click="setSlider(0)">Active</button>
        </div>

        <ion-slide-box active-slide="sliderIdx">

            <ion-slide>
                <ion-list>
                    <ion-item class="special-event"
                              ng-repeat="sEvent in userSpecialEvents"
                              ng-class="{ {{sEvent.difficulty}}: true }"
                              ng-click="showSpecialEventDetail(sEvent)"
                              href="#">

                        <div class="chest">
                            <div class="reward">{{sEvent.eligibleChests[0].xp}} XP</div>
                        </div>

                        <div class="coin">
                            <div class="reward">{{sEvent.eligibleChests[0].money}}</div>
                        </div>

                        <div class="rating">
                            <div star-rating max="5" readonly="true"></div>
                        </div>

                        <div class="name">
                            {{sEvent.name}}
                        </div>

                        <div class="timestamp" ng-if="sEvent.endingDate">
                            Due {{fromNow(sEvent.endingDate)}}
                        </div>

                        <div class="more-info"></div>

                    </ion-item>

                    <ion-item class="quest"
                              ng-repeat="quest in userQuests | orderBy:'-assigned' track by $index"
                              href="#" ng-click="showQuestDetail(quest)">

                        <div class="coin">
                            <div class="reward">{{quest.quest.reward.money}}</div>
                        </div>

                        <div class="name">
                            {{quest.quest.name}}
                        </div>

                        <button class="more-info"></button>

                        <div class="goals">
                            <div class="goal" ng-repeat="goal in quest.goals" ng-class="{fulfilled:goal.isFulfilled}">
                                {{goal.goal.name}}
                            </div>
                        </div>

                    </ion-item>
                </ion-list>
            </ion-slide>
            <ion-slide>
                <ion-list>
                    <ion-item class="special-event completed"
                              ng-repeat="sEvent in userCompletedSpecialEvents"
                              ng-class="{ {{sEvent.specialEvent.difficulty}}: true }"
                              href="#">

                        <div class="rating">
                            <div star-rating
                                 max="5"
                                 rating-value="{{sEvent.grade}}"
                                 readonly="true"></div>
                        </div>

                        <div class="name">
                            {{sEvent.specialEvent.name}}
                        </div>

                        <div class="skills">
                            <div class="skill" ng-repeat="skill in sEvent.specialEvent.skills">
                                <img ng-src="{{skill.icon}}">
                            </div>
                        </div>

                        <div class="timestamp">
                            <i class="ion-clock"></i>
                            {{fromNow(sEvent.completed)}}
                        </div>

                    </ion-item>

                    <ion-item class="quest"
                              ng-repeat="quest in userCompletedQuests | orderBy:'-assigned' track by $index"
                              href="#" ng-click="showQuestDetail(quest)">

                        <div class="coin">
                            <div class="reward">{{quest.quest.reward.money}}</div>
                        </div>

                        <div class="name">
                            {{quest.quest.name}}
                        </div>

                        <button class="more-info"></button>

                        <div class="goals">
                            <div class="goal" ng-repeat="goal in quest.goals" ng-class="{fulfilled:goal.isFulfilled}">
                                {{goal.goal.name}}
                            </div>
                        </div>

                    </ion-item>

                </ion-list>

            </ion-slide>

        </ion-slide-box>

    </ion-content>
</ion-view>

