<div class="cb-modal">

    <div class="quests info-modal-wrapper">

        <div class="close" ng-click="modal.hide()"></div>

        <div class="coin">
            <div class="reward">{{detailQuest.quest.reward.money}}</div>
        </div>

        <div class="name">
            {{detailQuest.quest.name}}
        </div>

        <div class="goals-wrapper">
            <div class="goals">
                <div class="goal" ng-repeat="goal in detailQuest.goals" ng-class="{fulfilled:goal.isFulfilled}">
                    <div class="goal-name"> {{goal.goal.name}}</div>
                    <div class="goal-progress">{{goal.completedSteps}} / {{goal.totalSteps}}</div>
                </div>
            </div>
        </div>

        <div class="skills">
            <div class="skill" ng-repeat="goal in detailQuest.goals">
                <img ng-src="{{goal.goal.skill.icon}}">
                <!--<div class="skill-name">{{goal.goal.skill.name}}</div>-->
            </div>
        </div>

    </div>
</div>