<div class="cb-modal">

    <div class="quests info-modal-wrapper special-event" ng-class="{ {{eventDetail.difficulty}}: true }">

        <div class="boss"></div>

        <div class="rating">
            <div star-rating max="5" ratingValue="{{3}}"></div>
        </div>

        <div class="close" ng-click="modal.hide()"></div>

        <div class="chest">
            <div class="reward">{{eventDetail.eligibleChests[0].xp}} XP</div>
        </div>

        <div class="coin">
            <div class="reward">{{eventDetail.eligibleChests[0].money}}</div>
        </div>

        <div class="name">
            {{eventDetail.name}}
        </div>


        <div class="skills">
            <div class="skill" ng-repeat="skill in eventDetail.skills">
                <img ng-src="{{skill.icon}}">
                <!--<div class="skill-name">{{skill.name}}</div>-->
            </div>
        </div>

    </div>
</div>