<ion-view view-title="{{'titles.leaderboards' | translate}}" class="leaderboards floating-nav-bar">
  <ion-content class="floating-nav-bar">

      <div class="slider-tabs">
          <button class="slider-tab-item" ng-class="{'active': sliderIdx == 0}" ng-click="setSlider(0)">Students</button>
          <button class="slider-tab-item" ng-class="{'active': sliderIdx == 1}" ng-click="setSlider(1)">Houses</button>
      </div>


      <ion-slide-box active-slide="sliderIdx">

          <ion-slide>

              <div class="title-wrapper">
                  <h1>STUDENTS MVP</h1>
                  <h3>SEASON 1</h3>
              </div>

              <div class="podium-wrapper">

                  <div class="podium-item third-place">
                      <div class="score">{{rankPodium[2].student.character.xp}}</div>
                      <div class="avatar">
                          <img ng-src="{{rankPodium[2].avatarURL}}"></img>
                      </div>
                      <div class="house">
                          <img class="house-logo" ng-src="{{rankPodium[0].student.house.logo}}"></img>
                      </div>
                      <div class="name third-place">{{rankPodium[2].firstName}} {{rankPodium[2].lastName}}</div>

                  </div>

                  <div class="podium-item first-place">
                      <div class="score">{{rankPodium[0].student.character.xp}}</div>
                      <div class="avatar">
                          <img ng-src="{{rankPodium[0].avatarURL}}"></img>
                      </div>

                      <div class="house">
                          <img class="house-logo" ng-src="{{rankPodium[0].student.house.logo}}"></img>
                      </div>
                      <div class="name first-place">{{rankPodium[0].firstName}} {{rankPodium[0].lastName}}</div>
                  </div>

                  <div class="podium-item second-place">
                      <div class="score">{{rankPodium[1].student.character.xp}}</div>
                      <div class="avatar">
                          <img ng-src="{{rankPodium[1].avatarURL}}"></img>
                      </div>
                      <div class="house">
                          <img class="house-logo" ng-src="{{rankPodium[1].student.house.logo}}"></img>
                      </div>

                      <div class="name second-place">{{rankPodium[1].firstName}} {{rankPodium[1].lastName}}</div>
                  </div>

              </div>

              <ion-list show-delete="false" can-swipe="false" ng-repeat="student in rankRunners | orderBy:'rank' track by $index">
                  <ion-item class="rank-item" ng-class="{'you': student._id == loggedUser.id }">
                      <div class="rank">{{student.rank}}</div>
                      <div class="name" ng-if="student._id != loggedUser.id">{{student.firstName}} {{student.lastName}}</div>
                      <div class="name" ng-if="student._id == loggedUser.id">YOU!!</div>
                      <div class="points">{{student.student.character.xp}}</div>
                  </ion-item>
              </ion-list>

          </ion-slide>


          <ion-slide>

              <div class="title-wrapper">
                  <h1>HOUSE MVP</h1>
                  <h3>SEASON 1</h3>
              </div>

              <div class="house-rank-wrapper">

                  <div class="rank-house" ng-class="{'your-house': houses[3]._id == loggedUser.house}">

                      <div class="score-bar"></div>

                      <div class="house-logo fourth-place">
                          <img ng-src="{{houses[3].logo}}">
                      </div>

                      <div class="beehive fourth-place"></div>
                      <div class="house-score">{{houses[3].score}} pts</div>
                      <div class="house-name">{{houses[3].name}}</div>

                  </div>

                  <div class="rank-house" ng-class="{'your-house': houses[2]._id == loggedUser.house}" >

                      <div class="score-bar"></div>

                      <div class="house-logo third-place">
                          <img ng-src="{{houses[2].logo}}">
                      </div>

                      <div class="beehive third-place"></div>
                      <div class="house-score">{{houses[2].score}} pts</div>
                      <div class="house-name">{{houses[2].name}}</div>

                  </div>

                  <div class="rank-house" ng-class="{'your-house': houses[0]._id == loggedUser.house}">

                      <div class="score-bar"></div>

                      <div class="house-logo first-place">
                          <img ng-src="{{houses[0].logo}}">
                      </div>

                      <div class="beehive first-place"></div>
                      <div class="house-score">{{houses[0].score}} pts</div>
                      <div class="house-name">{{houses[0].name}}</div>

                  </div>

                  <div class="rank-house" ng-class="{'your-house': houses[1]._id == loggedUser.house}">

                      <div class="score-bar"></div>

                      <div class="house-logo second-place">
                          <img ng-src="{{houses[1].logo}}">
                      </div>

                      <div class="beehive second-place"></div>
                      <div class="house-score">{{houses[1].score}} pts</div>
                      <div class="house-name">{{houses[1].name}}</div>

                  </div>

              </div>
          </ion-slide>

      </ion-slide-box>

  </ion-content>
</ion-view>
