<div class="store-top-item" ng-click="checkSelectedBodyColour('A')" ng-class="{'active': checkActiveBodyColour('Body-Chest-A')}">
    <div class="trait-top-container">
        <img alt="clear"  src="img/assets/store/bodyColourA.png" />
    </div>
</div>
<div class="store-top-item" ng-click="checkSelectedBodyColour('B')" ng-class="{'active': checkActiveBodyColour('Body-Chest-B')}">
    <div class="trait-top-container">
        <img alt="clear"  src="img/assets/store/bodyColourB.png" />
    </div>
</div>
<div class="store-top-item" ng-click="checkSelectedBodyColour('C')" ng-class="{'active': checkActiveBodyColour('Body-Chest-C')}">
    <div class="trait-top-container">
        <img alt="clear"  src="img/assets/store/bodyColourC.png" />
    </div>
</div>
