<ion-view view-title="{{'titles.store' | translate}}" class="store floating-nav-bar">

    <ion-content class="floating-nav-bar" scroll="false">
        <!--Top naviation (parts)-->
        <div class="store-top-wrapper">
                <!--Traits list-->
                <div class="store-traits-list-top" ng-hide="storeIsLoading || !svgLoaded">
                    <!--Navigation top-->
                    <div class="top-nav-btn left" ng-click="scrollLeft()">
                    </div>
                    <div class="top-nav-traits-container">

                        <ion-scroll direction="x" class="top-nav-scroll" delegate-handle="traitsPartsHandler">
                            <!--Clear btn-->
                            <div class="store-top-item remove-cross" ng-show="displayClearButton" ng-click="clearCurrentPart()">
                                <div class="trait-top-container">
                                    <img alt="clear"  src="img/assets/store/cross-11_thumb.png" />
                                    <div class="trait-price"><span class="trait-price-text">REMOVE</span></div>
                                </div>
                            </div>
                            <!--Body colours-->
                            <span ng-if="mSelected == 'body' && pSelected == 'bodyColour'" ng-include="'modules/store/views/bodyColourTraitSelect.html'"></span>
                            <div
                                ng-repeat="trait in allTraits"
                                ng-click="setPreviewPart(trait)"
                                class="store-top-item"
                                ng-class="{'locked' : !trait.availableForUser, 'active': checkActive(trait)}"
                            >
                                <div class="trait-top-container">
                                    <!--Level-->
                                    <span  class="cb-badge trait-badge" ng-if="trait.requirements.level > character.levelInfo.level"
                                          ng-class="trait.requirements.level > character.levelInfo.level ? 'unavailable-trait-badge' : ''">
                                        <span class="trait-level">{{trait.requirements.level}}</span>
                                    </span>
                                    </span>
                                    <!--Preview img-->
                                    <img alt="image"  ng-src="{{trait.previewImageURL}}" />
                                    <!--Buy btn-->
                                    <div class="buy-trait-container">
                                        <button type="button" ng-click="buyTrait(trait); $event.stopPropagation();" class="cb-button">
                                            Buy
                                        </button>
                                    </div>
                                    <!--Price-->
                                    <div class="trait-price" ng-hide="trait.availableForUser"><span class="trait-price-text">{{trait.price == 0 ? 'FREE' : '$ ' + trait.price}}</span></div>
                                </div>

                            </div>
                        </ion-scroll>
                        <ion-infinite-scroll ng-if="!noMoreItemsAvailable" icon="ion-loading-c" on-infinite="loadMoreTraits()" distance="1%"></ion-infinite-scroll>
                    </div>
                    <!--Navigation bot-->
                    <div class="top-nav-btn right" ng-click="scrollRight()">
                    </div>
            </div>
        </div>
        <!--Canvas draw ext-->
        <canvas id="mycanvas" width="800px" height="600px" style="display: none;"></canvas>

        <!-- Navigation Sidebar-->
        <div class="store-side-wrapper" ng-hide="storeIsLoading || !svgLoaded">
            <!--Navigation top-->
            <ion-item class="store-nav-top">
              <a href ng-click="scrollDown()">
                  <img alt="image" src="img/assets/store/menubar_icon_arrow_top.png"/>
              </a>
            </ion-item>
            <!--Traits list-->
            <ion-scroll  class="store-traits-list-side" delegate-handle="traitsTypesHandler">
                <div class="item-text-wrap">
                    <div ng-repeat="traitNav in traitsNavList" class="store-side-item" ng-class="pSelected == traitNav.name && mSelected == traitNav.mType   ? 'active' : ''" id="{{traitNav.markupId}}" ng-click="scrlTo(traitNav);">
                        <img alt="image" ng-src="{{traitNav.imgPath}}" />
                    </div>
                </div>
            </ion-scroll>
            <!--Navigation bot-->
            <ion-item class="store-nav-bot">
              <a href ng-click="scrollUp()">
                  <img alt="image" src="img/assets/store/menubar_icon_arrow.png"  />
              </a>
            </ion-item>
        </div>

        <!--Avatar info-->
        <div class="avatar-info-wrapper" ng-hide="storeIsLoading || !svgLoaded">
            <div class="money"><img ng-src="img/assets/quests/coin_.png">{{user.student.character.money}} | <div class="xp">{{user.student.character.levelInfo.level}}</div></div>

        </div>

        <div class="backdrop-spin store-avatar avatar-spinner" ng-show="storeIsLoading || !svgLoaded">
            <span class="action">Loading...</span>
            <img class="spin" src="img/assets/general/spinner-alt.gif">
        </div>
            <!--Avatar-->
        <div class="store-avatar" id="store-avatar-svg" ng-include="'img/assets/store/ClassBuzzV2Avatar.svg'" data-onload="svgLoadedComplete()" ng-hide="storeIsLoading || !svgLoaded">
        </div>

        <!--Equip Btns-->
        <div class="equip-btn-container" ng-hide="storeIsLoading || !svgLoaded">
            <!--Equip-->
            <button class="cb-button" type="button" ng-click="updateCharEquipedTraits()" ng-show="checkEquipedTraits() && !storeIsLoading">Equip</button>
            <!--Cancel-->
            <button class="cb-button" type="button" ng-click="cancelUpdate()" ng-show="equipEnabled && !storeIsLoading">Cancel</button>
        </div>

    </ion-content>

</ion-view>
