.livefeed {
    h1 {
        font-size: 15px;
    }

    .item-content {
        padding: 20px !important;
    }

    .avatar-wrap{

        &.you {
            background-color: greenyellow !important;
        }
    }

    .avatar {
        max-height: 90px;
        float: left;

    }

    .description {
        float: right;
        font-weight: 500 !important;
    }
}
