<ion-view view-title="{{'titles.trivia' | translate}}" class="games">

    <!--<ion-nav-buttons side="right">
        <button class="button button-icon button-clear nav-button ion-navicon-round" menu-toggle="right" ng-show="isLoggedIn()"></button>
    </ion-nav-buttons>-->

    <ion-header-bar align-title="center" class="bar-cbuzz-modal group-detail-header">
        
        <div class="buttons" ng-if="(session != null && isOwner()) || (session != null && !gameOn && !isOwner())">
            <div class='threebar' ng-class="{'back-arrow':session == null, 'cross':session != null, 'pink':session != null}" ng-click="leaveSession()">
                <div class='bar'></div>
                <div class='bar'></div>
                <div class='bar'></div>
            </div>
        </div>

    </ion-header-bar>

    <ion-content>

        <div class="cb-modal-form" ng-if="session == null">
            <form class="cb-form" name="sessionForm">
                <div class="cb-section">
                    <div class="cb-title">
                        {{"titles.join_session" | translate}}
                    </div>

                    <div class="cb-field">
                        <input type="number" placeholder="#" ng-model="_ssid">
                    </div>

                </div>

                <button class="cb-button wide separated" ng-click="joinSession(_ssid)"> {{"forms.join_session" | translate}} </button>
                <button class="cb-button cb-button-pink wide separated" ng-click="createSession()" ng-if="isTeacher()"> {{"forms.create_session" | translate}} </button>
            </form>
        </div>


        <div class="session-info" ng-if="session != null && isOwner()">
            <!--<div class="session-info" ng-if="session != null && (!(session.status == 'in-progress' || session.status == 'paused') || isOwner())">-->
            
            <ion-list ng-if="session.status != 'pulsed'">
                <ion-item class="pin">
                    <p> 
                        PIN: {{session._id}}
                    </p>
                </ion-item>

                <ion-item  class="owner" ng-repeat="connection in session.connected" ng-if="session.owner == connection.user._id">
                    <p class="name">{{connection.user.firstName}} {{connection.user.lastName}} <span class="status ready">OWNER</span></p>
                </ion-item>

                <ion-item ng-repeat="connection in session.connected | orderBy:'-user.score'" ng-if="session.owner != connection.user._id">
                    <p class="name">{{connection.user.firstName}} {{connection.user.lastName}} <span class="score">{{connection.user.score}} Trivia points</span></p>
                    <div class="status" ng-class="connection.status"> 
                        {{connection.status}}
                    </div>
                </ion-item>
            </ion-list>

            <div class="pulserInfo" ng-if="session.status == 'pulsed'">
                <ion-list>
                    <!--<ion-list ng-if="!(session.status == 'in-progress' || session.status == 'paused')">-->
                    <ion-item class="pin">
                        <p> 
                            {{pulsingUser.action}}
                        </p>
                    </ion-item>
                    <ion-item>
                        <p class="name">{{pulsingUser.firstName}} {{pulsingUser.lastName}} <span class="score">{{pulsingUser.score}} Trivia points</span></p>
                    </ion-item>
                </ion-list>

                <div class="evaluate">
                    <button class="correct" ng-click="correctAnswer()"><i class="ion-happy-outline"></i></button>
                    <button class="incorrect" ng-click="incorrectAnswer()"><i class="ion-sad-outline"></i></button>
                </div>
            </div>

            <div class="countdown" ng-if="countdown != -1">
                {{countdown}}
            </div>

            <div class="cb-fixed-button left50" ng-class="{'disabled': !allReady()}">
                <button ng-click="allReady() && startSession()" ng-if="session.status != 'in-progress' && session.status != 'paused' && session.status != 'pulsed'">Start</button>
                <button ng-click="pauseSession()" ng-if="session.status == 'in-progress'">Pause</button>
                <button ng-click="resumeSession()" ng-if="session.status == 'paused'">Resume</button>
            </div>
        </div>


         <div class="session-info" ng-if="session != null && !isOwner()">
            <!--<div class="session-info" ng-if="session != null && (!(session.status == 'in-progress' || session.status == 'paused') || isOwner())">-->
            
            <ion-list ng-if="session.status != 'pulsed' && session.status != 'in-progress'">
                <ion-item class="pin">
                    <p> PIN: {{session._id}} </p>
                </ion-item>

                <ion-item  class="owner" ng-repeat="connection in session.connected" ng-if="session.owner == connection.user._id">
                    <p class="name">{{connection.user.firstName}} {{connection.user.lastName}} <span class="status ready">OWNER</span></p>
                </ion-item>

                <ion-item ng-repeat="connection in session.connected | orderBy:'-user.score'" ng-if="session.owner != connection.user._id">
                    <p class="name">{{connection.user.firstName}} {{connection.user.lastName}} <span class="score">{{connection.user.score}} Trivia points</span></p>
                    
                    <div class="status" ng-class="connection.status"> 
                        {{connection.status}}
                    </div>
                </ion-item>
            </ion-list>

            <div class="pulserInfo" ng-if="session.status == 'pulsed'">
                <ion-list>
                    <!--<ion-list ng-if="!(session.status == 'in-progress' || session.status == 'paused')">-->
                    <ion-item class="pin">
                        <p> 
                            {{pulsingUser.action}}
                        </p>
                    </ion-item>
                    <ion-item>
                        <p class="name">{{pulsingUser.firstName}} {{pulsingUser.lastName}} <span class="score">{{pulsingUser.score}} Trivia points</span></p>
                    </ion-item>
                </ion-list>
            </div>

            <div class="countdown" ng-if="countdown != -1">
                {{countdown}}
            </div>

            <div class="pulser" ng-if="session.status == 'in-progress' && !isOwner()">
                <button ng-click="pulse()">I KNOW</button>
            </div>

            <div class="cb-fixed-button left50">
                <button ng-click="imReady()" ng-if="!amIReady">Ready</button>
                <button ng-click="imNotReady()" ng-if="amIReady && (session.status == 'waiting' || session.status == 'ready') ">Not Ready</button>
            </div>
        </div>

        
        
    </ion-content>

</ion-view>





