<ion-view cache-view="false" view-title="{{'titles.stats' | translate}}" class="parents">

    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear nav-button ion-navicon-round" menu-toggle="right" ng-show="isLoggedIn()"></button>
    </ion-nav-buttons>

    <div class="cb-upper-left-menu">
        <button class="button button-icon button-clear ion-android-arrow-back" ng-click="goBack()"> {{'phrase.back' | translate}}</button>
    </div>

    <ion-content class="profile-wrapper">

        <div class="cb-card">
            <div class="base-info">
                <div class="avatar">
                    <img ng-src="{{avatarURI}}">
                </div>

                <div class="name">
                    {{userProfile.fullName}}
                </div> 

                <div class="house badge right minor">
                    <img ng-src="{{userProfile.houseLogo}}">
                </div>
            </div>

            <h1> HABILIDADES </h1>
            <div class="skills-info">
                <div class="skill" ng-repeat="skill in userProfile.student.character.skills">
                    <div class="image">
                        <img ng-src="{{skill.skill.icon}}">

                        <div class="rank">
                            <img ng-src="{{rankByOrdinal(skill.rankInfo.rank).icon}}">
                        </div>
                    </div>

                    <div class="name">{{ skill.skill.name  +' - '+ rankByOrdinal(skill.rankInfo.rank).name}}</div>

                    <div class="pbar" cb-progress-bar width="{{45}}vw" height="{{2}}vh" max="{{skill.rankInfo.xpToNext}}" current="{{skill.xp}}"
                        bg-color="rgb(238,238,238)" bar-color="{{skill.skill.color}}" caption="20%">
                    </div>
                </div>
            </div>


            <h1> ACTIVIDADES </h1>
            <p> (actividades/mes) </p>
            <canvas id="line" 
                class="chart chart-line" 
                chart-data="activities.data" 
                chart-labels="activities.labels" 
                chart-series="activities.series"
                chart-colours="activities.colors"
                chart-options="activities.options"
                chart-legend="true"
                height="250">
            </canvas>


            <h1> ASISTENCIA </h1>
            <p> (asistencia/mes) </p>
            <canvas id="bar" 
                class="chart chart-bar"
                chart-data="attendance.data" 
                chart-labels="attendance.labels" 
                chart-series="attendance.series"
                chart-colours="attendance.colors"
                chart-options="attendance.options"
                chart-legend="true"
                height="250">
            </canvas>
        </div>

    </ion-content>

</ion-view>