<ion-view cache-view="false" view-title="{{'titles.children' | translate}}" class="parents">

    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear nav-button ion-navicon-round" menu-toggle="right" ng-show="isLoggedIn()"></button>
    </ion-nav-buttons>

    <ion-content>

        <div class="cb-list">
            <div class="cb-list-item avatar" ng-repeat="child in children" ng-click="goTo('app.childrenStats', {userId: child._id})">

                <div class="avatar">
                    <img ng-src="{{child.avatarURL}}">
                </div>

                <p></p>

                <h2>
                    {{child.firstName}} {{child.lastName}}
                </h2>


                <span class="timestamp" > {{'phrase.birthday' | translate}}: {{moment(child.birthday).year(moment().year()).fromNow()}} </span>


            </div>
        </div>

    </ion-content>

</ion-view>
