<ion-view view-title="{{'titles.wall' | translate}}">
    <ion-content class="wall">

        <ion-refresher
            pulling-text="{{'phrase.pull_refresh' | translate}}..."
            on-refresh="doRefresh()">
        </ion-refresher>

        <ion-list class="item-text-wrap" show-delete="false" can-swipe="false" ng-repeat="newsItem in news | orderBy:'-timestamp'">

            <div class="list card">

                <div class="item item-avatar">
                    <img ng-src="{{newsItem.author.avatarURL}}">
                    <h2>{{newsItem.author.fullName}}</h2>
                    <p>{{fromNow(newsItem.createdAt)}}</p>
                    <a href="#" class="post-actions" ng-if="isMyPost(newsItem)" ng-click="deletePostWithConfirm(newsItem)"> <i class="ion-trash-a"></i> </a>
                </div>

                <div class="item item-body">

                    <img class="full-image" ng-src="{{newsItem.info.image}}" ng-if="newsItem.info.image">

                    <p class="text">
                        {{newsItem.info.text}}
                    </p>

                    <p class="footer text-right">

                        <!-- TODO Translate -->
                        <a href="#" class="subdued likes" ng-class="{'i-like-it': userLikesPost(newsItem) != null}" ng-click="addLike(newsItem)">
                            <!--<span class="badge badge-bloody" ng-show="newsItem.reactions.length > 0"> {{newsItem.reactions.length}} </span>-->
                            <i class="ion-thumbsup"></i>
                            Like
                        </a>
                        <a href="#" class="subdued social-fb" ng-click="fbShare(newsItem)"> <i class="ion-social-facebook"></i> Share </a>

                        <br>

                        <a href="#" class="subdued" ng-if="newsItem.reactions.length > 0">
                            <i class="ion-heart"></i>
                            <span ng-if = "userLikesPost(newsItem) != null && newsItem.reactions.length == 1"> You like this </span>
                            <span ng-if = "userLikesPost(newsItem) != null && newsItem.reactions.length > 1"> You and {{newsItem.reactions.length - 1}} other like this </span>
                            <span ng-if = "userLikesPost(newsItem) == null && newsItem.reactions.length > 0"> {{newsItem.reactions.length}} person like this </span>
                        </a>

                    </p>

                </div>

            </div>

        </ion-list>

        <ion-infinite-scroll ng-if="moreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>

    </ion-content>
</ion-view>
