<ion-view view-title="{{'titles.achievements' | translate}}" class="achievements">

    <ion-content class="floating-nav-bar">

        <div class="main-info">
            <div class="avatar">
                <img ng-src="{{userProfile.avatarURL}}">
            </div>

            <div class="name">{{userProfile.firstName}} {{userProfile.lastName}}</div>

            <div class="unlocked">{{ distinctAchievementsReceived }} / {{customerAchievements.typeRecount.reward}} Badges</div>
        </div>

        <div class="grid-wrapper">
            <div class="grid">
                <div class="grid-item"
                     ng-repeat="ach in customerAchievements.data"
                     ng-if="ach.type == 'reward'"
                     ng-class="{'locked': countUserAchievements(ach._id) == 0}">

                    <img ng-src="{{ach.avatarURL}}">
                    <div class="name">{{ach.name}}</div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>

