<ion-modal-view class="settings">
    <ion-header-bar class="bar-cbuzz">
        <button class="button button-clear" ng-click="closeModal()">
            <i class="ion-ios-arrow-back"></i> {{ "phrase.back" | translate }}
        </button>
        <h1>{{"titles.change_password" | translate}}</h1>
    </ion-header-bar>

    <div cb-tooltip tooltip="Thatooltip" close-btn-text="Got it!" show="false">
    </div>

    <ion-content class="cb-modal-form">

        <form class="cb-form" name="passwordForm" novalidate="" ng-submit="passwordForm.$valid && doChangePassword()">

            <div class="cb-section">
                <div class="cb-title">
                    {{"forms.credentials" | translate}}
                </div>

                <!-- Password1 -->
                <div class="cb-field">
                    <div class="cb-help" ng-click="showTooltip('tooltips.password1')">
                        <i class="icon ion-help-circled"></i>
                    </div>

                    <input type="password1" name="password1" placeholder="{{'forms.password' | translate}}" ng-model="passwordData.password1" required
                        ng-minlength="5" ng-class="!isEmpty(passwordForm.password1.$error) && (!passwordForm.password1.$pristine || passwordForm.$submitted) ? 'has-error' : ''">
                </div>

                <div class="cb-field-error" ng-show="!isEmpty(passwordForm.password1.$error) && (!passwordForm.password1.$pristine || passwordForm.$submitted)">
                    <p ng-show="passwordForm.password1.$error.required">{{"forms.password" | translate}} {{"errors.required" | translate}}</p>
                    <p ng-show="passwordForm.password1.$error.minlength">{{"forms.password" | translate}} {{"errors.longer_than" | translate}} 5 {{"errors.characters" | translate}}</p>
                </div>

                <!--Password2-->
                <div class="cb-field">
                    <div class="cb-help" ng-click="showTooltip('tooltips.password2')">
                        <i class="icon ion-help-circled"></i>
                    </div>

                    <input type="password2" name="password2" placeholder="{{'forms.repeat_password' | translate}}" ng-model="passwordData.password2" required
                        ng-minlength="5" ng-class="!isEmpty(passwordForm.password2.$error) && (!passwordForm.password2.$pristine || passwordForm.$submitted) ? 'has-error' : ''">
                </div>

                <div class="cb-field-error" ng-show="!isEmpty(passwordForm.password2.$error) && (!passwordForm.password2.$pristine || passwordForm.$submitted)">
                    <p ng-show="passwordForm.password2.$error.required">{{"forms.password" | translate}} {{"errors.required" | translate}}</p>
                    <p ng-show="passwordForm.password2.$error.minlength">{{"forms.password" | translate}} {{"errors.longer_than" | translate}} 5 {{"errors.characters" | translate}}</p>
                </div>
                <div class="cb-field-error" ng-show="passwordsDontMatch">
                    <p>{{"forms.passwords_dont_match" | translate}}</p>
                </div>

            </div>

            <button class="cb-button wide" type="submit"> {{"forms.apply" | translate}} </button>
        </form>



    </ion-content>
</ion-modal-view>