<ion-view view-title="{{'titles.settings' | translate}}" class="settings">

    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear nav-button ion-navicon-round" menu-toggle="right" ng-show="isLoggedIn()"></button>
    </ion-nav-buttons>

    <ion-content>
        <div class="cb-modal-form">

            <form class="cb-form" name="settingsForm" novalidate="">

                <div class="cb-section">
                    <div class="cb-title">
                        {{"titles.settings" | translate}}
                    </div>

                    <div class="cb-field">

                        <select
                            ng-model="selectedLang"
                            ng-change="changeLang(selectedLang)";
                            ng-options="lang.dsc for lang in availableLangs track by lang.code">
                        </select>

                    </div>

                </div>

                <button class="cb-button wide separated" ng-click="applySettings()"> {{"forms.apply" | translate}} </button>
                <button class="cb-button wide separated" ng-click="setDefaults()"> {{"forms.default_values" | translate}} </button>
                <br>
                <button class="cb-button cb-button-pink wide separated" ng-click="changePassword()"> {{"forms.change_password" | translate}} </button>

            </form>

        </div>

    </ion-content>

</ion-view>





