<ion-modal-view class="attendance-group-modal">

    <ion-header-bar align-title="center" class="bar-cbuzz-modal">
        <div class="buttons" ng-include src="'modules/core/snippets/modalHeaderButtons.html'"></div>
        <h1 class="title">{{"phrase.attendance" | translate}}</h1>
    </ion-header-bar>

    <ion-content>
        <div class="cb-modal-form">
            <div class="row">
                <!--<button class="button button-full button-cbuzz cb-button date-picker" ng-click="openDatePicker()">
                    {{todaysAttendance.humanDate}} - <i class="icon ion-calendar"></i>
                </button>-->

                <button class="button button-full button-cbuzz cb-button date-picker" ng-click="openDatePicker()">
                    {{todaysAttendance.humanDate}} - <i class="icon ion-calendar"></i>
                </button>

            </div>
            <div class="separator-bar-80">
            </div>
            <div class="row filters-container">

                <div class="col attendance-filter">
                    <button class="button button-small button-full button-assertive" ng-click="setAllAsAbsent()">
                        {{"phrase.set_all_absent" | translate}}
                    </button>
                </div>
                <div class="col attendance-filter">
                    <button class="button button-small button-full button-balanced" ng-click="setAllAsPresent()">
                        {{"phrase.set_all_present" | translate}}
                    </button>
                </div>
                <div class="col attendance-filter">
                    <button class="button button-small button-full button-royal" ng-click="setAllAsCanceled()">
                        {{"phrase.set_all_canceled" | translate}}
                    </button>
                </div>
            </div>
            <div class="separator-bar-80">
            </div>
            <div class="row attendance-list-container">
                <ion-list class="animate-repeat  students-attendance-list" >
                    <ion-item class="item item-avatar complex item-text-wrap item-icon-right" ng-repeat="att in todaysAttendance.students" ng-click="cycleAttendance(att)">
                        <div class="item-content">
                            <div class="group-avatar">
                                <img ng-src="{{att.student.avatarURL}}">
                            </div>
                            <p>{{att.student.firstName}} {{att.student.lastName}}</p>
                            <p class="attendance-status">{{att.status | capFirstLetter}}</p>
                            <i class="icon ion-happy balanced" ng-show="att.status == 'present'"></i>
                            <i class="icon ion-happy energized" ng-show="att.status == 'late'"></i>
                            <i class="icon ion-sad assertive" ng-show="att.status == 'absent'"></i>
                            <i class="icon ion-happy calm" ng-show="att.status == 'canceled'"></i>
                            <i class="icon ion-sad calm" ng-show="att.status == 'certified'"></i>
                        </div>
                    </ion-item>
                </ion-list>
            </div>


            <div class="row">
                <button class="button cb-button" ng-click="updateAttendance()">
                    {{"phrase.save_attendance" | translate}}
                </button>
            </div>
        </div>
    </ion-content>

</ion-modal-view>
