<ion-modal-view>
    <ion-header-bar align-title="center" class="bar-cbuzz-modal">
        <div class="buttons" ng-include src="'modules/core/snippets/modalHeaderButtons.html'"></div>
        <h1 class="title">{{"titles.create_news" | translate}}</h1>
        <button class="button button-clear" ng-click="createNewsWithConfirm()">
            <i class="ion-checkmark"></i> {{ "phrase.share" | translate }}
        </button>
    </ion-header-bar>

    <ion-content class="wall news">

        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">{{"forms.share_this" | translate}}...</span>
                <textarea placeholder="{{'forms.share_this' | translate}}..." style="height: 200px" ng-model="news.info.text"></textarea>
            </label>
        </div>

        <div class="list card">

            <div class="item item-avatar">
                <img ng-src="{{userProfile.avatarURL}}">
                <h2>{{userProfile.fullName}}</h2>
                <p>5 minutes ago</p>
            </div>

            <div class="item item-body">

                <img class="full-image" ng-src="{{news.info.image}}" ng-if="news.info.image">
                <p class="text"> {{news.info.text}} </p>

                <p class="footer text-right">
                    <a href="#" class="subdued likes"> 0 Likes <i class="ion-thumbsup"></i></a>
                    <a href="#" class="subdued comments"> 0 Comments <i class="ion-chatbubbles"></i></a>
                </p>

            </div>

        </div>

    </ion-content>

</ion-modal-view>
