<ion-modal-view class="edit-group-modal">
    <ion-header-bar align-title="center" class="bar-cbuzz-modal">
        <div class="buttons" ng-include src="'modules/core/snippets/modalHeaderButtons.html'"></div>
        <h1 class="title">{{"titles.edit_group" | translate}}</h1>
    </ion-header-bar>

    <ion-content>
        <div class="cb-modal-form">

            <form ng-submit="doEditGroup()" class="cb-form ">

                <div class="cb-section">
                    <div class="cb-field">
                        <input type="text"
                               placeholder="{{'forms.name' | translate}}"
                               ng-model="editGroupData.name">
                    </div>

                    <!--<div class="cb-field">
                        <div cb-select
                             cb-model = "editGroupData.level"
                             cb-placeholder="-- Level --"
                             cb-data="groupLevels"
                             cb-key="_id"
                             cb-value="name"></div>
                    </div>-->

                    <select
                        ng-model="editGroupData.level"
                        ng-options="level.name for level in groupLevels track by level._id">
                    </select>

                    <button type="submit">{{"buttons.save" | translate}}</button>
                </div>

            </form>
        </div>

    </ion-content>
</ion-modal-view>




<!--<ion-modal-view>-->
    <!--<ion-header-bar align-title="center">-->
        <!--<div class="buttons" ng-include src="'modules/core/snippets/modalHeaderButtons.html'"></div>-->
        <!--<h1 class="title">{{"titles.edit_group" | translate}}</h1>-->
    <!--</ion-header-bar>-->
  <!--<ion-content>-->
      <!--<form ng-submit="doEditGroup()">-->
          <!--<div class="list">-->

              <!--<label class="item item-input item-select">-->
                  <!--<div class="input-label item-icon-left">-->
                      <!--<i ng-class="editGroupData.customClass"></i>-->
                      <!--{{"forms.icon" | translate}}-->
                  <!--</div>-->
                  <!--<select ng-model="editGroupData.customClass">-->
                      <!--<option value="ion-nuclear energized">{{"phrase.nuclear" | translate}}</option>-->
                      <!--<option value="ion-heart assertive">{{"phrase.heart" | translate}}</option>-->
                      <!--<option value="ion-paper-airplane royal">{{"phrase.paperplane" | translate}}</option>-->
                      <!--<option value="ion-paperclip dark">{{"phrase.paperclip" | translate}}</option>-->
                      <!--<option value="ion-briefcase dark">{{"phrase.briefcase" | translate}}</option>-->
                      <!--<option value="ion-key energized">{{"phrase.key" | translate}}</option>-->
                      <!--<option value="ion-icecream energized">{{"phrase.icecream" | translate}}</option>-->
                      <!--<option value="ion-pizza pizza">{{"phrase.pizza" | translate}}</option>-->
                      <!--<option value="ion-bug">{{"phrase.bug" | translate}}</option>-->
                      <!--<option value="ion-tshirt positive">{{"phrase.tshirt" | translate}}</option>-->
                      <!--<option value="ion-bowtie assertive">{{"phrase.bowtie" | translate}}</option>-->
                      <!--<option value="ion-happy-outline royal">{{"phrase.happyface" | translate}}</option>-->
                      <!--<option value="ion-egg balanced">{{"phrase.egg" | translate}}</option>-->
                      <!--<option value="ion-erlenmeyer-flask ooze" >{{"phrase.flaska" | translate}}</option>-->
                      <!--<option value="ion-beaker ooze">{{"phrase.flaskb" | translate}}</option>-->
                      <!--<option value="ion-fireball fire" selected>{{"phrase.fireball" | translate}}</option>-->
                      <!--<option value="ion-waterdrop water">{{"phrase.waterdrop" | translate}}</option>-->
                      <!--<option value="ion-umbrella positive">{{"phrase.umbrella" | translate}}</option>-->
                  <!--</select>-->
              <!--</label>-->


              <!--<label class="item item-input">-->
                  <!--<span class="input-label">{{"forms.name" | translate}}</span>-->
                  <!--<input type="text" ng-model="editGroupData.name">-->
              <!--</label>-->

              <!--<label class="item item-input item-select">-->
                  <!--<div class="input-label">-->
                      <!--{{"forms.branch" | translate}}-->
                  <!--</div>-->

                  <!--<select ng-repeat="branch in userProfile.branches" ng-model="editGroupData.branch">-->
                      <!--<option value="{{branch._id}}">{{branch.name}}</option>-->
                  <!--</select>-->
              <!--</label>-->

              <!--<label class="item item-input item-select">-->
                  <!--<div class="input-label">{{"forms.level" | translate}}</div>-->
                  <!--<select ng-model="editGroupData.level">-->
                      <!--<option ng-repeat="level in groupLevels" value="{{level._id}}" >-->
                          <!--{{level.code}}-->
                      <!--</option>-->
                  <!--</select>-->
              <!--</label>-->

              <!--<label class="item">-->
                  <!--<button class="button button-block button-cbuzz" type="submit">{{"buttons.save" | translate}}</button>-->
              <!--</label>-->
          <!--</div>-->
      <!--</form>-->
  <!--</ion-content>-->
<!--</ion-modal-view>-->
