<ion-modal-view class="students-feedback">

    <ion-header-bar align-title="center" class="bar-cbuzz-modal">
        <div class="buttons" ng-include src="'modules/core/snippets/modalHeaderButtons.html'"></div>
        <h1 class="title">{{"titles.grant_feedback" | translate}}</h1>
    </ion-header-bar>

    <ion-content class="core feedback">

        <div class="bar bar-header item-input-inset">
            <div class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <!--<input
                    type="search"
                    ng-model="activitySearchField.value"
                    placeholder="{{'actions.search' | translate}}"
                    ng-change="getActivities(activitySearchField.value)">-->

                    <input
                    type="search"
                    ng-model="activitySearchField.value"
                    placeholder="{{'actions.search' | translate}}"">
                <button ng-show="activitySearchField.value.length" class="button button-clear" ng-click="activitySearchField.value = ''">
                    <i class="ion-close-circled"></i>
                </button>
            </div>
        </div>

        <!-- GRANT ACHIEVEMENT TO ONLY ONE STUDENT -->
        <ion-slide-box active-slide="1" ng-if="studentsRewarded.length == 1">

            <ion-slide>
                <div class="slide">
                    <div class="slide-title">
                        <h1 class="title">{{"titles.active_quests" | translate | uppercase}}</h1>
                    </div>


                    <!--Active quests-->
                    <ion-list show-delete="false" class="cb-group-container" ng-show="activeQuests.length == 0">
                        <ion-item class="item-text-wrap" href="#">
                            <div class=" item-icon-left">
                                <i class="icon ion-information-circled"></i>
                                {{"phrase.no_active_quests" | translate}}
                            </div>
                        </ion-item>
                    </ion-list>

                    <ion-list class="animate-repeat">
                        <ion-item class="item item-avatar item-text-wrap item-icon-right" ng-repeat="quest in activeQuests">
                            <div class="item-content active-quests">
                                <div class="row">
                                    <div class="activity-title col-67">
                                        <p class="activity-name">{{quest.quest.name}}</p>
                                    </div>
                                    <div class="col time-assigned-container">
                                        <span class="time-assigned">{{fromNow(quest.assigned)}}</span>
                                    </div>

                            <!--<div class="skill-icon-wrapper" ng-repeat="goal in quest.goals">-->
                                <!--<img ng-src="{{goal.goal.skill.icon}}">-->
                            <!--</div>-->

                                    <div class="quest-progress">
                                        <div class="progress"
                                             style=" width:{{(quest.progress.completedSteps * 100) / quest.progress.totalSteps}}%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ion-item>
                    </ion-list>

                    <!--Recent activities-->
                    <div class="slide-title">
                        <h1 class="title">{{"titles.recent_activities" | translate | uppercase}}</h1>
                    </div>

                    <ion-list show-delete="false" class="cb-group-container" ng-show="recentAchievements.length == 0">
                        <ion-item class="item-text-wrap" href="#">
                            <div class=" item-icon-left">
                                <i class="icon ion-information-circled"></i>
                                {{"phrase.no_recent_activities" | translate | uppercase}}
                            </div>
                        </ion-item>
                    </ion-list>

                    <ion-list class="animate-repeat" >
                        <ion-item class="item item-avatar item-text-wrap item-icon-right" ng-repeat="recentAct in recentActivities">
                            <div class="item-content recent-activites">
                                <div class="row">
                                    <div class="activity-title col-67">
                                        <p class="activity-name">{{recentAct.activity.name}}</p>
                                    </div>
                                    <div class="col time-assigned-container">
                                        <p class="time-assigned">{{fromNow(recentAct.timestamp)}}</p>
                                    </div>
                                </div>
                                <!--<div class="skill-icon-wrapper" ng-repeat="skill in recentAct.activity.skills">-->
                                    <!--<img ng-src="{{skill.icon}}">-->
                                <!--</div>-->
                            </div>
                        </ion-item>
                    </ion-list>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="slide-title balanced-bg"><h1>{{"titles.rewards" | translate | uppercase}}</h1></div>
                <div class="slide">
                    
                    <div class="slide-filters">
                        <div class="skill-filter" ng-repeat="skill in rewardSkillFilter" ng-class="{active:skill.isActive}" ng-click="toggleRewardSkill(skill._id)">
                            <img ng-src="{{skill.icon}}">
                        </div>
                    </div>

                    <ion-list class="animate-repeat" >
                        <ion-item class="item item-avatar item-text-wrap " ng-repeat="activity in activities | filter: filterReward"
                                  ng-click="addActivityWithConfirm(activity)">
                            <div class="item-content reward">
                                <!--<img ng-src="{{activity.skill.icon}}">-->
                                <div class="row">
                                    <div class="activity-title">
                                        <p class="activity-name">{{activity.name}}</p>
                                        <div class="skills-container">
                                            <div class="skill-icon-wrapper" ng-repeat="skill in activity.skills">
                                                <img ng-src="{{skill.icon}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="activity-data-container">
                                        <img ng-src="img/assets/quests/star_yellow.svg">
                                        <div class="activity-xp">{{'+' + activity.reward.xp}}</div>
                                    </div>
                                    <div class="activity-data-container">
                                        <img ng-src="img/assets/quests/coin_.png">
                                        <div class="activity-gold">{{'+' + activity.reward.money}}</div>
                                    </div>
                                </div>
                                <i class="icon ion-ios-checkmark balanced" ng-show="activity.hasBeenAdded"></i>
                            </div>
                        </ion-item>
                    </ion-list>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="slide-title assertive-bg"><h1>{{"titles.penalizations" | translate | uppercase}}</h1></div>
                <div class="slide">

                    <div class="slide-filters">
                        <div class="skill-filter" ng-repeat="skill in penaltySkillFilter" ng-class="{active:skill.isActive}" ng-click="togglePenaltySkill(skill._id)">
                            <img ng-src="{{skill.icon}}">
                        </div>
                    </div>


                    <ion-list class="animate-repeat">
                        <ion-item class="item item-avatar item-text-wrap item-icon-right" ng-repeat="activity in activities | filter: filterPenalty"
                                  ng-click="addActivityWithConfirm(activity)">
                            <div class="item-content penalty">
                                <!--<img ng-src="{{activity.skill.icon}}">-->
                                <div class="row">
                                    <div class="activity-title">
                                        <p class="activity-name">{{activity.name}}</p>
                                        <div class="skills-container">
                                            <div class="skill-icon-wrapper" ng-repeat="skill in activity.skills">
                                                <img ng-src="{{skill.icon}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="activity-data-container">
                                        <img ng-src="img/assets/quests/star_yellow.svg">
                                        <div class="activity-xp">{{activity.reward.xp}}</div>
                                    </div>
                                    <div class="activity-data-container">
                                        <img ng-src="img/assets/quests/coin_.png">
                                        <div class="activity-gold">{{activity.reward.money}}</div>
                                    </div>
                                    <i class="icon ion-ios-checkmark balanced" ng-show="activity.hasBeenAdded"></i>
                                </div>
                            </div>
                        </ion-item>
                    </ion-list>
                </div>
            </ion-slide>
        </ion-slide-box>

        <!-- GRANT ACHIEVEMENT IN BULK -->
        <ion-slide-box active-slide="0" ng-if="studentsRewarded.length > 1">
            
            <ion-slide>
                <div class="slide-title balanced-bg"><h1>{{"titles.rewards" | translate | uppercase}}</h1></div>
                <div class="slide">
                    
                    <div class="slide-filters">
                        <div class="skill-filter" ng-repeat="skill in rewardSkillFilter" ng-class="{active:skill.isActive}" ng-click="toggleRewardSkill(skill._id)">
                            <img ng-src="{{skill.icon}}">
                        </div>
                    </div>

                    <ion-list class="animate-repeat" >
                        <ion-item class="item item-avatar item-text-wrap " ng-repeat="activity in activities | filter: filterReward"
                                  ng-click="addActivityWithConfirm(activity)">
                            <div class="item-content reward">
                                <!--<img ng-src="{{activity.skill.icon}}">-->
                                <div class="row">
                                    <div class="activity-title">
                                        <p class="activity-name">{{activity.name}}</p>
                                        <div class="skills-container">
                                            <div class="skill-icon-wrapper" ng-repeat="skill in activity.skills">
                                                <img ng-src="{{skill.icon}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="activity-data-container">
                                        <img ng-src="img/assets/quests/star_yellow.svg">
                                        <div class="activity-xp">{{'+' + activity.reward.xp}}</div>
                                    </div>
                                    <div class="activity-data-container">
                                        <img ng-src="img/assets/quests/coin_.png">
                                        <div class="activity-gold">{{'+' + activity.reward.money}}</div>
                                    </div>
                                </div>
                                <i class="icon ion-ios-checkmark balanced" ng-show="activity.hasBeenAdded"></i>
                            </div>
                        </ion-item>
                    </ion-list>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="slide-title assertive-bg"><h1>{{"titles.penalizations" | translate | uppercase}}</h1></div>
                <div class="slide">

                    <div class="slide-filters">
                        <div class="skill-filter" ng-repeat="skill in penaltySkillFilter" ng-class="{active:skill.isActive}" ng-click="togglePenaltySkill(skill._id)">
                            <img ng-src="{{skill.icon}}">
                        </div>
                    </div>


                    <ion-list class="animate-repeat">
                        <ion-item class="item item-avatar item-text-wrap item-icon-right" ng-repeat="activity in activities | filter: filterPenalty"
                                  ng-click="addActivityWithConfirm(activity)">
                            <div class="item-content penalty">
                                <!--<img ng-src="{{activity.skill.icon}}">-->
                                <div class="row">
                                    <div class="activity-title">
                                        <p class="activity-name">{{activity.name}}</p>
                                        <div class="skills-container">
                                            <div class="skill-icon-wrapper" ng-repeat="skill in activity.skills">
                                                <img ng-src="{{skill.icon}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="activity-data-container">
                                        <img ng-src="img/assets/quests/star_yellow.svg">
                                        <div class="activity-xp">{{activity.reward.xp}}</div>
                                    </div>
                                    <div class="activity-data-container">
                                        <img ng-src="img/assets/quests/coin_.png">
                                        <div class="activity-gold">{{activity.reward.money}}</div>
                                    </div>
                                    <i class="icon ion-ios-checkmark balanced" ng-show="activity.hasBeenAdded"></i>
                                </div>
                            </div>
                        </ion-item>
                    </ion-list>
                </div>
            </ion-slide>

            
        </ion-slide-box>

    </ion-content>

</ion-modal-view>
