<ion-popover-view>
    <ion-header-bar>
        <h3 class="title">More...</h3>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item menu-close ng-click="login()">
                <div class="item-icon-left">
                    <i class="icon ion-log-in"></i>
                    Login
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-popover-view>
