<ion-view view-title="{{'titles.groups' | translate}}">

    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear nav-button ion-search" ng-click="toggleSearch()"></button>
        <button class="button button-icon button-clear nav-button ion-plus" ng-click="createGroup()"></button>
        <button class="button button-icon button-clear nav-button ion-navicon-round" menu-toggle="right" ng-show="isLoggedIn()"></button>
    </ion-nav-buttons>

    <ion-content class="groups floating-nav-bar">
        <ion-refresher
            pulling-text="{{'phrase.pull_refresh' | translate}}..."
            on-refresh="doRefresh()">
        </ion-refresher>

        <div class="bar bar-header item-input-inset group-seach-wrapper" ng-show="showSearch">
            <div class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" ng-model="searchField.value" placeholder="{{'actions.search' | translate}}">
                <button ng-show="searchField.value.length" class="button button-clear" ng-click="searchField.value = ''">
                    <i class="ion-close-circled"></i>
                </button>
            </div>
        </div>

        <ion-list show-delete="false" class="cb-group-container" ng-if="groups.length == 0">
            <ion-item class="item-text-wrap" href="#" ng-hide="" ng-click="createGroup()">
                <div class=" item-icon-left">
                    <i class="icon ion-information-circled"></i>
                    {{"phrase.dont_have_groups" | translate}} <strong>{{"phrase.tap_to_create_group" | translate}}</strong>
                </div>
            </ion-item>
        </ion-list>


        <ion-list  show-delete="false" can-swipe="false" class="item-text-wrap">

            <ion-item  class="animated slideInRight" ng-show="!loadingGroups" ng-repeat="group in groups | orderBy:'_id' | filter: searchField.value" >
                <div class="clickable-group" ng-click="navigateToGroup(group)"></div>
                <a href="#/app/groups/{{group._id}}" class="group-card-item">
                    <div class="row groups-header-container">
                        <ion-reorder-button class="ion-navicon">
                        </ion-reorder-button>

                        <div class="group-title col col-50">
                            <h1>{{group.name}}</h1>
                            <h3>{{group.level.code}}</h3>
                        </div>
                        <div class="group-data-students col">
                            <img ng-src="img/assets/icons/icon_people.svg">
                            <div class="students" style="display: inline-block; position: relative;">{{group.students.length}}</div>
                        </div>
                        <div class="group-data-score col">
                            <img ng-src="img/assets/ranking/icon_three_stars.svg">
                            <div class="score" style="display: inline-block; position: relative;">{{group.students.length}}</div>
                        </div>
                    </div>
                </a>
                <div class="row">
                    <div  class="edit-btns-group ">
                        <button class="cb-button cb-button-pink icon ion-edit" ng-click="editGroup(group)"> Edit</button>
                        <button class="cb-button cb-button-pink icon ion-trash-a" ng-click="removeGroup(group)"> Remove</button>
                    </div>
                </div>
            </ion-item>
        </ion-list>

    </ion-content>

</ion-view>
