<ion-popover-view>
    <ion-header-bar>
        <h3 class="title">{{"titles.more_actions" | translate}}</h3>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item menu-close ng-click="closePopover(); addStudent()">
                <div class="item-icon-left">
                    <i class="icon ion-plus"></i>
                    {{"actions.add_student" | translate}}
                </div>
            </ion-item>

            <ion-item menu-close ng-click="closePopover(); showAttendanceModal()">
                <div class="item-icon-left">
                    <i class="icon ion-clock"></i>
                    {{"actions.register_attendance" | translate}}
                </div>
            </ion-item>

            <ion-item menu-close ng-click="closePopover(); toggleSelectionMode()">
                <div class="item-icon-left">
                    <i class="icon ion-edit"></i>
                    {{"actions.edit_mode" | translate}}
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-popover-view>
