<ion-view view-title="{{'titles.group' | translate}}">
    <ion-header-bar align-title="center" class="bar-cbuzz-modal group-detail-header">
        
        <div class="buttons">
            <div class='threebar' ng-class="{'back-arrow':!selectionMode, 'cross':selectionMode, 'pink':selectionMode}" ng-click="barAction()">
                <div class='bar'></div>
                <div class='bar'></div>
                <div class='bar'></div>
            </div>
            <!--<button class="button button-icon button-clear ion-android-arrow-back" ng-click="goBack()">-->
            <!--<button class="button button-icon button-clear ion-android-arrow-back" ng-click="selectionModeOff()"></button>-->
        </div>

    </ion-header-bar>
    <!--<ion-nav-buttons side="right">-->
        <!--&lt;!&ndash;<button class="button button-icon button-clear ion-ios-plus-outline" ng-click="addStudent()"></button>&ndash;&gt;-->
        <!--<button class="button button-icon ion-android-more-vertical" ng-hide="selectionMode" ng-click="openPopover($event)"></button>-->
        <!--<button class="button button-icon ion-checkmark" ng-if="selectionMode" ng-click="showRewardModal()"></button>-->
        <!--<button class="button button-icon ion-close" ng-if="selectionMode" ng-click="toggleSelectionMode()"></button>-->
    <!--</ion-nav-buttons>-->

    <ion-content class="group-detail">
        <ion-refresher
            pulling-text="{{'phrase.pull_refresh' | translate}}..."
            on-refresh="doRefresh()">
        </ion-refresher>

        <!--<div class="group-actions-buttons-cointainer">-->
            <!--<button class="cb-button cb-button-pink icon ion-plus" ng-click="editGroup(group)"> Add student</button>-->
            <!--&lt;!&ndash;<a href="#">Add student</a>&ndash;&gt;-->
        <!--</div>-->
        <!--<div class="action-bar item-input-inset" ng-hide="selectionMode">-->
            <!--<button class="button button-icon button-news ion-compose"-->
                    <!--ng-click="showNewsModal()">-->
                <!--Status-->
            <!--</button>-->
            <!--<button class="button button-icon button-news ion-camera"-->
                    <!--ng-click="takePicture()">-->
                <!--Take Picture-->
            <!--</button>-->
            <!--<button class="button button-icon button-news ion-images"-->
                    <!--ng-click="selectPicture()">-->
                <!--Camera Roll-->
            <!--</button>-->
        <!--</div>-->
        <row>
            <div class="group-student-stats">

                    <div class="students" >{{group.students.length}}</div>
                    <div class="score" >{{group.students.length}}</div>

            </div>
        </row>
        <row>
            <div class="group-title">
                <h1>{{group.name}}</h1>
                <h3>{{group.level.code}}</h3>
                <div class="actions-container">
                    <button class="cb-button" ng-click="editGroup(group)"> Edit</button>
                </div>
            </div>
        </row>
        <row>
            <div class="group-students-subheader">
                <button class="cb-button cb-button-pink icon ion-plus" ng-click="addStudent()">{{"actions.add_student" | translate}}</button>
                <button class="cb-button cb-button-pink icon ion-calendar" ng-click="showAttendanceModal()"> Attendance</button>
                <!--<a href="#">Add student</a>-->
            </div>
        </row>

        <ion-list show-delete="false" class="cb-group-container" ng-if="students.length == 0">
            <ion-item class="item-text-wrap" href="#" ng-hide="" ng-click="addStudent()">
                <div class=" item-icon-left">
                    <i class="icon ion-information-circled"></i>
                    {{"phrase.group_empty" | translate}}...<strong>{{"phrase.tap_to_add_student" | translate}}</strong>
                </div>
            </ion-item>
        </ion-list>

        <!--<ion-list ng-show="selectionMode">
            <ion-item class="positive-bg">
                <span class="light">
                    {{"actions.select_all" | translate}}
                    <input type="checkbox" class="all-checkbox" ng-model="checkAllModel.value" ng-change="checkUncheckAll()">
                </span>
            </ion-item>
        </ion-list>-->


        <ion-list show-delete="false" can-swipe="true" ng-repeat="student in students | orderBy:'-student.character.levelInfo.level' | filter: searchField.value">
            <ion-item 
                on-hold="editMode(student)" 
                class="item item-avatar item-text-wrap" 
                ng-class="{'selected': student.isSelected}"
                ng-click="!selectionMode && showRewardModal(student)" 
                confirm="{{'messages.confirm' | translate}}">

                <div class="group-avatar" ng-click="editMode(student)">
                    <svg width="100%" height="100%">
                        <defs>
                            <clipPath id="cp1" clipPathUnits="objectBoundingBox">
                                <circle cx="0.5" cy="0.5" r="0.5" id="circleClip" />
                            </clipPath>
                        </defs>
                        <foreignObject clip-path="url(#cp1)" width="100%" height="100%">
                            <img ng-attr-src="{{student.avatarURL}}" width="100%" height="100%" id="avatar" />        
                        </foreignObject>
                    </svg>
                    
                </div>
                <p class="avatar-title">{{student.firstName}} {{student.lastName}} <span class="annotation">{{student.student.character.levelInfo.xp}} Pts</span></p>

                <p class="avatar-house">{{student.student.house.name}}</p>

                <span class="badge badge-positive" ng-hide="selectionMode">{{student.student.character.levelInfo.level}}</span>
                
                <div class="cb-checkbox" ng-show="selectionMode"> 
                    <input id="bulk-select-{{student._id}}" type="checkbox" ng-model="student.isSelected">
                    <label for="bulk-select-{{student._id}}"></label>
                </div>

                <ion-option-button class="cb-button cb-button-pink side-btn-option " ng-click="openSendMessage(student)"><div class="edit-btns">Message</div></ion-option-button>
                <ion-option-button class="cb-button cb-button-pink side-btn-option " ng-click="showUserProfile(student)"><div class="edit-btns">Profile</div></ion-option-button>
                <ion-option-button class="cb-button cb-button-pink side-btn-option " ng-click="doRemoveStudent(student)"><div class="edit-btns">Remove</div></ion-option-button>


            </ion-item>

        </ion-list>


    </ion-content>
    
    <div class="cb-fixed-button left35" ng-show="selectionMode">
        <button ng-click="checkUncheckAll()">all</button>
    </div>

    <div class="cb-fixed-button left65" ng-show="selectionMode">
        <button ng-click="showRewardModal()">grant</button>
    </div>

</ion-view>
