<!--<ion-modal-view class="new-group-modal">-->

    <!--<ion-header-bar align-title="center" class="bar-cbuzz-modal">-->
        <!--<div class="buttons" ng-include src="'modules/core/snippets/modalHeaderButtons.html'"></div>-->
        <!--<h1 class="title">{{"titles.new_group" | translate}}</h1>-->
    <!--</ion-header-bar>-->

    <!--<ion-content>-->
        <!--<div style="position: relative;">-->
        <!--&lt;!&ndash;<form ng-submit="doCreateGroup()" class="create-group-form">&ndash;&gt;-->
        <!--<form ng-submit="doCreateGroup()" class="personal-info">-->

            <!--<div class="list">-->

                <!--<label class="item item-input item-select">-->
                    <!--<div class="input-label item-icon-left">-->
                        <!--<i ng-class="newGroupData.customClass"></i>-->
                        <!--{{"forms.icon" | translate}}-->
                    <!--</div>-->

                    <!--<select ng-model="editGroupData.customClass">-->
                        <!--<option value="ion-nuclear energized">{{"phrase.nuclear" | translate}}</option>-->
                        <!--<option value="ion-heart assertive">{{"phrase.heart" | translate}}</option>-->
                        <!--<option value="ion-paper-airplane royal">{{"phrase.paperplane" | translate}}</option>-->
                        <!--<option value="ion-paperclip dark">{{"phrase.paperclip" | translate}}</option>-->
                        <!--<option value="ion-briefcase dark">{{"phrase.briefcase" | translate}}</option>-->
                        <!--<option value="ion-key energized">{{"phrase.key" | translate}}</option>-->
                        <!--<option value="ion-icecream energized">{{"phrase.icecream" | translate}}</option>-->
                        <!--<option value="ion-pizza pizza">{{"phrase.pizza" | translate}}</option>-->
                        <!--<option value="ion-bug">{{"phrase.bug" | translate}}</option>-->
                        <!--<option value="ion-tshirt positive">{{"phrase.tshirt" | translate}}</option>-->
                        <!--<option value="ion-bowtie assertive">{{"phrase.bowtie" | translate}}</option>-->
                        <!--<option value="ion-happy-outline royal">{{"phrase.happyface" | translate}}</option>-->
                        <!--<option value="ion-egg balanced">{{"phrase.egg" | translate}}</option>-->
                        <!--<option value="ion-erlenmeyer-flask ooze" >{{"phrase.flaska" | translate}}</option>-->
                        <!--<option value="ion-beaker ooze">{{"phrase.flaskb" | translate}}</option>-->
                        <!--<option value="ion-fireball fire" selected>{{"phrase.fireball" | translate}}</option>-->
                        <!--<option value="ion-waterdrop water">{{"phrase.waterdrop" | translate}}</option>-->
                        <!--<option value="ion-umbrella positive">{{"phrase.umbrella" | translate}}</option>-->
                    <!--</select>-->

                <!--</label>-->

                <!--<label class="item item-input">-->
                    <!--<span class="input-label">{{"forms.name" | translate}}</span>-->
                    <!--<input type="text" ng-model="newGroupData.name">-->

                <!--<label class="item item-input item-select">-->
                    <!--<div class="input-label">{{"forms.level" | translate}}</div>-->
                    <!--<select ng-model="newGroupData.level">-->
                        <!--<option ng-repeat="level in groupLevels" value="{{level._id}}">-->
                            <!--{{level.code}}-->
                        <!--</option>-->
                    <!--</select>-->
                <!--</label>-->


                <!--<button class="cb-button pull-right" type="submit">{{"buttons.create" | translate}}</button>-->

            <!--</div>-->
        <!--</form>-->
        <!--</div>-->
    <!--</ion-content>-->
<!--</ion-modal-view>-->


<ion-modal-view class="new-group-modal">
    <ion-header-bar align-title="center" class="bar-cbuzz-modal">
        <div class="buttons" ng-include src="'modules/core/snippets/modalHeaderButtons.html'"></div>
        <h1 class="title">{{"titles.new_group" | translate}}</h1>
    </ion-header-bar>

    <ion-content>
        <div class="cb-modal-form">

            <form ng-submit="doCreateGroup()" class="cb-form ">

                <div class="cb-section">
                    <div class="cb-field">
                        <input type="text"
                               placeholder="{{'forms.name' | translate}}"
                               ng-model="newGroupData.name">
                    </div>

                    <!--<div class="cb-field">
                        <div cb-select
                             cb-model = "newGroupData.level"
                             cb-placeholder="-- Level --"
                             cb-data="groupLevels"
                             cb-key="_id"
                             cb-value="name"></div>
                    </div>-->

                    <select
                        ng-model="newGroupData.level"
                        ng-options="level.name for level in groupLevels track by level._id">
                    </select>
                    
                    <button type="submit">{{"buttons.create" | translate}}</button>
                </div>

            </form>
        </div>

    </ion-content>
</ion-modal-view>


