<ion-modal-view class="add-student-modal">

    <ion-header-bar align-title="center">
        <div class="buttons" ng-include src="'modules/core/snippets/modalHeaderButtons.html'"></div>
        <h1 class="title">{{"titles.select_students" | translate}}</h1>
    </ion-header-bar>


    <ion-content>

            <div class="bar bar-header item-input-inset search-students-model">
                <div class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input type="search" ng-model="searchField.value" placeholder="{{'actions.search' | translate}}">
                    <button ng-show="searchField.value.length" class="button button-clear" ng-click="clearSelectStudentsModalFilters()">
                        <i class="ion-close-circled"></i>
                    </button>
                </div>
                <span>
                    <button class="button button-clear" ng-click="getBranchStudents()">
                        <i class="ion-search"></i>
                    </button>
                </span>
            </div>

            <ion-list class="add-student-list">
                <ion-item class="item item-avatar complex item-text-wrap item-button-right" ng-repeat="student in availableStudents">
                    <div class="item-content">
                        <div class="group-avatar">
                            <img ng-src="{{student.avatarURL}}">
                        </div>

                        <p>{{student.firstName}} {{student.lastName}}</p>

                        <p class="house">{{student.student.house.name}}</p>

                        <button class="cb-button cb-button-pink" ng-click="doAddStudent(student)">
                            Add
                        </button>
                    </div>
                </ion-item>
            </ion-list>

    </ion-content>
</ion-modal-view>
