* {
    font-weight: 200 !important;
}

.core {

    .view-container {
        top: $header-bar-height;
        height: calc(100vh - $header-bar-height - $footer-bar-height);
    }

    p {
        color: $theme-2;
    }

    h2 {
        font-size: 1em;
        font-weight: 600;
        color: $theme-2;
    }


    .annotation {
        font-size: 12px;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-style: italic;
    }

    .button {

        .badge {
            margin-right: 0px;
            position: absolute;
            font-size: 12px;
            top: 2px;
            right: -15px;
        }

    }

    .avatar{
        overflow:hidden;
        border-radius:50%;

        /* Own addition */
        border: 1px solid #fff;
        display: block;
        text-align: center;

        img{
            max-width: 100%;
            max-height: 100%;
        }
    }

    .avatar-shadow {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    }

    .avatar-medium {
        height:128px;
        width:128px;
    }

    .avatar-small {
        width: 40px;
        height: 40px;
    }

    .avatar-center {
        margin: 30px auto 0;
    }

    .avatar-right {
        position: absolute;
        right: 10px;
    }

    // this is the class that wraps the round progress.
    // the div is added by the directive
    .round-progress-wrapper {
        position: absolute !important;
        width: 60px !important;
        height: 60px;
        padding: 0px !important;
        left: 6px;
        top: 7px
    }

    //EJ: House Award +20pts
    .card-footer {
        font-size: 80%;
        opacity: 0.8;
        filter: alpha(opacity=80);
        padding-top: 10px;
    }

    //Color Classes
    //-----------------------------------------
    .fire { color: $color-fire; }
    .ooze { color: $color-ooze; }
    .sky { color: $color-sky; }
    .water { color: $color-water; }
    .pizza { color: $color-pizza; }
    .emerald { color: $color-emerald; }
    .trophy{ color: $color-trophy; }

    .sky-bg { background-color: $color-sky; }
    .water-bg { background-color: $color-water; }
    .fire-bg { background-color: $color-fire; }
    .ooze-bg { background-color: $color-ooze; }
    .pizza-bg { background-color: $color-pizza; }
    .emerald-bg { background-color: $color-emerald; }
    .trophy-bg{ background-color: $color-trophy; }
    //------------------------------------------

    .no-padding { padding: 0px !important; }
    .no-padding-top { padding-top: 0px !important; }
    .no-padding-bottom { padding-bottom: 0px !important; }
    .no-padding-left { padding-left: 0px !important; }
    .no-padding-right { padding-right: 0px !important; }
}

.home {
    @include perfect-background("../../img/background.png");

    .home-logo  {
        padding: 30px;

        .home-login {

            .home-text {
                text-align: center;

                h3 {
                    color: #F38C0F;
                    text-shadow: -1px 1px 1px #2C1E07;
                    margin: 10px;
                }

            }

        }
    }
}

#notificationbadge {
    position: absolute;
    top: 0px;
    right: -20px;
}

.cbmenu {

    $dark: $theme-0;
    $light: $theme-4;

    .dark {
        background-color: $dark !important;

        .item {
            &:first-child {
                background-color: $dark;
                color: $theme-white;
                max-height: none;
            }

            background-color: $light;
            border: none;
            border-top: 1px solid $dark;
            border-bottom: 1px solid $dark;
            color: $theme-1;
            max-height: 50px;

            &:last-child {
                background-color: $dark;
                color: $theme-white;
            }

            i {
                color: lighten($theme-0,20%);
            }

            //&.active{
            //    background-color:$theme-a3 !important;
            //    border-top: 1px solid $theme-a3 !important;
            //    p,h3{opacity: .7;}
            //}
        }

    }

    .avatar {
        min-height: 100px;
        max-height: 150px;

        img {
            float: left;
            max-height: 90px;
        }

        .name {
            float: right;
            font-weight: 500 !important;
        }
    }
}






