<ion-view view-title="{{'titles.home' | translate}}" class="home floating-nav-bar" >
  <ion-content class="floating-nav-bar">

      <div class="content">

          <div class="login" ng-if="!isLoggedIn()">
              <!--<form class="cb-form" ng-submit="doLogin()">-->
              <form class="cb-form login-form">
                  <div class="list">
                      <input  type="text" ng-model="loginData.username" placeholder="{{'forms.username' | translate}}">
                      <input  type="password" ng-model="loginData.password" placeholder="{{'forms.password' | translate}}">
                      <button ng-click="doLogin()">{{"buttons.login" | translate}}</button>
                      <button ng-click="register()"> {{"buttons.register" | translate}} </button>
                  </div>

                  <div class="flash" ng-show="flashMessage">
                      {{flashMessage}}
                  </div>

              </form>

          </div>

          <a ng-if="!isLoggedIn()" class="pull-bottom" href="#" ng-click="forgotPassword()">Forgot Password?</a>
          
      </div>

  </ion-content>
</ion-view>
