<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>

        <special-event-badge></special-event-badge>

        <div cb-tooltip
             tooltip="Thatooltip"
             close-btn-text="Got it!"
             show="false">
        </div>

        <ion-nav-bar class="bar-honey">

            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-navicon-round" menu-toggle="right" ng-show="isLoggedIn()"></button>
            </ion-nav-buttons>

        </ion-nav-bar>

        <!-- TABS -->
        <ion-tabs class="tabs-cbuzz" ng-if="isLoggedIn()">
            <ion-tab title="" icon="icon-achievements" ui-sref="app.achievements" ng-if="hasRole('student')">
                <!--<ion-nav-view name="tabAchievements"></ion-nav-view>-->
            </ion-tab>

            <ion-tab title="" icon="icon-achievements" ui-sref="app.groups" ng-if="hasRole('teacher')">
                <!--<ion-nav-view name="tabAchievements"></ion-nav-view>-->
            </ion-tab>

            <ion-tab title="" icon="icon-livefeed" ui-sref="app.liveFeed">
                <!--<ion-nav-view name="tabFeed"></ion-nav-view>-->
            </ion-tab>

            <ion-tab title="" icon="icon-home" ui-sref="app.home">
                <!--<ion-nav-view name="tabHome"></ion-nav-view>-->
            </ion-tab>

            <ion-tab title="" icon="icon-rankings" ui-sref="app.leaderboards" >
                <!--<ion-nav-view name="tabRankings"></ion-nav-view>-->
            </ion-tab>

            <ion-tab title="" icon="icon-notification" ui-sref="app.notifications"">
                <!--<ion-nav-view name="tabNotifications"></ion-nav-view>-->
            </ion-tab>

        </ion-tabs>

        <ion-nav-view name="menuContent" class="core"></ion-nav-view>

    </ion-side-menu-content>

    <ion-side-menu side="right" class="cb-menu">
        <ion-header-bar class="bar-menu">
        </ion-header-bar>
        <ion-content overflow-scroll="true" class="cb-menu-content">

            <div class="version-info">Version 2.3.3 &copy; 2017 Pyrolabs SRL</div>
            <button class="cb-button cb-button-light logout-btn" ng-click="logout()" ng-if="isLoggedIn()">
                {{'menu.logout' | translate}}
            </button>

            <!--<svg style="height:0">
                <defs>
                    <clipPath id="c1" clipPathUnits="objectBoundingBox">
                        <circle cx="0.5" cy="0.5" r="0.5" id="circle"/>
                    </clipPath>
                </defs>
            </svg>-->

            <div class="cb-menu-info" ng-if="isLoggedIn()">

                <div class="avatar-wrapper">

                        <div class="avatar" ng-if="hasRole('teacher') || hasRole('student')">

                             <svg width="100%" height="100%">
                                <defs>
                                    <clipPath id="cp1" clipPathUnits="objectBoundingBox">
                                        <circle cx="0.5" cy="0.5" r="0.5" id="circleClip" />
                                    </clipPath>
                                </defs>
                                <foreignObject clip-path="url(#cp1)" width="100%" height="100%">
                                    <img ng-attr-src="{{ avatarURI }}" width="100%" height="100%" id="avatar" />
                                </foreignObject>
                            </svg>

                        </div>
                        <div class="house" ng-if="hasRole('student')">
                            <img ng-src="{{userProfile.houseLogo}}">
                        </div>
                </div>

                <div class="name" ng-if="isLoggedIn()">{{userProfile.firstName}} {{userProfile.lastName}}</div>
                <div class="money" ng-if="hasRole('student') && isLoggedIn()">{{userProfile.student.character.money}}</div>

                <div class="xp" ng-if="hasRole('student')"
                     cb-progress-bar
                     width="{{60}}vw"
                     height="{{2.5}}vh"
                     max="{{userProfile.student.character.levelInfo.xpToNext}}"
                     current="{{userProfile.student.character.levelInfo.xp}}"
                     bg-color="rgb(255,255,255)"
                     bar-color="rgb(180,1,79)"
                     caption="20%">
                </div>

            </div>

            <ion-scroll style="max-height: 40vh">
                <ion-list>

                    <ion-item class="cb-menu-item" menu-close ui-sref="app.home"  ui-sref-active="active" ng-show="isLoggedIn()">
                        <div class="item-icon-left">
                            <img class="cb-menu-icon" src="img/assets/icons/icon_home.svg">
                            {{'menu.home' | translate}}
                        </div>
                    </ion-item>

                    <ion-item class="cb-menu-item" menu-close ui-sref="app.store"  ui-sref-active="active" ng-show="isLoggedIn() && hasRole('student')">
                        <div class="item-icon-left">
                            <img class="cb-menu-icon" src="img/assets/icons/icon_store.svg">
                            {{'menu.store' | translate}}
                        </div>
                    </ion-item>

                    <ion-item class="cb-menu-item" menu-close ui-sref="app.notifications"  ui-sref-active="active" ng-show="isLoggedIn()">
                        <div class="item-icon-left">
                            <img class="cb-menu-icon" src="img/assets/icons/icon_notification.svg">
                            {{'menu.notifications' | translate}}
                        </div>
                        <span class="cb-notification-badge animated pulse infinite" ng-show="pendingNotifications > 0">{{pendingNotifications}}</span>
                    </ion-item>

                    <ion-item class="cb-menu-item" menu-close  ui-sref="app.groups"  ui-sref-active="active" ng-show="isLoggedIn() && hasRole('teacher')" >
                        <div class="item-icon-left">
                            <img class="cb-menu-icon" src="img/assets/icons/icon_groups.svg">
                            {{'menu.groups' | translate}}
                        </div>
                    </ion-item>

                    <ion-item class="cb-menu-item" menu-close ui-sref="app.children"  ui-sref-active="active" ng-show="isLoggedIn() && hasRole('parent')">
                        <div class="item-icon-left">
                            <img class="cb-menu-icon" src="img/assets/icons/icon_groups.svg">
                            {{'menu.children' | translate}}
                        </div>
                    </ion-item>

                    <div class="cb-menu-divider" ng-show="isLoggedIn()"></div>

                    <ion-item class="cb-menu-item" menu-close ui-sref="app.leaderboards"  ui-sref-active="active" ng-show="isLoggedIn()">
                        <div class="item-icon-left">
                            <!--<i class="icon ion-podium"></i>-->
                            <img class="cb-menu-icon" src="img/assets/icons/icon_rankings.svg">
                            {{'menu.leaderboards' | translate}}
                        </div>
                    </ion-item>

                    <ion-item class="cb-menu-item" menu-close ui-sref="app.achievements"  ui-sref-active="active" ng-show="isLoggedIn()  && hasRole('student')">
                        <div class="item-icon-left">
                            <img class="cb-menu-icon" src="img/assets/icons/icon_achievements.svg">
                            {{'menu.achievements' | translate}}
                        </div>
                    </ion-item>

                    <ion-item class="cb-menu-item" menu-close ui-sref="app.liveFeed"  ui-sref-active="active" ng-show="isLoggedIn()">
                        <div class="item-icon-left">
                            <!--<i class="icon ion-social-rss"></i>-->
                            <img class="cb-menu-icon" src="img/assets/icons/icon_livefeed.svg">
                            {{'menu.livefeed' | translate}}
                        </div>
                    </ion-item>

                    <ion-item class="cb-menu-item" menu-close ui-sref="app.quests"  ui-sref-active="active" ng-show="isLoggedIn()  && hasRole('student')" ui-sref-active="active">
                        <div class="item-icon-left">
                            <img class="cb-menu-icon" src="img/assets/icons/icon_quests.svg">
                            {{'menu.quests' | translate}}
                        </div>
                    </ion-item>
                    
                    <ion-item class="cb-menu-item" menu-close ui-sref="app.gamePulse"  ui-sref-active="active" ng-show="isLoggedIn()" ui-sref-active="active">
                        <div class="item-icon-left">
                            <img class="cb-menu-icon" src="img/assets/icons/icon_quests.svg">
                            {{'menu.trivia' | translate}}
                        </div>
                    </ion-item>

                    <div class="cb-menu-divider" ng-show="isLoggedIn() && hasRole('teacher') "></div>

                    <ion-item class="cb-menu-item" menu-close ui-sref="app.broadcast"  ui-sref-active="active" ng-show="isLoggedIn() && hasRole('teacher')">
                        <div class="item-icon-left">
                            <img class="cb-menu-icon" src="img/assets/icons/icon_broadcast.svg">
                            {{'menu.broadcast' | translate}}
                        </div>
                    </ion-item>

                    <ion-item class="cb-menu-item" menu-close ui-sref="app.messages"  ui-sref-active="active" ng-show="isLoggedIn() && !hasRole('student') ">
                        <div class="item-icon-left">
                            <img class="cb-menu-icon" src="/img/assets/icons/icon_messages.svg">
                            {{'menu.messages' | translate}}
                        </div>
                    </ion-item>

                    <div class="cb-menu-divider" ng-show="isLoggedIn()"></div>

                    <ion-item class="cb-menu-item" menu-close ui-sref="app.settings" ui-sref-active="active" ng-show="isLoggedIn()">
                        <div class="item-icon-left">
                            <img class="cb-menu-icon" src="img/assets/icons/icon_settings.svg">
                            {{'menu.settings' | translate}}
                        </div>
                    </ion-item>

                    <ion-item class="cb-menu-item" menu-close ui-sref="app.profile({ userId: userProfile.id})" ui-sref-active="active" ng-show="isLoggedIn()">
                        <div class="item-icon-left">
                            <img class="cb-menu-icon" src="img/assets/icons/icon_profile.svg">
                            {{'menu.profile' | translate}}
                        </div>
                    </ion-item>


                </ion-list>
            </ion-scroll>


        </ion-content>


    </ion-side-menu>


</ion-side-menus>
