.notifications {
    .notification-unread {

        h2 {
            font-weight: bolder !important;
        }

        i {
            color: #ef4e3a !important;
        }

        a {
            background-color: #e4e7d3 !important;
        }
    }

    .emerald {
        color: #1ab394;
    }

    .trophy{
        color: #f8ac59;
    }
}
