<ion-view view-title="{{'titles.livefeed' | translate}}" class="livefeed">
    <ion-content class="content">
        <ion-refresher
            pulling-text="{{'phrase.pull_refresh' | translate}}..."
            on-refresh="doRefresh()">
        </ion-refresher>

        <ion-list class="item-text-wrap" show-delete="false" can-swipe="false" ng-repeat="feed in feeds | orderBy:'-timestamp' | filter: feed.activity.reward.xp >= 0">

            <ion-item href="#/app/profile/{{feed.user._id}}" class="animated slideInRight">

                <div class="user-points">
                    {{feed.user.student.character.xp}}
                </div>

                <div class="house-award" ng-if="feed.houseAward">
                    {{"phrase.house" | translate}} +{{feed.houseAward}}
                </div>

                {{feed.description}}
                {{feed.activity.reward.xp}}
                <img class="avatar" ng-src="{{feed.user.avatarURL}}">


                <div class="from-now">
                    <i class="icon ion-clock"></i> {{fromNow(feed.timestamp)}}
                </div>

            </ion-item>


        </ion-list>

        <ion-infinite-scroll ng-if="moreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>

    </ion-content>
</ion-view>
