// Bar styles
// -----------------------------------------------------------------------------
$header-height: 70px;
$header-marker-height: 13px;

.bar {
    border: none;
    width: 100%;

    position: absolute;
    right: 0;
    top: -1px;

    color: $first-color-light;

    &.bar-honey {
        // @include section-background($transparent, "menu/background_menu_honey.svg", $position:bottom left);
        @include section-background($transparent, "menu/background_menu_honey.svg", $position:top center, $size:200% 250%);
        height: 7.2vh;
        left: auto;
        width: 50vw;
        border-bottom-left-radius: 15px;
        
        .button {
            color: $second-color-dark;
            right: 2%;
            height: 10vw;
            font-size: 3.5vw;
            line-height: 10vw;

            &:before {
                font-size: 6.5vw;
                line-height: 9vw;
                width: 7vw;
                vertical-align: top;
            }
        }

        .title {
            @include site-font(3.5vw, 700);
            position: absolute;

            //I know! but the "right" property was as inline style...Ionic FTW!!!
            right: 0px !important;

            width: 25vw;
            height: 10vw;
            line-height: 10vw;
            left: 5%;
            text-overflow: ellipsis;
        }

    }

    &.bar-menu {
        background-color: $first-color;
        background-image: url('#{$path-to-assets}/general/logo_cb_white.svg');
        background-repeat: no-repeat;
        background-size: auto (10vh);
        background-position: center 40%;
        height: $menu-bar-height;
    }

    &.bar-cbuzz {
        background-color: $first-color;
        border: none;
        position: absolute;
        background-image: none !important;

        h1 {
            @include site-font(18px, 500, $white);
            text-align: center;
            @include xy-align();
            margin: 0;
        }

    }

}
