.cb-button {
    @include remove-button-style();
    border: none;
    background-color: $first-color;
    @include site-font(2.5vw, 600, $white);
    @include border-radius(10px);

    padding-left: 10px;
    padding-right: 10px;
    min-height: 25px;
    min-width: 80px;


    &.cb-button-light {
        color: $first-color;
        background-color: $white;
    }

    &.cb-button-pink {
        color: $white;
        background-color: $theme-5;
    }

    &.cb-button-input {
        position: absolute;
        top: -5px;
        right: 0px;
        padding: 0;
        min-width: 30px;
        background-color: $transparent;
        border: 1px solid $first-color;
        color: $first-color;
    }

    &.wide{
        font-size: 12px;
        display: inline-block;
        width: 100%;
        min-height: 35px;
    }

    &.separated {
        margin-top: 10px;
    }
}

.button-white {
    color: $white;
}