$background: $first-color;
$select-color: $white;
$select-background: lighten($first-color, 6%);
$select-width: 100%;
$select-height: 35px;
$select-border-radius: 7px;

.cb-form {
    @include triple-borders(transparent, $theme-3, $theme-2, 2px, 3px, 7px, 10px);
    text-align: center;
    background: $white;

    button {
        @extend .cb-button;

        &.cb-submit-btn {
            background-color: $theme-5;
            font-size: 14px;
            font-weight: 400;
        }
    }


    select {
        @include site-font(14px, 400);
        margin-bottom: 1vw;
        position: relative;

        color: $select-color;
        width: $select-width;
        height: $select-height;
        text-align: left;
        
        background-color: $select-background;
        padding: 0px 15px;
        line-height: $select-height;

        border-top-right-radius: $select-border-radius;
        border-top-left-radius: $select-border-radius;
        border-bottom-right-radius: $select-border-radius;
        border-bottom-left-radius: $select-border-radius;
    }

    input {
        @include site-font(3vw, 500, $theme-6);
        @include placeholder-style($smoke-dark, 0px, 500, 3vw);
        //@include border-radius(10px);
        height: 7vw;
        padding-left: 15px;
        width: 100%;
        margin-bottom: 1vw;

        display: inline-block;
        font-weight: 400;
        background-color: rgba(255, 255, 255, 0);
        height: 35px;
        border-bottom: 1px solid #d9dadc;
        margin-bottom: 10px;

        &:last-of-type {
            margin-bottom: 5vw;
        }
    }


    textarea {
        @include site-font(3vw, 500, $theme-6);
        @include placeholder-style($smoke-dark, 0px, 500, 3vw);
        //@include border-radius(10px);

        min-height: 40vh;
        padding-left: 15px;
        width: 100%;
        margin-bottom: 1vw;
        font-weight: 400;
        border-bottom: 1px solid #d9dadc;
        background-color: rgba(255, 255, 255, 0);


        &:last-of-type {
            margin-bottom: 5vw;
        }
    }

    button {
        @extend .cb-button;
    }

    .cb-gender-select {
        width: 100%;
        height: 80px;
        position: relative;
        text-align: center;
        margin-bottom: 10px;

        %badge {
            display: inline-block;
            width: 50px;
            height: 50px;
            margin-top: 10px;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                @include circle-border(1px, $smoke);
                @include xy-align(50%, 120%);
            }

            &.selected {

                &:after {
                    background-color: $smoke;
                    border-color: $smoke-dark;

                }
            }

        }

        .male {
            @extend %badge;
            @include section-background($transparent, 'profile/badge_male.svg', $size:contain);

            &.selected {
                background-image: url('#{$path-to-assets}/profile/badge_male_selected.svg');
            }
        }

        .female {
            @extend %badge;
            @include section-background($transparent, 'profile/badge_female.svg', $size:contain);

            &.selected {
                background-image: url('#{$path-to-assets}/profile/badge_female_selected.svg');
            }
        }
    }

    .cb-section {
        margin-bottom: 30px;

        .cb-title {
            @include site-font(14px, 700, $first-color);
        }

        .cb-field {
            position: relative;

            input {
                display: inline-block;
                @include site-font(13px, 400, $first-color);
                @include placeholder-style($smoke-dark, 0px, 400, 13px);
                @include border-radius(0px);
                background-color: $transparent;
                height: 35px;
                padding-left: 15px;
                border-bottom: 1px solid $smoke-dark;
                width: 100%;
                margin-bottom: 10px;
            }

            textarea {
                display: inline-block;
                @include site-font(13px, 400, $first-color);
                @include placeholder-style($smoke-dark, 0px, 400, 13px);
                @include border-radius(0px);
                background-color: $transparent;
                min-height: 40vh;
                padding-left: 15px;
                border-bottom: 1px solid $smoke-dark;
                width: 100%;
                margin-bottom: 10px;
            }


            .cb-help {
                position: absolute;
                right: 20px;
                top: 15%;
            }
        }

        .cb-field-error {
            @include site-font(12px, 400, $theme-1);
        }

        .cb-field-feedback {}
    }

    .flash {
        @include site-font(2.5vw, 500, $third-color);
    }

    &.login-form {
        box-shadow: none;
        border: none;
        background: transparent;

        input {
            background: #fffefb;
            border-radius: 10px;
            color: $theme-6;
            border: 1px solid #e4e5e5;
        }
    }

}

.cb-modal-form {
    @extend %plain-background;
    height: calc(100vh - #{$header-bar-height});
    width: 100vw;
    top: 44px;

    .cb-form {
        @include x-align();
        @include border-radius(20px);
        padding: 20px;
        background-color: $white;
        width: 80vw;
        top: 20px;
    }


    .item {
        @include cardify($min-height:10vh);

        .avatar {
            @include avatarify(10vw, 1vw);
            @include y-align();
        }

        .main-content {
            position: relative;
            @include y-align();
            left: 17vw;
        }
    }
}

.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
}

.select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    @include site-font(14px, 400);
    color: $select-color;
    width: $select-width;
    height: $select-height;
    text-align: left;
}

.select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $select-background;
    padding: 0px 15px;
    line-height: $select-height;

    border-top-right-radius: $select-border-radius;
    border-top-left-radius: $select-border-radius;
    border-bottom-right-radius: $select-border-radius;
    border-bottom-left-radius: $select-border-radius;

    &:after {
        @include icon-font();
        content: $ionicon-var-android-arrow-dropdown;
        color: $first-color;
        padding: 6px 2.7vw;
        width: 8vw;
        font-size: 20px;
        height: $select-height;
        border: 1px solid $first-color;
        border-bottom-right-radius: $select-border-radius;
        border-top-right-radius: $select-border-radius;
        position: absolute;
        top: 0;
        right: 0;
        background-color: $white;
    }

    &:hover {
        //background-color: darken($select-background, 2);
    }

    &:active, &.active {
        //background-color: darken($select-background, 5);

        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

        &:after {
            border-bottom-right-radius: 0;
        }
    }
}

.select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    max-height: 200px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;


    background-color: $select-background;
    border-bottom-right-radius: $select-border-radius;
    border-bottom-left-radius: $select-border-radius;

    $select-option-height: 40px;
    li {
        margin: 0;
        //padding: 12px 0;
        line-height: $select-option-height;
        height: $select-option-height;
        text-indent: 15px;
        border-top: 1px solid darken($select-background, 5);

        &:hover {
            color: $select-background;
            background: $select-color;
        }

        &[rel="hide"] {
            display: none;
        }
    }
}


// .cb-checkbox {
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     appearance: none;

//     width: 80px;
//     height: 26px;
//     background: #333;
//     margin: 20px auto;
//     position: relative;
//     border-radius: 50px;
//     box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);

//     &:after {
//         content: 'OFF';
//         color: #000;
//         position: absolute;
//         right: 10px;
//         z-index: 0;
//         font: 12px/26px Arial, sans-serif;
//         font-weight: bold;
//         text-shadow: 1px 1px 0px rgba(255,255,255,.15);
//     }
//     &:before {
//         content: 'ON';
//         color: $activeColor;
//         position: absolute;
//         left: 10px;
//         z-index: 0;
//         font: 12px/26px Arial, sans-serif;
//         font-weight: bold;
//     }
//     label {
//         display: block;
//         width: 34px;
//         height: 20px;
//         cursor: pointer;
//         position: absolute;
//         top: 3px;
//         left: 3px;
//         z-index: 1;
//         background: #fcfff4;
//         background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
//         border-radius: 50px;
//         transition: all 0.4s ease;
//         box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
//     }

//     input[type=checkbox] {
//         visibility: hidden;

//         &:checked + label {
//             left: 43px;
//         }
//     }    
// }


.cb-checkbox {
    width: 28px;
    height: 28px;
    @include xy-align(90%, 50%);
    border-radius: 50%;

    label {
        width: 22px;
        height: 22px;
        cursor: pointer;
        @include xy-align();
        background-color: $white;
        @include circle-border(3px, lighten($gray, 30%));
        border-radius: 50%;
    }

    input[type=checkbox] {
        visibility: hidden;

        &:checked + label {
            background-color: $theme-3;
            @include circle-border(3px, $theme-1);
        }
    }    
}



.cb-slidebox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 50px;
    height: 26px;
    background: $first-color;
    border-radius: 11px;
    @include xy-align(90%, 75%);

    label {
        display: block;
        width: 18px;
        height: 18px;
        cursor: pointer;
        position: absolute;
        top: 4px;
        left: 6px;
        z-index: 1;
        background-color: $white;
        @include circle-border(2px, $gray);
        border-radius: 50%;
        transition: all 0.4s ease;
    }
    
    input[type=checkbox] {
        visibility: hidden;

        &:checked + label {
            background-color: $theme-3;
            @include circle-border(2px, $theme-1);
            left: 26px;
        }
    }    
}

.cb-fixed-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: fixed;
    bottom: 10vh;
    left: 50%;
    z-index: 100;

    &.disabled {
        button {
            background-color: $gray;
        }
    }

    button {
        @extend .cb-button;
        background-color: $theme-5;        
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        @include site-font(16px, 400, $white);
        min-height: 35px;

        &.round {
            border: none;
            width: 60px;
            height: 60px;
            @include border-radius(50%);
        }
    }

    &.left25 {
        left: 25%;
        transform: translateX(-25%);
    }

    &.left30 {
        left: 30%;
        transform: translateX(-30%);
    }

    &.left35 {
        left: 35%;
        transform: translateX(-35%);
    }

    &.left50 {
        left: 50%;
        transform: translateX(-50%);
    }

    &.left65 {
        left: 65%;
        transform: translateX(-65%);
    }

    &.left70 {
        left: 70%;
        transform: translateX(-70%);
    }

    &.left75 {
        left: 75%;
        transform: translateX(-75%);
    }
}