.cb-input {
    @include site-font(13px, 400, $first-color);
    @include placeholder-style($smoke-dark, 0px, 400, 13px);
    @include border-radius(0px);
    display: inline-block;
    border: none;
    background-color: $transparent;
    height: 35px;
    padding-left: 15px;
}

.cb-complex-input {
    position: relative
}