.cb-list {
    height: $viewport-height;
    overflow: scroll;
    overflow-x: hidden;

    .cb-list-item {
        @include cardify($min-height: 10vh, $margin: 5px);
        position: relative;
        $card-size: 21vw;
        $border-width: 1vw;
        height: $card-size;
        padding: 3vw;
        border-bottom: 1px solid $smoke;

        &.avatar {
            $avatar-size: 12vw;

            .avatar {
                @include avatarify($avatar-size, $border-width);
                @include y-align(50%);
            }

            h1 {    
                left: $avatar-size + 6vw;
            }

            h2 {
                left: $avatar-size + 6vw;
            }

            h3 {
                left: $avatar-size + 6vw;
            }

            p {
                left: $avatar-size + 6vw;
            }
        }

        h1 {
            @include site-font(15px, 800, $first-color);
            width: 60vw;
            position: absolute;
            left: 6vw;
            text-align: left;
            line-height: 13px;
            margin: 0;
            top: 10px;
            text-overflow: ellipsis;
            overflow:hidden;
            white-space:nowrap;
        }


        h2 {
            @include site-font(13px, 500, $first-color);
            width: 60vw;
            position: absolute;
            left: 6vw;
            text-align: left;
            line-height: 13px;
            margin: 0;
            top: 26px;
            text-overflow: ellipsis;
            overflow:hidden;
            white-space:nowrap;
        }

        h3 {
            @include site-font(13px, 600, $first-color);
            width: 60vw;
            position: absolute;
            left: 6vw;
            text-align: left;
            line-height: 13px;
            margin: 0;
            bottom: 20px;
            text-overflow: ellipsis;
            overflow:hidden;
            white-space:nowrap;
        }

        p {
            @include site-font(12px, 300, $gray-light);
            position: absolute;
            top: 20px;
            left: 6vw;
            text-align: left;
            line-height: 13px;
            margin: 0;
            height: 24px;
            text-overflow: ellipsis;
            overflow:hidden;
            //white-space:nowrap;
            width: 60vw;

            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        .timestamp {
            position:  absolute;
            right: 5vw;
            bottom: 15px;
            @include site-font(11px, 300, $gray-light);
        }
    }
}