.cb-menu {
    font-weight: 600;

    .cb-menu-content {
        top: $menu-bar-height;
        background-color: $first-color;
        position: absolute;

        .scroll {
            height: 100%;
        }

        .version-info {
            @include site-font(7px, 300, $gray-light);
            @include xy-align(50%, 96%);
        }

        .logout-btn {
            @include xy-align(50%, 90%);
        }
    }

    .cb-menu-info{
        margin-bottom: 25px;
        height: 13vh;
        $avatar-size: 16vw;
        $border-width: 1.3vw;
        position: relative;

        .avatar-wrapper {
            position: relative;
            left: 5%;
            width: $avatar-size;
            height: $avatar-size;

            .avatar {
                // background-color: $white;
                @include round-clip();
                width: $avatar-size;
                height: $avatar-size;
                position: relative;
                

                img {
                    background-color: $white;
                    width: 200%;
                    height: auto;
                    margin-left: -53%;
                    margin-top: -20%;
                }

                //This is to show border on top of avatar
                &:after {
                    content: "";
                    width: $avatar-size;
                    height: $avatar-size;
                    background-color: $transparent;
                    @include circle-border($border-width, $third-color);
                    @include round-clip();
                    position: absolute;
                    top: 0;
                    left: 0;
                }

            }

            .house {
                @include badgify( 8vw, 0.7vw, $first-color, $white);
                @include xy-align(90%, 90%);
                z-index: 100;
            }

        }

        $font-size: 4.5vw;

        .name {
            text-align: center;
            width: 65%;
            @include site-font($font-size, 500, $white);
            @include xy-align(57%, 20%)
        }


        .money {
            text-align: center;
            @include site-font($font-size, 500, $white);
            @include xy-align(57%, 55%);
            @include bullet-image(7vw,'quests/coin_.png');
        }

        .xp {
            @include xy-align(50%, 100%);
        }

    }

    .cb-menu-item {
        @include site-font(17px, 400, $white);
        background-color: $transparent;
        border: none;
        line-height: 6vw;
        width: 90%;
        text-overflow: ellipsis;
        padding-left: 18px;


        .item-content {
            background-color: $transparent;
            padding: 6px 0px 6px 0px;
        }

        .cb-menu-icon {
            width: 20px;
            height: 20px;
            @include xy-align(10%, 50%);
        }

    }

    .cb-menu-divider {
        height: 1px;
        margin-top: 6px;
        margin-bottom: 6px;
        border-bottom: 2px solid $theme-8;
        width: 60%;
        margin-left: 25%;
    }

}


$hamb-bar-height: 3px;
$hamb-bar-width: 20px;
$hamb-bar-space: 10px;
$hamb-box-padding: 15px;

.threebar {
    cursor: pointer;
    @include xy-align(7%, 50%);
    height: $hamb-bar-height * 3 + $hamb-bar-space * 2; /* 22px * 3 + space between (11px * 2) */
    width: $hamb-bar-width;
    padding: $hamb-box-padding;

    .bar {
        padding: 0px;
        left: $hamb-box-padding - $hamb-bar-width/2;
        position: absolute;
        width: $hamb-bar-width;
        height: $hamb-bar-height;
        background: $white;
        top: $hamb-bar-height + $hamb-bar-space;
        transition: all 0.5s ease;
        
        &:nth-child(1) {
            transform: translateY(-250%);
        }
        &:nth-child(3) {
            transform: translateY(250%);
        }
    }

    &.pink {
        .bar {
            background: $theme-5;
        }
    }

    &.cross {
        .bar:nth-child(1) {
            transform: rotate(45deg) scaleX(1.5);
        }
        .bar:nth-child(3) {
            transform: rotate(-45deg) scaleX(1.5);
        }
        .bar:nth-child(2) {
            opacity: 0;
        }
    }

    &.fore-arrow {
        .bar:nth-child(1) {
            transform-origin: right center;
            transform: translateY(33%) rotate(45deg);
        }
        .bar:nth-child(3) {
            transform-origin: right center;
            transform: translateY(-33%) rotate(-45deg);
        }
        .bar:nth-child(2) {
            opacity: 0;
        }
    }

    &.back-arrow {
        .bar:nth-child(1) {
            transform-origin: left center;
            transform: translateY(33%) rotate(-45deg);
        }
        .bar:nth-child(3) {
            transform-origin: left center;
            transform: translateY(-33%) rotate(45deg);
        }
        .bar:nth-child(2) {
            opacity: 0;
        }
    }
}