.cb-modal {
    width: 100vw;
    height: 100vh;
    @include section-background($transparent, 'quests/background_modal.svg');
    position: absolute;
    @include zoomIn($duration:0.1s);

    &.won {
        background-image: url( '#{$path-to-assets}/general/background_win.svg');

        .logo {
            @include section-background($transparent, '/general/cblogo.png', $size:contain);
            width: 50vw;
            height: 50vw;
            @include xy-align(50%, 15%);
        }

        .badge {
            @include xy-align(50%, 40%);
            width: 35vw;
            height: 35vw;

            img {
                width: 100%;
                @include xy-align();
            }
        }

        .rank {

            @include xy-align(65%, 48%);
            width: 25vw;
            height: 25vw;
            z-index: 10;

            img {
                width: 100%;
                @include xy-align();
            }
        }

        .title {
            @include site-font(20px, 600, $white);
            @include xy-align(50%, 55%);
            width: 100%;
            text-align: center;
        }

        .name {
            @include site-font(15px, 600, $white);
            @include xy-align(50%, 60%);
            width: 100%;
            text-align: center;
        }

        .close-button{
            @include xy-align(50%, 85%);
        }
    }
}
