.slider {
    @include viewport-height(relative, $top-bar-margin);

    .slider-pager-page {
        display: none;
    }
}

.slider-tabs {
    position: absolute;
    top: 20px;
    left: 10px;

    .slider-tab-item {
        @include site-font(14px, 300);
        float: left;

        &.active {
            font-weight: 700;
        }

    }

}