.tabs-cbuzz > .tabs,
.tabs.tabs-cbuzz {
  @include tab-style($tab-cbuzz-bg-color, $tab-cbuzz-border-color, $tab-cbuzz-text-color);
  @include tab-badge-style($tab-cbuzz-text-color, $tab-cbuzz-bg-color);
}

.tabs-cbuzz {

  .tab-nav.tabs {
    height: $footer-bar-height;
    padding-top: 8px;
  }

  .tab-item {

    .icon {
      height: 60%;
    }

    &.activated {
      border: none;
    }

    &.tab-item-active {
      border: none;
      position: relative;
    }

    &.tab-item-active:after {
      @include horizontal-center();
      @include circle(1.3vw, $white);

      content: "";
      bottom: 1vw;
      position: absolute;
      display: inline-block;
    }

  }

}