<ion-view view-title="{{'titles.broadcast' | translate}}" class="broadcast">
  <ion-content class="content">
      <div class="cb-modal-form">

          <form ng-submit="doBroadcastMessageWithConfirm(subject, content)" class="cb-form">


                  <div class="cb-title">
                      <!--{{"forms.center_info" | translate}}-->
                      BROADCAST TO:
                  </div>

                  <!--<div class="cb-field">
                      <div cb-select
                           cb-model = "broadcastTo"
                           cb-placeholder="-- Broadcast to --"
                           cb-data="broadcastOptions"
                           cb-key="id"
                           cb-value="name"></div>
                  </div>-->


                  <select
                    ng-model="broadcastTo"
                    ng-options="op.name for op in broadcastOptions track by op.id"
                    ng-change="changeBroadcastTo(broadcastTo)">
                  </select>

                  <!--<div class="cb-field" ng-show="broadcastTo.id == 'group'">
                      <div cb-select
                           cb-model="selectedGroup"
                           cb-placeholder="-- Select a group --"
                           cb-data="groups"
                           cb-key="id"
                           cb-value="name"></div>
                  </div>-->
                

                  <select ng-show="broadcastTo.id == 'group'"
                    ng-model="selectedGroup"
                    ng-options="group.name for group in groups track by group._id" 
                    ng-change="changeSelectedGroup(selectedGroup)">
                  </select>

                  <div class="cb-field">
                      <input type="text"
                             placeholder="{{'forms.subject' | translate}}"
                             ng-model="subject">
                  </div>

                  <div class="cb-field">
                      <textarea placeholder="{{'forms.message' | translate}}" ng-model="content"></textarea>
                  </div>

                  <button class="cb-submit-btn" type="submit">{{"buttons.send" | translate}}</button>


          </form>
      </div>

  </ion-content>
</ion-view>
