<div class="cb-modal won">
    <div class="logo"></div>
    <div class="badge">
        <img ng-src="{{data.avatarURL}}">
    </div>
    <div class="title">
        CONGRATULATIONS!
    </div>
    <div class="name">
        Achievement: {{data.name}}
    </div>
    <button class="close-button cb-button" ng-click="closeModal()">Awesome</button>
</div>