<ion-modal-view class="register">
    <ion-header-bar class="bar-cbuzz">
        <button class="button button-clear" ng-click="closeForgotPasswordModal()">
            <i class="ion-ios-arrow-back"></i> {{ "phrase.back" | translate }}
        </button>
        <h1>{{"titles.forgotPassword" | translate}}</h1>
    </ion-header-bar>

    <div cb-tooltip tooltip="Thatooltip" close-btn-text="Got it!" show="false">
    </div>


    <ion-content class="cb-modal-form">

        <form class="cb-form" name="forgotPasswordForm" novalidate="" ng-submit="sendRecoverEmail()" ng-if="roleIdx == 1">

            <div class="cb-section">
                <div class="cb-title">
                    {{"titles.recoverPassword" | translate}}
                </div>

                <div class="cb-field">
                    <div class="cb-help" ng-click="showTooltip('tooltips.forgotPassword.email')">
                        <i class="icon ion-help-circled"></i>
                    </div>

                    <input type="email" name="username" placeholder="({{'forms.email' | translate}})" ng-model="recoverData.email" required>
                </div>

            </div>

            <button class="cb-button wide" type="submit"> {{"forms.recover" | translate}} </button>

        </form>

    </ion-content>
</ion-modal-view>