<div class="cb-modal won">
    <div class="logo"></div>
    <div class="badge">
        <img ng-src="{{data.logo}}">
    </div>
    <div class="title">
        WELCOME TO YOUR NEW HOUSE!
    </div>
    <div class="name">
        You have been selected to: {{data.name}}
    </div>
    <button class="close-button cb-button" ng-click="closeModal()">Awesome</button>
</div>