<div class="cb-modal won">
    <div class="logo"></div>
    <div class="badge">
        <img src="img/assets/quests/chest_.png">
    </div>
    <div class="title">
        QUEST COMPLETED!
    </div>
    <div class="name">
        {{data.name}}
    </div>
    <button class="close-button cb-button" ng-click="closeModal()">Awesome</button>
</div>