<div class="cb-modal won">
    <div class="logo"></div>
    <div class="badge">
        <img ng-src="{{data.skill.icon}}">
    </div>
    <div class="rank">
        <img ng-src="{{data.rank.icon}}">
    </div>
    <div class="title">
        NEW RANK!
    </div>
    <div class="name">
        {{data.skill.name}}: {{data.rank.name}}
    </div>
    <button class="close-button cb-button" ng-click="closeModal()">Awesome</button>
</div>