<ion-modal-view class="register">
    <ion-header-bar class="bar-cbuzz">
        <button class="button button-clear" ng-click="closeRegisterModal()">
            <i class="ion-ios-arrow-back"></i> {{ "phrase.back" | translate }}
        </button>
        <h1>{{"titles.register" | translate}}</h1>
    </ion-header-bar>

    <div cb-tooltip tooltip="Thatooltip" close-btn-text="Got it!" show="false">
    </div>


    <div class="role-selection" ng-click="showRoleSelection = !showRoleSelection" ng-class="{'hidden': !showRoleSelection}">
        <div class="cb-role-select">
            <div class="role parent" ng-class="{'selected': roleIdx == 0}" ng-click="roleIdx = 0; updateLang('es')"> <span class="detail">{{"forms.parent" | translate}}S </span></div>
            <div class="role student" ng-class="{'selected': roleIdx == 1}" ng-click="roleIdx = 1; updateLang('en')"> <span class="detail">{{"forms.student" | translate}}S </span></div>
        </div>

        <div class="pull-me">{{"phrase.pull_me" | translate}}</div>
    </div>


    <ion-content class="cb-modal-form">

        <!--STUDENT FORM-->
        <form class="cb-form" name="registerForm" novalidate="" ng-submit="registerForm.$valid && doRegister()" ng-if="roleIdx == 1">

            <div class="cb-section">
                <div class="cb-title">
                    {{"forms.student" | translate}} <br>
                    {{"forms.center_info" | translate}}
                </div>

                <div class="cb-field">

                    <div class="cb-help" ng-click="showTooltip('tooltips.centerCode')">
                        <i class="icon ion-help-circled"></i>
                    </div>

                    <input type="text" placeholder="{{'forms.register_code' | translate}}" name="centerCode" ng-model="registerData.centerCode"
                        ui-validate-async="{codeInvalid: 'registerCodeIsValidAsync($value)'}" required ng-class="!isEmpty(registerForm.centerCode.$error) && (!registerForm.centerCode.$pristine || registerForm.$submitted) ? 'has-error' : ''">
                </div>

                <div class="cb-field-feedback" ng-show="registerData.branch">
                    <p>{{registerData.branch.name}}</p>
                </div>

                <div class="cb-field-error" ng-show="!isEmpty(registerForm.centerCode.$error) && (!registerForm.centerCode.$pristine || registerForm.$submitted)">
                    <p ng-show="registerForm.centerCode.$error.required">{{"forms.register_code" | translate}} {{"errors.required" | translate}}</p>
                    <p ng-show="registerForm.centerCode.$error.codeInvalid">{{"forms.register_code" | translate}} {{"errors.invalid" | translate}}</p>
                </div>
            </div>

            <div class="cb-section">
                <div class="cb-title">
                    {{"forms.personal_info" | translate}}
                </div>

                <!-- STUDENT GENDER -->
                <div class="cb-gender-select">
                    <div class="male" ng-class="{'selected': registerData.gender == 'M'}" ng-click="registerData.gender = 'M'"></div>
                    <div class="female" ng-class="{'selected': registerData.gender == 'F'}" ng-click="registerData.gender = 'F'"></div>
                </div>

                <div class="cb-field-error" ng-show="!isEmpty(registerForm.gender.$error) && (!registerForm.gender.$pristine || registerForm.$submitted)">
                    <p ng-show="registerForm.dni.$error.required">{{"forms.gender" | translate}} {{"errors.required" | translate}}</p>
                </div>

                <!-- STUDENT FIRST NAME -->
                <div class="cb-field">

                    <input type="text" placeholder="{{'forms.first_name' | translate}}" name="firstName" ng-model="registerData.firstName" required
                        ng-class="!isEmpty(registerForm.firstName.$error) && (!registerForm.firstName.$pristine || registerForm.$submitted) ? 'has-error' : ''">
                </div>

                <div class="cb-field-error" ng-show="!isEmpty(registerForm.firstName.$error) && (!registerForm.firstName.$pristine || registerForm.$submitted)">
                    <p ng-show="registerForm.firstName.$error.required">{{"forms.first_name" | translate}} {{"errors.required" | translate}}</p>
                </div>

                <!-- STUDENT LAST NAME -->
                <div class="cb-field">

                    <input type="text" placeholder="{{'forms.last_name' | translate}}" name="lastName" ng-model="registerData.lastName" required
                        ng-class="!isEmpty(registerForm.lastName.$error) && (!registerForm.lastName.$pristine || registerForm.$submitted) ? 'has-error' : ''">
                </div>

                <div class="cb-field-error" ng-show="!isEmpty(registerForm.lastName.$error) && (!registerForm.lastName.$pristine || registerForm.$submitted)">
                    <p ng-show="registerForm.lastName.$error.required">{{"forms.last_name" | translate}} {{"errors.required" | translate}}</p>
                </div>

                <!-- STUDENT DNI -->
                <div class="cb-field">

                    <div class="cb-help" ng-click="showTooltip('tooltips.dni')">
                        <i class="icon ion-help-circled"></i>
                    </div>

                    <input type="number" placeholder="{{'forms.dni' | translate}}" name="dni" ng-model="registerData.dni" ui-validate-async="{dniDuplicate: 'dniIsDuplicateAsync($value)'}"
                        required ng-class="!isEmpty(registerForm.dni.$error) && (!registerForm.dni.$pristine || registerForm.$submitted) ? 'has-error' : ''">
                </div>

                <div class="cb-field-error" ng-show="!isEmpty(registerForm.dni.$error) && (!registerForm.dni.$pristine || registerForm.$submitted)">
                    <p ng-show="registerForm.dni.$error.required">{{"forms.dni" | translate}} {{"errors.required" | translate}}</p>
                    <p ng-show="registerForm.dni.$error.dniDuplicate">{{"forms.dni" | translate}} <b> {{"errors.duplicate" | translate}} </b>: {{"tooltips.ifduplicatecheckemail"
                        | translate}}</p>
                </div>

                <!-- STUDENT EMAIL-->
                <div class="cb-field">
                    <div class="cb-help" ng-click="showTooltip('tooltips.email')">
                        <i class="icon ion-help-circled"></i>
                    </div>

                    <input type="email" name="email" placeholder="{{'forms.email' | translate}}" ng-model="registerData.email"
                        ng-class="!isEmpty(registerForm.email.$error) && (!registerForm.email.$pristine || registerForm.$submitted) ? 'has-error' : ''">
                </div>

                <div class="cb-field-error" ng-show="!isEmpty(registerForm.email.$error) && (!registerForm.email.$pristine || registerForm.$submitted)">
                    <p ng-show="registerForm.email.$invalid">{{"forms.email" | translate}} {{"errors.must_be_valid_email" | translate}}</p>
                </div>

                <!-- STUDENT BIRTHDAY` -->
                <div class="cb-field">

                    <div class="cb-complex-input"> 
                        <input type="text" placeholder="{{'forms.birthday' | translate}}" name="birthday" ng-model="registerData.humanBirthday"
                        required ng-class="!isEmpty(registerForm.dni.$error) && (!registerForm.dni.$pristine || registerForm.$submitted) ? 'has-error' : ''">
                        <button class="cb-button cb-button-input" ng-click="openDatePicker()"> <i class="icon ion-calendar"> </i> </button>
                    </div>

                    
                </div>

                <div class="cb-field-error" ng-show="!isEmpty(registerForm.birthday.$error) && (!registerForm.birthday.$pristine || registerForm.$submitted)">
                    <p ng-show="registerForm.dni.$error.required">{{"forms.birthday" | translate}} {{"errors.required" | translate}}</p>
                </div>

            </div>


            <div class="cb-section">
                <div class="cb-title">
                    {{"forms.credentials" | translate}}
                </div>


                <!-- STUDENT USERNAME-->
                <div class="cb-field">
                    <div class="cb-help" ng-click="showTooltip('tooltips.username')">
                        <i class="icon ion-help-circled"></i>
                    </div>

                    <input type="text" name="username" placeholder="{{'forms.username' | translate}}" ng-model="registerData.username" ui-validate-async="{usernameDuplicate: 'usernameIsDuplicateAsync($value)'}"
                        required ng-class="!isEmpty(registerForm.username.$error) && (!registerForm.username.$pristine || registerForm.$submitted) ? 'has-error' : ''">
                </div>

                <div class="cb-field-error" ng-show="!isEmpty(registerForm.username.$error) && (!registerForm.username.$pristine || registerForm.$submitted)">
                    <p ng-show="registerForm.username.$error.required">{{"forms.username" | translate}} {{"errors.required" | translate}}</p>
                    <p ng-show="registerForm.username.$error.usernameDuplicate">{{"forms.username" | translate}} <b> {{"errors.duplicate" | translate}} </b> </p>
                </div>

                <!-- STUDENT PASSWORD -->
                <div class="cb-field">
                    <div class="cb-help" ng-click="showTooltip('tooltips.password')">
                        <i class="icon ion-help-circled"></i>
                    </div>

                    <input type="password" name="password" placeholder="{{'forms.password' | translate}}" ng-model="registerData.password" required
                        ng-minlength="5" ng-class="!isEmpty(registerForm.password.$error) && (!registerForm.password.$pristine || registerForm.$submitted) ? 'has-error' : ''">
                </div>

                <div class="cb-field-error" ng-show="!isEmpty(registerForm.password.$error) && (!registerForm.password.$pristine || registerForm.$submitted)">
                    <p ng-show="registerForm.username.$error.required">{{"forms.password" | translate}} {{"errors.required" | translate}}</p>
                    <p ng-show="registerForm.password.$error.minlength">{{"forms.password" | translate}} {{"errors.longer_than" | translate}} 5 {{"errors.characters" | translate}}</p>
                </div>

            </div>

            <div class="cb-section">
                <div class="cb-title">
                    {{"forms.parent" | translate}} #1
                    <div class="cb-help" ng-click="showTooltip('tooltips.parentsInfo')">
                        <i class="icon ion-help-circled"></i>
                    </div>
                </div>

                <!-- PARENT FIRST NAME -->
                <div class="cb-field">

                    <input type="text" name="parent1firstname" placeholder="{{'forms.first_name' | translate}}" ng-model="registerData.parent1.firstName"
                        required ng-class="!isEmpty(registerForm.parent1firstname.$error) && (!registerForm.parent1firstname.$pristine || registerForm.$submitted) ? 'has-error' : ''">
                </div>

                <div class="cb-field-error" ng-show="!isEmpty(registerForm.parent1firstname.$error) && (!registerForm.parent1firstname.$pristine || registerForm.$submitted)">
                    <p ng-show="registerForm.parent1firstname.$error.required">{{"forms.first_name" | translate}} {{"errors.required" | translate}}</p>
                </div>

                <!-- PARENT LAST NAME -->
                <div class="cb-field">
                    <div class="cb-help" ng-click="tooltip('The tooltip')"></div>

                    <input type="text" placeholder="{{'forms.last_name' | translate}}" name="parent1lastname" ng-model="registerData.parent1.lastName"
                        required ng-class="!isEmpty(registerForm.parent1lastname.$error) && (!registerForm.parent1lastname.$pristine || registerForm.$submitted) ? 'has-error' : ''">
                </div>

                <div class="cb-field-error" ng-show="!isEmpty(registerForm.parent1lastname.$error) && (!registerForm.parent1lastname.$pristine || registerForm.$submitted)">
                    <p ng-show="registerForm.parent1lastname.$error.required">{{"forms.first_name" | translate}} {{"errors.required" | translate}}</p>
                </div>


                <!-- PARENT EMAIL -->
                <div class="cb-field">
                    <div class="cb-help" ng-click="tooltip('The tooltip')"></div>

                    <input type="email" placeholder="{{'forms.email' | translate}}" name="parent1email" ng-model="registerData.parent1.email"
                        ng-class="!isEmpty(registerForm.parent1email.$error) && (!registerForm.parent1email.$pristine || registerForm.$submitted) ? 'has-error' : ''">

                </div>

                <div class="cb-field-error" ng-show="!isEmpty(registerForm.parent1email.$error) && (!registerForm.parent1email.$pristine || registerForm.$submitted)">
                    <p ng-show="registerForm.parent1email.$error.required">{{"forms.email" | translate}} {{"errors.required" | translate}}</p>
                    <p ng-show="registerForm.parent1email.$invalid">{{"forms.email" | translate}} {{"errors.must_be_valid_email" | translate}}</p>
                </div>


                <!-- PARENT DNI -->
                <div class="cb-field">
                    <div class="cb-help" ng-click="tooltip('The tooltip')"></div>

                    <input type="number" placeholder="{{'forms.dni' | translate}}" name="parent1dni" ng-model="registerData.parent1.dni" required
                        ng-class="!isEmpty(registerForm.parent1dni.$error) && (!registerForm.parent1dni.$pristine || registerForm.$submitted) ? 'has-error' : ''">

                </div>

                <div class="cb-field-error" ng-show="!isEmpty(registerForm.parent1dni.$error) && (!registerForm.parent1dni.$pristine || registerForm.$submitted)">
                    <p ng-show="registerForm.parent1dni.$error.required">{{"forms.dni" | translate}} {{"errors.required" | translate}}</p>
                </div>

            </div>

            <div class="cb-section">
                <div class="cb-title">
                    {{"forms.parent" | translate}} #2 <br> ({{"phrase.optional" | translate}})
                    <div class="cb-help" ng-click="showTooltip('tooltips.parentsInfo')">
                        <i class="icon ion-help-circled"></i>
                    </div>
                </div>

                <!-- PARENT FIRST NAME -->
                <div class="cb-field">

                    <input type="text" name="parent2firstname" placeholder="{{'forms.first_name' | translate}}" ng-model="registerData.parent2.firstName"
                        ng-class="!isEmpty(registerForm.parent2firstname.$error) && (!registerForm.parent2firstname.$pristine || registerForm.$submitted) ? 'has-error' : ''">
                </div>

                <div class="cb-field-error" ng-show="!isEmpty(registerForm.parent2firstname.$error) && (!registerForm.parent2firstname.$pristine || registerForm.$submitted)">
                    <p ng-show="registerForm.parent2firstname.$error.required">{{"forms.first_name" | translate}} {{"errors.required" | translate}}</p>
                </div>

                <!-- PARENT LAST NAME -->
                <div class="cb-field">
                    <div class="cb-help" ng-click="tooltip('The tooltip')"></div>

                    <input type="text" placeholder="{{'forms.last_name' | translate}}" name="parent2lastname" ng-model="registerData.parent2.lastName"
                        ng-class="!isEmpty(registerForm.parent2lastname.$error) && (!registerForm.parent2lastname.$pristine || registerForm.$submitted) ? 'has-error' : ''">
                </div>

                <div class="cb-field-error" ng-show="!isEmpty(registerForm.parent2lastname.$error) && (!registerForm.parent2lastname.$pristine || registerForm.$submitted)">
                    <p ng-show="registerForm.parent2lastname.$error.required">{{"forms.first_name" | translate}} {{"errors.required" | translate}}</p>
                </div>


                <!-- PARENT EMAIL -->
                <div class="cb-field">
                    <div class="cb-help" ng-click="tooltip('The tooltip')"></div>

                    <input type="email" placeholder="{{'forms.email' | translate}}" name="parent2email" ng-model="registerData.parent2.email"
                        ng-class="!isEmpty(registerForm.parent2email.$error) && (!registerForm.parent2email.$pristine || registerForm.$submitted) ? 'has-error' : ''">

                </div>

                <div class="cb-field-error" ng-show="!isEmpty(registerForm.parent2email.$error) && (!registerForm.parent2email.$pristine || registerForm.$submitted)">
                    <p ng-show="registerForm.parent2email.$error.required">{{"forms.email" | translate}} {{"errors.required" | translate}}</p>
                    <p ng-show="registerForm.parent2email.$invalid">{{"forms.email" | translate}} {{"errors.must_be_valid_email" | translate}}</p>
                </div>


                <!-- PARENT DNI -->
                <div class="cb-field">
                    <div class="cb-help" ng-click="tooltip('The tooltip')"></div>

                    <input type="number" placeholder="{{'forms.dni' | translate}}" name="parent2dni" ng-model="registerData.parent2.dni"
                        ng-class="!isEmpty(registerForm.parent2dni.$error) && (!registerForm.parent2dni.$pristine || registerForm.$submitted) ? 'has-error' : ''">

                </div>

                <div class="cb-field-error" ng-show="!isEmpty(registerForm.parent2dni.$error) && (!registerForm.parent2dni.$pristine || registerForm.$submitted)">
                    <p ng-show="registerForm.parent2dni.$error.required">{{"forms.dni" | translate}} {{"errors.required" | translate}}</p>
                </div>

            </div>

            <button class="cb-button wide" type="submit">
                        Register
                    </button>
        </form>



        <!--PARENT FORM-->
        <form class="cb-form" name="registerForm" novalidate="" ng-submit="registerForm.$valid && doRegisterParent()" ng-if="roleIdx == 0">

            <div class="cb-section">
                <div class="cb-title">
                    {{"forms.parent" | translate}} <br>
                    {{"forms.personal_info" | translate}}
                </div>

                <!-- GENDER -->
                <div class="cb-gender-select">
                    <div class="male" ng-class="{'selected': registerData.gender == 'M'}" ng-click="registerData.gender = 'M'"></div>
                    <div class="female" ng-class="{'selected': registerData.gender == 'F'}" ng-click="registerData.gender = 'F'"></div>
                </div>

                <div class="cb-field-error" ng-show="!isEmpty(registerForm.gender.$error) && (!registerForm.gender.$pristine || registerForm.$submitted)">
                    <p ng-show="registerForm.dni.$error.required">{{"forms.gender" | translate}} {{"errors.required" | translate}}</p>
                </div>

                <!-- FIRST NAME -->
                <div class="cb-field">

                    <input type="text" placeholder="{{'forms.first_name' | translate}}" name="firstName" ng-model="registerData.firstName" required
                        ng-class="!isEmpty(registerForm.firstName.$error) && (!registerForm.firstName.$pristine || registerForm.$submitted) ? 'has-error' : ''">
                </div>

                <div class="cb-field-error" ng-show="!isEmpty(registerForm.firstName.$error) && (!registerForm.firstName.$pristine || registerForm.$submitted)">
                    <p ng-show="registerForm.firstName.$error.required">{{"forms.first_name" | translate}} {{"errors.required" | translate}}</p>
                </div>

                <!-- LAST NAME -->
                <div class="cb-field">

                    <input type="text" placeholder="{{'forms.last_name' | translate}}" name="lastName" ng-model="registerData.lastName" required
                        ng-class="!isEmpty(registerForm.lastName.$error) && (!registerForm.lastName.$pristine || registerForm.$submitted) ? 'has-error' : ''">
                </div>

                <div class="cb-field-error" ng-show="!isEmpty(registerForm.lastName.$error) && (!registerForm.lastName.$pristine || registerForm.$submitted)">
                    <p ng-show="registerForm.lastName.$error.required">{{"forms.last_name" | translate}} {{"errors.required" | translate}}</p>
                </div>

                <!-- DNI -->
                <div class="cb-field">

                    <div class="cb-help" ng-click="showTooltip('tooltips.dni')">
                        <i class="icon ion-help-circled"></i>
                    </div>

                    <input type="number" placeholder="{{'forms.dni' | translate}}" name="dni" ng-model="registerData.dni" ui-validate-async="{dniDuplicate: 'parentDNIIsValidAsync($value)'}"
                        required ng-class="!isEmpty(registerForm.dni.$error) && (!registerForm.dni.$pristine || registerForm.$submitted) ? 'has-error' : ''">
                </div>

                <div class="cb-field-error" ng-show="!isEmpty(registerForm.dni.$error) && (!registerForm.dni.$pristine || registerForm.$submitted)">
                    <p ng-show="registerForm.dni.$error.required">{{"forms.dni" | translate}} {{"errors.required" | translate}}</p>
                    <p ng-show="registerForm.dni.$error.dniDuplicate"> <p> {{"forms.already_registered" | translate}} {{"phrase.or" | translate}} {{"forms.no_children" | translate}}  </p>
                </div>

                <!-- EMAIL -->
                <div class="cb-field">
                    <div class="cb-help" ng-click="showTooltip('tooltips.email')">
                        <i class="icon ion-help-circled"></i>
                    </div>

                    <input type="email" name="email" placeholder="{{'forms.email' | translate}}" ng-model="registerData.email"
                        ng-class="!isEmpty(registerForm.email.$error) && (!registerForm.email.$pristine || registerForm.$submitted) ? 'has-error' : ''">
                </div>

                <div class="cb-field-error" ng-show="!isEmpty(registerForm.email.$error) && (!registerForm.email.$pristine || registerForm.$submitted)">
                    <p ng-show="registerForm.email.$error.required">{{"forms.email" | translate}} {{"errors.required" | translate}}</p>
                    <p ng-show="registerForm.email.$invalid">{{"forms.email" | translate}} {{"errors.must_be_valid_email" | translate}}</p>
                </div>

            </div>



            <div class="cb-section">
                <div class="cb-title">
                    {{"forms.credentials" | translate}}
                </div>

                <!-- USERNAME -->
                <div class="cb-field">
                    <div class="cb-help" ng-click="showTooltip('tooltips.email')">
                        <i class="icon ion-help-circled"></i>
                    </div>

                    <input type="text" name="username" placeholder="{{'forms.username' | translate}}" ng-model="registerData.username" ui-validate-async="{usernameDuplicate: 'usernameIsDuplicateAsync($value)'}"
                        required ng-class="!isEmpty(registerForm.username.$error) && (!registerForm.username.$pristine || registerForm.$submitted) ? 'has-error' : ''">
                </div>

                <div class="cb-field-error" ng-show="!isEmpty(registerForm.username.$error) && (!registerForm.username.$pristine || registerForm.$submitted)">
                    <p ng-show="registerForm.username.$error.required">{{"forms.username" | translate}} {{"errors.required" | translate}}</p>
                    <p ng-show="registerForm.username.$error.usernameDuplicate">{{"forms.username" | translate}} <b> {{"errors.duplicate" | translate}} </b> </p>
                </div>

                <!-- PASSWORD -->
                <div class="cb-field">
                    <div class="cb-help" ng-click="showTooltip('tooltips.password')">
                        <i class="icon ion-help-circled"></i>
                    </div>

                    <input type="password" name="password" placeholder="{{'forms.password' | translate}}" ng-model="registerData.password" required
                        ng-minlength="5" ng-class="!isEmpty(registerForm.password.$error) && (!registerForm.password.$pristine || registerForm.$submitted) ? 'has-error' : ''">
                </div>

                <div class="cb-field-error" ng-show="!isEmpty(registerForm.password.$error) && (!registerForm.password.$pristine || registerForm.$submitted)">
                    <p ng-show="registerForm.username.$error.required">{{"forms.password" | translate}} {{"errors.required" | translate}}</p>
                    <p ng-show="registerForm.password.$error.minlength">{{"forms.password" | translate}} {{"errors.longer_than" | translate}} 5 {{"errors.characters" | translate}}</p>
                </div>

            </div>

            <button class="cb-button wide" type="submit">
                        Register
                    </button>
        </form>

    </ion-content>
</ion-modal-view>
